trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd26/tags/xsd26-release-031413/BCR/tcga.nci/bcr/xml/clinical/stad/2.6/TCGA_BCR.STAD_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: TCGA_BCR.STAD_Clinical.xsd 1257 2011-09-26 20:57:29Z kburnett $ -->
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:utility="http://tcga.nci/bcr/xml/utility/2.6" 
 xmlns:admin="http://tcga.nci/bcr/xml/administration/2.6" 
 xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.6" 
 xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.6"
 xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.6" 
 xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.6" 
 xmlns:follow_up_v1.0="http://tcga.nci/bcr/xml/clinical/stad/followup/2.6/1.0" 
 xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.6" 
 xmlns="http://tcga.nci/bcr/xml/clinical/stad/2.6" 
 targetNamespace="http://tcga.nci/bcr/xml/clinical/stad/2.6" 
 elementFormDefault="qualified" 
 version="2.6.0">
 
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the STAD study.</xs:documentation>
	</xs:annotation>
	
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.6/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.6/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Stage_Clinical_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.6/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.6/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/stad/followup/2.6/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/stad/followup/2.6/TCGA_BCR.STAD_Clinical_FollowUp_v1.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.6/TCGA_BCR.CQCF.xsd"/>
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.6"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shared:tumor_tissue_site"/>
				<xs:element ref="shared:histological_type"/>
				<xs:element ref="shared:prior_dx"/>
				<xs:element ref="shared:gender"/>
				<xs:element ref="shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_birth"/>
						<xs:element ref="shared:month_of_birth"/>
						<xs:element ref="shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_birth"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_death"/>
						<xs:element ref="shared:month_of_death"/>
						<xs:element ref="shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_death"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_last_followup"/>
						<xs:element ref="shared:month_of_last_followup"/>
						<xs:element ref="shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_last_followup"/>
				</xs:choice>
				<xs:element ref="shared:race"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:element ref="shared:informed_consent_verified"/>
				<xs:element ref="shared:icd_o_3_site"/>
				<xs:element ref="shared:icd_o_3_histology"/>
				<xs:element ref="shared:icd_10"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="shared:days_to_initial_pathologic_diagnosis"/>
						<xs:element ref="shared:age_at_initial_pathologic_diagnosis"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="shared:ethnicity"/>
				<xs:element ref="shared:person_neoplasm_cancer_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_form_completion"/>
						<xs:element ref="shared:month_of_form_completion"/>
						<xs:element ref="shared:year_of_form_completion"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_form_completion"/>
				</xs:choice>
			
				<xs:element ref="shared:anatomic_neoplasm_subdivision"/>
				<xs:element ref="shared:primary_lymph_node_presentation_assessment"/>
				<xs:element ref="shared:lymph_node_examined_count"/>
				<xs:element ref="shared:number_of_lymphnodes_positive_by_he"/>
				<xs:element ref="shared:number_of_lymphnodes_positive_by_ihc"/>
				
				<xs:element ref="shared_stage:stage_event" />
				
				<xs:element ref="shared:neoplasm_histologic_grade"/>
				<xs:element ref="state_province_country_of_procurement"/>
				<xs:element ref="city_of_procurement"/>
				<xs:element ref="shared:residual_tumor"/>
				<xs:element ref="reflux_history"/>
				<xs:element ref="antireflux_treatment"/>
				<xs:element ref="antireflux_treatment_types"/>
				<xs:element ref="barretts_esophagus"/>
				<xs:element ref="h_pylori_infection"/>
				<xs:element ref="family_history_of_stomach_cancer"/>
				<xs:element ref="number_of_relatives_with_stomach_cancer"/>
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				<xs:element ref="clinical_cqcf"/>
				<xs:element ref="follow_ups" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation>We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="follow_up_v1.0:follow_up" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
				
	<xs:element name="clinical_cqcf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cqcf:frozen_specimen_anatomic_site"/>
				<xs:element ref="cqcf:history_of_prior_malignancy"/>
								<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
								<xs:element ref="cqcf:consent_or_death_status"/>
								<xs:choice>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="cqcf:day_of_consent"/>
											<xs:element ref="cqcf:month_of_consent"/>
											<xs:element ref="cqcf:year_of_consent"/>
										</xs:sequence>
										<xs:element ref="cqcf:days_to_consent"/>
									</xs:choice>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="shared:day_of_death"/>
											<xs:element ref="shared:month_of_death"/>
											<xs:element ref="shared:year_of_death"/>
										</xs:sequence>
										<xs:element ref="shared:days_to_death"/>
									</xs:choice>
								</xs:choice>
								<xs:element ref="cqcf:diagnosis_subtype"/>
								<xs:element ref="shared:prior_dx"/>
								<xs:element ref="cqcf:normal_tissue_anatomic_site" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:normal_tissue_proximity" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:tumor_type" maxOccurs="unbounded"/>
								<xs:element ref="shared:histological_type"/>
								<xs:element ref="cqcf:other_anatomic_site"/>
								<xs:element ref="cqcf:other_anatomic_site_normal_tissue" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="number_of_relatives_with_stomach_cancer" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3203277"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="antireflux_treatment_types">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="antireflux_treatment_type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="antireflux_treatment_type" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Proton Pump Inhibitors"/>
					<xs:enumeration value="H2 Blockers"/>
					<xs:enumeration value="Antacids"/>
					<xs:attribute name="cde" type="xs:string" default="3203127"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="h_pylori_infection" nillable="true">
		<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="utility:yes_or_no">
							<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
							<xs:attribute name="cde" type="xs:string" default="3203146"/>
							<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
							<xs:attribute name="tier" type="xs:string" default="2"/>
						</xs:extension>
					</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="state_province_country_of_procurement" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3203072"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="city_of_procurement" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3203075"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="reflux_history" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3203079"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="antireflux_treatment" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3203107"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="barretts_esophagus" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3203140"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="family_history_of_stomach_cancer" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3203179"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
