trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/lihc/2.4/TCGA_BCR.LIHC_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.LIHC_Clinical.xsd 850 2011-04-26 18:52:39Z nxv002 $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/lihc/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/lihc/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.lihc"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the LIHC study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="tissue_prospective_collection_indicator" />
                <xs:element ref="tissue_retrospective_collection_indicator" />                

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:height" />
                <xs:element ref="shared:weight" />
                <xs:element ref="shared:race" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:vital_status" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" />
                        <xs:element ref="shared:month_of_last_known_alive" />
                        <xs:element ref="shared:year_of_last_known_alive" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_last_known_alive" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="relative_family_cancer_history_ind_3" />
                <xs:element ref="cancer_diagnosis_first_degree_relative_number" />
                <xs:element ref="hepatocellular_carcinoma_primary_risk_factor_name" />
                <xs:element ref="hepatocellular_carcinoma_risk_factor_specify" />
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="neoplasm_histologic_type_name" />
                <xs:element ref="specimen_collection_method_name" />
                <xs:element ref="surgical_procedure_name_other_specify_text" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="day_of_definitive_surgical_procedure_performed" />
                        <xs:element ref="month_of_definitive_surgical_procedure_performed" />
                        <xs:element ref="year_of_definitive_surgical_procedure_performed" />
                    </xs:sequence>
                    
                    <xs:element ref="days_to_definitive_surgical_procedure_performed" />
                </xs:choice>
                
                <xs:element ref="neoplasm_histologic_grade" />
                <xs:element ref="surgical_margin_resection_status" />
                <xs:element ref="american_joint_committee_on_cancer_publication_version_type" />
                <xs:element ref="american_joint_committee_on_cancer_tumor_stage_code" />
                <xs:element ref="neoplasm_disease_lymph_node_stage_american_joint_committee_on_cancer_code" />
                <xs:element ref="american_joint_committee_on_cancer_metastasis_stage_code" />
                <xs:element ref="neoplasm_disease_stage_american_joint_committee_on_cancer_code" />
                <xs:element ref="vascular_tumor_cell_invasion_type" />
                <xs:element ref="child_pugh_classification_grade" />
                <xs:element ref="laboratory_procedure_alpha_fetoprotein_outcome_value" />
                <xs:element ref="laboratory_procedure_alpha_fetoprotein_outcome_lower_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_alpha_fetoprotein_outcome_upper_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_platelet_result_specified_value" />
                <xs:element ref="laboratory_prcoedure_platelet_result_lower_limit_of_normal_value" />
                <xs:element ref="laboratory_prcoedure_platelet_result_upper_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_prothrombin_time_result_value" />
                <xs:element ref="laboratory_procedure_international_normalization_ratio_result_lower_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_international_normalization_ratio_result_upper_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_albumin_result_specified_value" />
                <xs:element ref="laboratory_procedure_albumin_result_lower_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_albumin_result_upper_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_total_bilirubin_result_specified_upper_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_total_bilirubin_result_specified_lower_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_total_bilirubin_result_upper_limit_normal_value" />
                <xs:element ref="hematology_serum_creatinine_laboratory_result_value_in_mg_dl" />
                <xs:element ref="laboratory_procedure_creatinine_result_lower_limit_of_normal_value" />
                <xs:element ref="laboratory_procedure_creatinine_result_upper_limit_of_normal_value" />
                <xs:element ref="liver_fibrosis_ishak_score_category" />
                <xs:element ref="adjacent_hepatic_tissue_inflammation_extent_type" />
                <xs:element ref="performance_status_assessment_eastern_cooperative_oncology_group_scale" />
                
                <!-- Required elements for all Diseases -->
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
                
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_prospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_retrospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="relative_family_cancer_history_ind_3" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Yes" />
                    <xs:enumeration value="No" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="2691192" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="cancer_diagnosis_first_degree_relative_number" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3171640" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="hepatocellular_carcinoma_primary_risk_factor_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Alcohol consumption" />
                    <xs:enumeration value="Alpha-1 Antitrypsin Deficiency" />
                    <xs:enumeration value="Hemochromatosis" />
                    <xs:enumeration value="Hepatitis B" />
                    <xs:enumeration value="Hepatitis C" />
                    <xs:enumeration value="No History of Primary Risk Factors" />
                    <xs:enumeration value="Non-Alcoholic Fatty Liver Disease" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3171846" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="hepatocellular_carcinoma_risk_factor_specify" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3171859" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="neoplasm_histologic_type_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Hepatocellular Carcinoma" />
                    <xs:enumeration value="Fibrolamellar Carcinoma" />
                    <xs:enumeration value="Hepatocholangiocarcinoma (Mixed)" />
                    <xs:attribute name="cde" type="xs:string" default="3081934" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="specimen_collection_method_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Extended Lobectomy " />
                    <xs:enumeration value="Lobectomy" />
                    <xs:enumeration value="Other (specify)" />
                    <xs:enumeration value="Segmentectomy, Multiple" />
                    <xs:enumeration value="Segmentectomy, Single " />
                    <xs:enumeration value="Total Hepatectomy with Transplant" />
                    <xs:attribute name="cde" type="xs:string" default="3131309" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="surgical_procedure_name_other_specify_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3121814" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="day_of_definitive_surgical_procedure_performed">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3167977" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="month_of_definitive_surgical_procedure_performed">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3167965" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="year_of_definitive_surgical_procedure_performed">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3167978" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="days_to_definitive_surgical_procedure_performed">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="neoplasm_histologic_grade" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="G1" />
                    <xs:enumeration value="G2" />
                    <xs:enumeration value="G3" />
                    <xs:enumeration value="G4" />
                    <xs:enumeration value="GX" />
                    <xs:attribute name="cde" type="xs:string" default="2785839" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="surgical_margin_resection_status" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="RX" />
                    <xs:enumeration value="R0" />
                    <xs:enumeration value="R1" />
                    <xs:enumeration value="R2" />
                    <xs:attribute name="cde" type="xs:string" default="2608702" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="american_joint_committee_on_cancer_publication_version_type" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="1st" />
                    <xs:enumeration value="2nd" />
                    <xs:enumeration value="3rd" />
                    <xs:enumeration value="4th" />
                    <xs:enumeration value="5th" />
                    <xs:enumeration value="6th" />
                    <xs:enumeration value="7th" />
                    <xs:attribute name="cde" type="xs:string" default="2722309" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="american_joint_committee_on_cancer_tumor_stage_code" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="T0" />
                    <xs:enumeration value="T1" />
                    <xs:enumeration value="T1a" />
                    <xs:enumeration value="T1b" />
                    <xs:enumeration value="T1c" />
                    <xs:enumeration value="T1mi" />
                    <xs:enumeration value="T2" />
                    <xs:enumeration value="T2a" />
                    <xs:enumeration value="T2b" />
                    <xs:enumeration value="T2c" />
                    <xs:enumeration value="T3" />
                    <xs:enumeration value="T3a" />
                    <xs:enumeration value="T3b" />
                    <xs:enumeration value="T3c" />
                    <xs:enumeration value="T4" />
                    <xs:enumeration value="T4a" />
                    <xs:enumeration value="T4b" />
                    <xs:enumeration value="T4c" />
                    <xs:enumeration value="T4d" />
                    <xs:enumeration value="Ta" />
                    <xs:enumeration value="Tis" />
                    <xs:enumeration value="Tis (DCIS)" />
                    <xs:enumeration value="Tis (LCIS)" />
                    <xs:enumeration value="Tis (Paget's)" />
                    <xs:enumeration value="TX" />
                    <xs:attribute name="cde" type="xs:string" default="3045435" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="neoplasm_disease_lymph_node_stage_american_joint_committee_on_cancer_code" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="N0" />
                    <xs:enumeration value="N0 (i+)" />
                    <xs:enumeration value="N0 (i-)" />
                    <xs:enumeration value="N0 (mol+)" />
                    <xs:enumeration value="N0 (mol-)" />
                    <xs:enumeration value="N1" />
                    <xs:enumeration value="N1a" />
                    <xs:enumeration value="N1b" />
                    <xs:enumeration value="N1bI" />
                    <xs:enumeration value="N1bII" />
                    <xs:enumeration value="N1bIII" />
                    <xs:enumeration value="N1bIV" />
                    <xs:enumeration value="N1c" />
                    <xs:enumeration value="N1mi" />
                    <xs:enumeration value="N2" />
                    <xs:enumeration value="N2a" />
                    <xs:enumeration value="N2b" />
                    <xs:enumeration value="N3" />
                    <xs:enumeration value="N3a" />
                    <xs:enumeration value="N3b" />
                    <xs:enumeration value="N3c" />
                    <xs:enumeration value="N4" />
                    <xs:enumeration value="NX" />
                    <xs:attribute name="cde" type="xs:string" default="3203106" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="american_joint_committee_on_cancer_metastasis_stage_code" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="cM0 (i+)" />
                    <xs:enumeration value="M0" />
                    <xs:enumeration value="M1" />
                    <xs:enumeration value="M1a" />
                    <xs:enumeration value="M1b" />
                    <xs:enumeration value="M1c" />
                    <xs:enumeration value="MX" />
                    <xs:attribute name="cde" type="xs:string" default="3045439" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="neoplasm_disease_stage_american_joint_committee_on_cancer_code" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Stage 0" />
                    <xs:enumeration value="Stage I" />
                    <xs:enumeration value="Stage IA" />
                    <xs:enumeration value="Stage IA1" />
                    <xs:enumeration value="Stage IA2" />
                    <xs:enumeration value="Stage IB" />
                    <xs:enumeration value="Stage IB Cervix" />
                    <xs:enumeration value="Stage IB1" />
                    <xs:enumeration value="Stage IB2" />
                    <xs:enumeration value="Stage II" />
                    <xs:enumeration value="Stage II Cervix" />
                    <xs:enumeration value="Stage IIA" />
                    <xs:enumeration value="Stage IIA Cervix" />
                    <xs:enumeration value="Stage IIB" />
                    <xs:enumeration value="Stage IIC" />
                    <xs:enumeration value="Stage III" />
                    <xs:enumeration value="Stage IIIA" />
                    <xs:enumeration value="Stage IIIB" />
                    <xs:enumeration value="Stage IIIC" />
                    <xs:enumeration value="Stage IV" />
                    <xs:enumeration value="Stage IVA" />
                    <xs:enumeration value="Stage IVB" />
                    <xs:enumeration value="Stage IVC" />
                    <xs:enumeration value="Stage Tis" />
                    <xs:enumeration value="Stage X" />
                    <xs:attribute name="cde" type="xs:string" default="3203222" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="vascular_tumor_cell_invasion_type" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Macro" />
                    <xs:enumeration value="Micro" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3168001" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="child_pugh_classification_grade" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="A" />
                    <xs:enumeration value="B" />
                    <xs:enumeration value="C" />
                    <xs:attribute name="cde" type="xs:string" default="2931791" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_alpha_fetoprotein_outcome_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2932074" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_alpha_fetoprotein_outcome_lower_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3171861" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="laboratory_procedure_alpha_fetoprotein_outcome_upper_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2932064" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_platelet_result_specified_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="58304" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_prcoedure_platelet_result_lower_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2003885" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_prcoedure_platelet_result_upper_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2596499" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_prothrombin_time_result_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2459694" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_international_normalization_ratio_result_lower_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2799755" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_international_normalization_ratio_result_upper_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3171875" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_albumin_result_specified_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="58274" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_albumin_result_lower_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2004085" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_albumin_result_upper_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2004086" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_total_bilirubin_result_specified_upper_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2003891" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_total_bilirubin_result_specified_lower_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2718241" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_total_bilirubin_result_upper_limit_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2004060" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="hematology_serum_creatinine_laboratory_result_value_in_mg_dl" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2655822" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_creatinine_result_lower_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2634934" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="laboratory_procedure_creatinine_result_upper_limit_of_normal_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2183392" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="liver_fibrosis_ishak_score_category" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0 - No Fibrosis" />
                    <xs:enumeration value="1,2 - Portal Fibrosis" />
                    <xs:enumeration value="3,4 - Fibrous Speta" />
                    <xs:enumeration value="5 - Nodular Formation and Incomplete Cirrhosis" />
                    <xs:enumeration value="6 - Established Cirrhosis" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3182621" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="adjacent_hepatic_tissue_inflammation_extent_type" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Mild" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Severe" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3173974" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="performance_status_assessment_eastern_cooperative_oncology_group_scale" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:enumeration value="5" />
                    <xs:attribute name="cde" type="xs:string" default="88" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>