trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25b/trunk/BCR/tcga.nci/bcr/xml/clinical/brca/2.5b/TCGA_BCR.BRCA_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.BRCA_Clinical.xsd 929 2011-06-17 19:33:27Z nxv002 $ -->

<xs:schema elementFormDefault="qualified" version="2.5.b" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5b"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5b"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5b"
  xmlns:brca_shared="http://tcga.nci/bcr/xml/clinical/brca/shared/2.5b"  
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5b"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5b"
  xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.5b"
  xmlns:follow_up_v1.5="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5b/1.5"
  xmlns:follow_up_v2.1="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5b/2.1"
  xmlns="http://tcga.nci/bcr/xml/clinical/brca/2.5b"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/brca/2.5b"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
      
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.brca"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
  
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the BRCA study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5b" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5b/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5b" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5b/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5b" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5b/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5b" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5b/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5b" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5b/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.5b" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.5b/TCGA_BCR.CQCF.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/brca/shared/2.5b" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/brca/shared/2.5b/TCGA_BCR.BRCA_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5b/1.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/brca/followup/2.5b/TCGA_BCR.BRCA_Clinical_FollowUp_v1.5.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5b/2.1" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/brca/followup/2.5b/TCGA_BCR.BRCA_Clinical_FollowUp_v2.1.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:gender" />
                
                <xs:element ref="shared:vital_status">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The vital_status question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" />
                        <xs:element ref="shared:month_of_last_known_alive" />
                        <xs:element ref="shared:year_of_last_known_alive" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_known_alive" />
                </xs:choice>
                
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The date_of_death question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" /> 
                        <xs:element ref="shared:month_of_death" /> 
                        <xs:element ref="shared:year_of_death" /> 
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
               
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The date_of_last_followup question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" /> 
                        <xs:element ref="shared:month_of_last_followup" /> 
                        <xs:element ref="shared:year_of_last_followup" /> 
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:element ref="shared:race" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" /> 
                <xs:element ref="shared:ethnicity" /> 
                <xs:element ref="shared:person_neoplasm_cancer_status">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The person_neoplasm_cancer_status question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element ref="primary_lymph_node_presentation_assessment_ind3" />
                <xs:element ref="lymph_node_examined_count" />
                <xs:element ref="brca_shared:er_detection_method_text" />
                <xs:element ref="brca_shared:pgr_detection_method_text" />
				<xs:element ref="shared:ajcc_cancer_staging_handbook_edition" minOccurs="0" maxOccurs="1" />
                <xs:element ref="breast_tumor_pathologic_t_stage" />
                <xs:element ref="breast_tumor_pathologic_n_stage" />
                <xs:element ref="anatomic_site_location_descriptors" />
                <xs:element ref="brca_shared:her2_neu_chromosone_17_signal_ratio_value" />
                <xs:element ref="axillary_lymph_node_stage_method_type" />
                <xs:element ref="axillary_lymph_node_stage_other_method_descriptive_text" />
                <xs:element ref="primary_other_site_of_disease_name" />
                <xs:element ref="breast_carcinoma_surgical_procedure_name" />
                <xs:element ref="breast_neoplasm_other_surgical_procedure_descriptive_text" />
                <xs:element ref="breast_carcinoma_first_surgical_procedure_name" />
                <xs:element ref="surgical_procedure_purpose_other_text" />
                <xs:element ref="breast_cancer_optical_measurement_histologic_type" />
                <xs:element ref="tumor_other_histologic_subtype_descriptive_text" />
                <xs:element ref="person_menopause_status" />
                
                <xs:element ref="brca_shared:breast_carcinoma_progesterone_receptor_status" />
                <xs:element ref="cytokeratin_immunohistochemistry_staining_method_micrometastasis_indicator" />
				<xs:element ref="breast_carcinoma_immunohistochemistry_er_pos_finding_scale" />
                <xs:element ref="brca_shared:immunohistochemistry_positive_cell_score" />
                <xs:element ref="brca_shared:her2_immunohistochemistry_level_result" />
                <xs:element ref="breast_cancer_surgery_margin_status" />
                <xs:element ref="disease_surgical_margin_status" />
                <xs:element ref="first_pathologic_diagnosis_biospecimen_acquisition_method_type" />
                <xs:element ref="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" />
                <xs:element ref="brca_shared:lab_procedure_her2_neu_in_situ_hybrid_outcome_type" />
                <xs:element ref="brca_shared:breast_carcinoma_estrogen_receptor_status" />
                <xs:element ref="brca_shared:lab_proc_her2_neu_immunohistochemistry_receptor_status" />
                <xs:element ref="pos_finding_lymph_node_keratin_immunohistochemistry_staining_method_count" />
                <xs:element ref="pos_finding_lymph_node_hematoxylin_and_eosin_staining_microscopy_count" />
                <xs:element ref="brca_shared:pos_finding_progesterone_receptor_other_measurement_scale_text" />
                <xs:element ref="brca_shared:positive_finding_estrogen_receptor_other_measurement_scale_text" />
                <xs:element ref="brca_shared:her2_erbb_pos_finding_cell_percent_category" />
                <xs:element ref="brca_shared:pos_finding_her2_erbb2_other_measurement_scale_text" />
                <xs:element ref="brca_shared:her2_erbb_method_calculation_method_text" />
                <xs:element ref="brca_shared:her2_neu_and_centromere_17_copy_number_analysis_input_total_number_count" />
                <xs:element ref="brca_shared:her2_and_centromere_17_positive_finding_other_measurement_scale_text" />
                <xs:element ref="brca_shared:her2_erbb_pos_finding_fluorescence_in_situ_hybridization_calculation_method_text" />
                <xs:element ref="tissue_prospective_collection_indicator" />
                <xs:element ref="tissue_retrospective_collection_indicator" />
                <xs:element ref="brca_shared:fluorescence_in_situ_hybridization_diagnostic_procedure_chromosome_17_signal_result_range" />
                <xs:element ref="first_nonlymph_node_metastasis_anatomic_sites" />
                <xs:element ref="breast_tumor_clinical_m_stage" />
                <xs:element ref="brca_shared:er_level_cell_percentage_category" />
                <xs:element ref="brca_shared:progesterone_receptor_level_cell_percent_category" />
				<xs:element ref="distant_metastasis_present_ind2" />  
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_status" />               
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_level_cell_percent_category" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_immunohistochemistry_er_pos_cell_score" /> 
                <xs:element ref="brca_shared:pos_finding_metastatic_breast_carcinoma_estrogen_receptor_other_measuremenet_scale_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_detection_method_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_status" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_lab_proc_her2_neu_immunohistochemistry_receptor_status" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_level_cell_percent_category" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_immunohistochemistry_pr_pos_cell_score" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_progesterone_receptor_other_measure_scale_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_detection_method_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_pos_finding_cell_percent_category" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_erbb2_immunohistochemistry_level_result" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_her2_erbb2_other_measure_scale_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_method_calculation_method_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_lab_proc_her2_neu_in_situ_hybridization_outcome_type" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_fluorescence_in_situ_hybridization_diagnostic_proc_centromere_17_signal_result_range" /> 
                <xs:element ref="brca_shared:her2_neu_and_centromere_17_copy_number_metastatic_breast_carcinoma_analysis_input_total_number_count" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_neu_chromosone_17_signal_ratio_value" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_other_scale_measurement_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_pos_finding_fluorescence_in_situ_hybridization_calculation_method_text" /> 
                <xs:element ref="brca_shared:her2_neu_metastatic_breast_carcinoma_copy_analysis_input_total_number" /> 
                <xs:element ref="brca_shared:her2_neu_breast_carcinoma_copy_analysis_input_total_number" />  
				<xs:element ref="breast_carcinoma_immunohistochemistry_progesterone_receptor_pos_finding_scale" />
                <xs:element ref="brca_shared:breast_carcinoma_immunohistochemistry_pos_cell_score" /> 
                <xs:element ref="breast_tumor_pathologic_grouping_stage" />
                
                <xs:choice>
					<xs:annotation>
					<xs:documentation xml:lang="en">
						Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
						If modifications are made after the form is marked complete, this date should not change.
					</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
				
				<xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                <xs:element ref="cqcf:clinical_cqcf" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="follow_up_v1.5:follow_up_v1.5" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="follow_up_v2.1:follow_up_v2.1" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="primary_lymph_node_presentation_assessment_ind3" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2200396" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
    <xs:element name="lymph_node_examined_count" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_tumor_pathologic_t_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="TX" />
					<xs:enumeration value="T0" />
					<xs:enumeration value="Tis" />
					<xs:enumeration value="Tis (DCIS)" />
					<xs:enumeration value="Tis (LCIS)" />
					<xs:enumeration value="Tis (Paget's)" />
					<xs:enumeration value="T1mi" />
					<xs:enumeration value="T1" />
					<xs:enumeration value="T1a" />
					<xs:enumeration value="T1b" />
					<xs:enumeration value="T1c" />
					<xs:enumeration value="T2" />
					<xs:enumeration value="T2a" />
					<xs:enumeration value="T2b" />
					<xs:enumeration value="T2c" />
					<xs:enumeration value="Ta" />
					<xs:enumeration value="T3" />
					<xs:enumeration value="T3a" />
					<xs:enumeration value="T3b" />
					<xs:enumeration value="T3c" />
					<xs:enumeration value="T4" />
					<xs:enumeration value="T4a" />
					<xs:enumeration value="T4b" />
					<xs:enumeration value="T4c" />
					<xs:enumeration value="T4d" />
                    <xs:attribute name="cde" type="xs:string" default="3045435" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_tumor_pathologic_n_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="NX" />
					<xs:enumeration value="N0" />
					<xs:enumeration value="N0 (i-)" />
					<xs:enumeration value="N0 (i+)" />
					<xs:enumeration value="N0 (mol-)" />
					<xs:enumeration value="N0 (mol+)" />
					<xs:enumeration value="N1" />
					<xs:enumeration value="N1mi" />
					<xs:enumeration value="N1a" />
					<xs:enumeration value="N1b" />
					<xs:enumeration value="N1bI" />
					<xs:enumeration value="N1bII" />
					<xs:enumeration value="N1bIII" />
					<xs:enumeration value="N1bIV" />
					<xs:enumeration value="N1c" />
					<xs:enumeration value="N2" />
					<xs:enumeration value="N2a" />
					<xs:enumeration value="N2b" />
					<xs:enumeration value="N3" />
					<xs:enumeration value="N3a" />
					<xs:enumeration value="N3b" />
					<xs:enumeration value="N3c" />
					<xs:enumeration value="N4" />
					<xs:enumeration value="pN0" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN1" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN2" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN3" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pNX" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN0(i-)" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN0(i+)" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN0(mol-)" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN0(mol+)" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN1mi" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN1a" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN1b" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN1c" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN2a" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN2b" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN3a" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN3b" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:enumeration value="pN3c" /> <!-- Deprecated. Will be removed in 2.5. This permissible value is not in the current CDE -->
                    <xs:attribute name="cde" type="xs:string" default="3203106" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="anatomic_site_location_descriptors">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="anatomic_site_location_descriptor" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="anatomic_site_location_descriptor" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Right Upper Inner Quadrant" />
                    <xs:enumeration value="Right Upper Outer Quadrant" />
                    <xs:enumeration value="Right Lower Inner Quadrant" />
                    <xs:enumeration value="Right Lower Outer Quadrant" />
                    <xs:enumeration value="Left Upper Inner Quadrant" />
                    <xs:enumeration value="Left Upper Outer Quadrant" />
                    <xs:enumeration value="Left Lower Inner Quadrant" />
                    <xs:enumeration value="Left Lower Outer Quadrant" />
                    <xs:enumeration value="Left" />
                    <xs:enumeration value="Right" />
                    <xs:attribute name="cde" type="xs:string" default="2008006" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="axillary_lymph_node_stage_method_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="No axillary staging" />
                    <xs:enumeration value="Sentinel node biopsy alone" />
                    <xs:enumeration value="Sentinel lymph node biopsy plus axillary dissection" />
                    <xs:enumeration value="Axillary lymph node dissection alone" />
                    <xs:enumeration value="Other (specify)" />
                    <xs:attribute name="cde" type="xs:string" default="2516112" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="primary_other_site_of_disease_name" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2584114" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_carcinoma_surgical_procedure_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Surgery not Performed" />
                    <xs:enumeration value="Lumpectomy" />
                    <xs:enumeration value="Simple Mastectomy" />
                    <xs:enumeration value="Modified Radical Mastectomy" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="2739580" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_carcinoma_first_surgical_procedure_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Surgery not Performed" />
                    <xs:enumeration value="Lumpectomy" />
                    <xs:enumeration value="Simple Mastectomy" />
                    <xs:enumeration value="Modified Radical Mastectomy" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="2739580" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="surgical_procedure_purpose_other_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2467630" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2757948" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_cancer_optical_measurement_histologic_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Infiltrating Ductal" />
                    <xs:enumeration value="Infiltrating Lobular" />
                    <xs:enumeration value="Mucinous" />
                    <xs:enumeration value="Medullary" />
                    <xs:enumeration value="Infiltrating Carcinoma, NOS" />
                    <xs:enumeration value="Mixed Histology" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="2549638" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_menopause_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Pre (&lt;6 months since LMP AND no prior bilateral ovariectomy AND not on estrogen replacement)" />
                    <xs:enumeration value="Peri (6-12 months since last menstrual period)" />
                    <xs:enumeration value="Post (prior bilateral ovariectomy OR &gt;12 mo since LMP with no prior hysterectomy)" />
                    <xs:enumeration value="Indeterminate (neither Pre or Postmenopausal)" />
                    <xs:attribute name="cde" type="xs:string" default="2957270" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="cytokeratin_immunohistochemistry_staining_method_micrometastasis_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3086152" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="breast_carcinoma_immunohistochemistry_er_pos_finding_scale" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="4 Point Scale" />
                    <xs:enumeration value="3 Point Scale" />
                    <xs:attribute name="cde" type="xs:string" default="3203081" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
    <xs:element name="breast_cancer_surgery_margin_status" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="brca_shared:posNegClose">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2241252" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="disease_surgical_margin_status" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="brca_shared:posNegClose">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3114007" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_pathologic_diagnosis_biospecimen_acquisition_method_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Other method specify:" />
                    <xs:enumeration value="Aspirate" />
                    <xs:enumeration value="Core needle biopsy" />
                    <xs:enumeration value="Cytology (e.g. Peritoneal or pleural fluid)" />
                    <xs:enumeration value="Dilation and curettage procedure" />
                    <xs:enumeration value="Endoscopic Biopsy" />          
                    <xs:enumeration value="Excisional Biopsy" />
                    <xs:enumeration value="Fine needle aspiration biopsy" />
                    <xs:enumeration value="Incisional Biopsy" />
                    <xs:enumeration value="Office Endometrial Biopsy" />
                    <xs:enumeration value="Tumor resection" />
                    <xs:attribute name="cde" type="xs:string" default="2757941" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="pos_finding_lymph_node_keratin_immunohistochemistry_staining_method_count" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3086383" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="pos_finding_lymph_node_hematoxylin_and_eosin_staining_microscopy_count" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3086388" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_prospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_retrospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tumor_other_histologic_subtype_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_neoplasm_other_surgical_procedure_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124493" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="axillary_lymph_node_stage_other_method_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124496" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_nonlymph_node_metastasis_anatomic_sites">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="first_nonlymph_node_metastasis_anatomic_site" minOccurs="1" maxOccurs="unbounded" />
            <xs:element ref="first_recurrent_non_nodal_metastatic_anatomic_site_descriptive_text" minOccurs="1" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_nonlymph_node_metastasis_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Brain" />
                    <xs:enumeration value="Other, specify" />
                    <xs:attribute name="cde" type="xs:string" default="3124499" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_recurrent_non_nodal_metastatic_anatomic_site_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124503" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="distant_metastasis_present_ind2" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2194698" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
    <xs:element name="breast_tumor_clinical_m_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="MX" />
					<xs:enumeration value="M0" />
					<xs:enumeration value="M1" />
					<xs:enumeration value="M1a" />
					<xs:enumeration value="M1b" />
					<xs:enumeration value="M1c" />
					<xs:enumeration value="cM0 (i+)" />
                    <xs:attribute name="cde" type="xs:string" default="3045439" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="breast_carcinoma_immunohistochemistry_progesterone_receptor_pos_finding_scale" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="4 Point Scale" />
					<xs:enumeration value="3 Point Scale" />
                    <xs:attribute name="cde" type="xs:string" default="3203083" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
    <xs:element name="breast_tumor_pathologic_grouping_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="Stage X" />
					<xs:enumeration value="Stage Tis" />
					<xs:enumeration value="Stage 0" />
					<xs:enumeration value="Stage I" />
					<xs:enumeration value="Stage IA" />
					<xs:enumeration value="Stage IB" />
					<xs:enumeration value="Stage II" />
					<xs:enumeration value="Stage IIA" />
					<xs:enumeration value="Stage IIB" />
					<xs:enumeration value="Stage IIC" />
					<xs:enumeration value="Stage III" />
					<xs:enumeration value="Stage IIIA" />
					<xs:enumeration value="Stage IIIB" />
					<xs:enumeration value="Stage IIIC" />
					<xs:enumeration value="Stage IV" />
					<xs:enumeration value="Stage IVA" />
					<xs:enumeration value="Stage IVB" />
					<xs:enumeration value="Stage IIA Cervix" />
					<xs:enumeration value="Stage II Cervix" />
					<xs:enumeration value="Stage IB2" />
					<xs:enumeration value="Stage IB1" />
					<xs:enumeration value="Stage IB Cervix" />
					<xs:enumeration value="Stage IA2" />
					<xs:enumeration value="Stage IA1" />
					<xs:enumeration value="Stage IVC" />
                    <xs:attribute name="cde" type="xs:string" default="3203222" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="posNegStat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="" />
            <xs:enumeration value="Positive" />
            <xs:enumeration value="Negative" />
            <xs:enumeration value="Unknown" />
            <xs:enumeration value="Equivocal" />
            <xs:enumeration value="Indeterminate" />
            <xs:enumeration value="Performed but Not Available" />
            <xs:enumeration value="Not Performed" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="noneToGreaterThanTwenty">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Greater than 20" />
            <xs:enumeration value="16-20" />
            <xs:enumeration value="11-15" />
            <xs:enumeration value="6-10 Lymph nodes" />
            <xs:enumeration value="5" />
            <xs:enumeration value="4" />
            <xs:enumeration value="3" />
            <xs:enumeration value="2" />
            <xs:enumeration value="1" />
            <xs:enumeration value="" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
