trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd26/tags/xsd26-release-031413/BCR/tcga.nci/bcr/xml/clinical/read/followup/2.6/TCGA_BCR.READ_Clinical_FollowUp_v1.0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 8.1.2.2399 (http://www.liquid-technologies.com)-->

<xs:schema elementFormDefault="qualified" version="2.6.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.6"
   xmlns:nte="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.6"
   xmlns:utility="http://tcga.nci/bcr/xml/utility/2.6"
   xmlns:admin="http://tcga.nci/bcr/xml/administration/2.6"
   xmlns="http://tcga.nci/bcr/xml/clinical/read/followup/2.6/1.0"
   targetNamespace="http://tcga.nci/bcr/xml/clinical/read/followup/2.6/1.0">

    <xs:import schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.6/TCGA_BCR.Utility.xsd" namespace="http://tcga.nci/bcr/xml/utility/2.6" />
    <xs:import schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.6/TCGA_BCR.Administration.xsd" namespace="http://tcga.nci/bcr/xml/administration/2.6" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_New_Tumor_Event_Elements.xsd" />
	<xs:import schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_Elements.xsd" namespace="http://tcga.nci/bcr/xml/clinical/shared/2.6" />

    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the TCGA Clinical Data Follow-up Form within the READ study.</xs:documentation>
    </xs:annotation>

    <xs:element name="follow_up">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:bcr_followup_barcode" />
                <xs:element ref="shared:bcr_followup_uuid" />
                <xs:element ref="shared:vital_status" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                <xs:element ref="nte:new_tumor_event_after_initial_treatment" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:month_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:year_of_new_tumor_event_after_initial_treatment" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_new_tumor_event_after_initial_treatment" />
                </xs:choice>
                <xs:element ref="nte:additional_surgery_locoregional_procedure" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_additional_surgery_locoregional_procedure" />
                        <xs:element ref="nte:month_of_additional_surgery_locoregional_procedure" />
                        <xs:element ref="nte:year_of_additional_surgery_locoregional_procedure" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_additional_surgery_locoregional_procedure" />
                </xs:choice>
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="shared:radiation_therapy" />
                <xs:element ref="shared:additional_radiation_therapy" />
                <xs:element ref="shared:targeted_molecular_therapy" />
                <xs:element ref="shared:additional_pharmaceutical_therapy" />
                <xs:element ref="nte:additional_surgery_metastatic_procedure" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_additional_surgery_metastatic_procedure" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>

                <xs:element ref="shared:followup_case_report_form_submission_reason" />

                <xs:element ref="nte:residual_disease_post_new_tumor_event_margin_status" />
                <xs:element ref="site_of_additional_surgery_new_tumor_event_mets" />
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="1.0" use="optional"/>
			<xs:attribute name="sequence" type="xs:integer" />
        </xs:complexType>
    </xs:element>

    <xs:element name="site_of_additional_surgery_new_tumor_event_mets">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Lymph Nodes" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="1611" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>


</xs:schema>
