trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.3_release/BCR/tcga.nci/bcr/xml/clinical/hnsc/2.5/TCGA_BCR.HNSC_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Ken Burnett (IGC) -->
<!-- $Id: TCGA_BCR.HNSC_Clinical.xsd 1259 2011-09-26 21:49:51Z kburnett $ -->
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5" 
 xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5" 
 xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5" 
 xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5" 
 xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" 
 xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" 
 xmlns:follow_up_v1.0="http://tcga.nci/bcr/xml/clinical/hnsc/followup/2.5/1.0" 
 xmlns="http://tcga.nci/bcr/xml/clinical/hnsc/2.5" 
 xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
 targetNamespace="http://tcga.nci/bcr/xml/clinical/hnsc/2.5" 
 elementFormDefault="qualified" 
 version="2.5.3" 
 jaxb:version="1.0">
	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings generateIsSetMethod="true"/>
			<jaxb:schemaBindings>
				<jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.hnsc"/>
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the HNSC study.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/hnsc/followup/2.5/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/hnsc/followup/2.5/TCGA_BCR.HNSC_Clinical_FollowUp_v1.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.5/TCGA_BCR.CQCF.xsd"/>
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shared:tumor_tissue_site"/>
				<xs:element ref="histological_type"/>
				<xs:element ref="shared:prior_diagnosis"/>
				<xs:element ref="shared:gender"/>
				<xs:element ref="shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_birth"/>
						<xs:element ref="shared:month_of_birth"/>
						<xs:element ref="shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_birth"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_last_known_alive"/>
						<xs:element ref="shared:month_of_last_known_alive"/>
						<xs:element ref="shared:year_of_last_known_alive"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_last_known_alive"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_death"/>
						<xs:element ref="shared:month_of_death"/>
						<xs:element ref="shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_death"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_last_followup"/>
						<xs:element ref="shared:month_of_last_followup"/>
						<xs:element ref="shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_last_followup"/>
				</xs:choice>
				<xs:element ref="shared:race"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="shared:pretreatment_history"/>
				<xs:element ref="shared:informed_consent_verified"/>
				<xs:element ref="shared:icd_o_3_site"/>
				<xs:element ref="shared:icd_o_3_histology"/>
				<xs:element ref="shared:icd_10"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="shared:days_to_initial_pathologic_diagnosis"/>
						<xs:element ref="shared:age_at_initial_pathologic_diagnosis"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="shared:ethnicity"/>
				<xs:element ref="shared:person_neoplasm_cancer_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_form_completion"/>
						<xs:element ref="shared:month_of_form_completion"/>
						<xs:element ref="shared:year_of_form_completion"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_form_completion"/>
				</xs:choice>
				<xs:element ref="shared:ajcc_cancer_staging_handbook_edition" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="tumor_stage"/>
				<xs:element ref="shared:anatomic_organ_subdivision" minOccurs="0"/>
				<xs:element ref="neoplasm_anatomic_subdivision" minOccurs="0"/>
				<xs:element ref="laterality"/>
				<xs:element ref="shared:primary_lymph_node_presentation_assessment"/>
				<xs:element ref="shared:lymph_node_examined_count"/>
				<xs:element ref="shared:number_of_lymphnodes_positive_by_he"/>
				<xs:element ref="shared:number_of_lymphnodes_positive_by_ihc"/>
				<xs:element ref="primary_tumor_pathologic_spread"/>
				<xs:element ref="lymphnode_pathologic_spread"/>
				<xs:element ref="distant_metastasis_pathologic_spread"/>
				<xs:element ref="lymphnode_neck_dissection"/>
				<xs:element ref="lymphnode_dissection_method_left"/>
				<xs:element ref="lymphnode_dissection_method_right"/>
				<xs:element ref="shared:margin_status"/>
				<xs:element ref="p53_gene_analysis"/>
				<xs:element ref="egfr_amplication_status"/>
				<xs:element ref="presence_of_pathological_nodal_extracapsular_spread"/>
				<xs:element ref="shared:lymphovascular_invasion_present"/>
				<xs:element ref="perineural_invasion_present"/>
				<xs:element ref="shared:neoplasm_histologic_grade"/>
				<xs:element ref="hpv_status_by_p16_testing"/>
				<xs:element ref="hpv_status_by_ish_testing"/>
				<xs:element ref="tobacco_smoking_history_indicator"/>
				<xs:element ref="year_of_tobacco_smoking_onset"/>
				<xs:element ref="shared:stopped_smoking_year"/>
				<xs:element ref="shared:number_pack_years_smoked"/>
				<xs:element ref="alcohol_history_documented"/>
				<xs:element ref="frequency_of_alcohol_consumption"/>
				<xs:element ref="amount_of_alcohol_consumption_per_day"/>
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				<xs:element ref="clinical_cqcf"/>
				<xs:element name="follow_ups">
					<xs:annotation>
						<xs:documentation>We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="follow_up_v1.0:follow_up_v1.0" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="clinical_cqcf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cqcf:frozen_specimen_anatomic_site"/>
				<xs:element ref="cqcf:history_of_prior_malignancy"/>
								<xs:element ref="cqcf:history_of_neoadjuvant_treatment"/>
								<xs:element ref="cqcf:consent_or_death_status"/>
								<xs:choice>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="cqcf:day_of_consent"/>
											<xs:element ref="cqcf:month_of_consent"/>
											<xs:element ref="cqcf:year_of_consent"/>
										</xs:sequence>
										<xs:element ref="cqcf:days_to_consent"/>
									</xs:choice>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="shared:day_of_death"/>
											<xs:element ref="shared:month_of_death"/>
											<xs:element ref="shared:year_of_death"/>
										</xs:sequence>
										<xs:element ref="shared:days_to_death"/>
									</xs:choice>
								</xs:choice>
								<xs:element ref="cqcf:diagnosis_subtype"/>
								<xs:element ref="shared:prior_diagnosis"/>
								<xs:element ref="cqcf:normal_tissue_anatomic_site" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:normal_tissue_proximity" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:tumor_type" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:histological_subtype" minOccurs="0"/>
								<xs:element ref="cqcf:other_anatomic_site" minOccurs="0"/>
								<xs:element ref="cqcf:other_anatomic_site_normal_tissue" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="laterality" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Left"/>
					<xs:enumeration value="Right"/>
					<xs:enumeration value="Midline"/>
					<xs:attribute name="cde" type="xs:string" default="3130361"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tobacco_smoking_history_indicator" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Lifelong Non-smoker"/>
					<xs:enumeration value="Current smoker"/>
					<xs:enumeration value="Current reformed smoker for &gt; 15 years"/>
					<xs:enumeration value="Current reformed smoker for &lt; or = 15 years"/>
					<xs:attribute name="cde" type="xs:string" default="2181650"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.2"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lymphnode_dissection_method_left" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Functional (Limited) Neck Dissection"/>
					<xs:enumeration value="Modified Radical Neck Dissection"/>
					<xs:enumeration value="Radical Neck Dissection"/>
					<xs:attribute name="cde" type="xs:string" default="3113989"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lymphnode_dissection_method_right" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Functional (Limited) Neck Dissection"/>
					<xs:enumeration value="Modified Radical Neck Dissection"/>
					<xs:enumeration value="Radical Neck Dissection"/>
					<xs:attribute name="cde" type="xs:string" default="3124514"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="p53_gene_analysis" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Normal"/>
					<xs:enumeration value="Abnormal"/>
					<xs:attribute name="cde" type="xs:string" default="3124938"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="egfr_amplication_status" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Amplified"/>
					<xs:enumeration value="Unamplified"/>
					<xs:attribute name="cde" type="xs:string" default="3124957"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hpv_status_by_p16_testing" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Negative"/>
					<xs:enumeration value="Positive"/>
					<xs:attribute name="cde" type="xs:string" default="3108263"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hpv_status_by_ish_testing" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Negative"/>
					<xs:enumeration value="Positive"/>
					<xs:attribute name="cde" type="xs:string" default="3108261"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lymphnode_neck_dissection" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2238421"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="alcohol_history_documented" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2201918"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="frequency_of_alcohol_consumption" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3114013"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="amount_of_alcohol_consumption_per_day" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3124961"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="presence_of_pathological_nodal_extracapsular_spread" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="No Extranodal Extension"/>
					<xs:enumeration value="Gross Extension"/>
					<xs:enumeration value="Microscopic Extension"/>
					<xs:attribute name="cde" type="xs:string" default="3108215"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="year_of_tobacco_smoking_onset" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_year">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2228604"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.2"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="perineural_invasion_present" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="64181"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.2"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="histological_type" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3081934"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="1.9"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tumor_stage" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Stage I"/>
					<xs:enumeration value="Stage II"/>
					<xs:enumeration value="Stage III"/>
					<xs:enumeration value="Stage IVA"/>
					<xs:enumeration value="Stage IVB"/>
					<xs:enumeration value="Stage IVC"/>
					<xs:enumeration value="Stage IV"/>
					<xs:attribute name="cde" type="xs:string" default="3065862"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="1.11"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="primary_tumor_pathologic_spread" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="TX"/>
					<xs:enumeration value="Tis"/>
					<xs:enumeration value="T0"/>
					<xs:enumeration value="T1"/>
					<xs:enumeration value="T2"/>
					<xs:enumeration value="T3"/>
					<xs:enumeration value="T4a"/>
					<xs:enumeration value="T4b"/>
					<xs:attribute name="cde" type="xs:string" default="3045435"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.1"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lymphnode_pathologic_spread" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="NX"/>
					<xs:enumeration value="N0"/>
					<xs:enumeration value="N1"/>
					<xs:enumeration value="N2"/>
					<xs:enumeration value="N2a"/>
					<xs:enumeration value="N2b"/>
					<xs:enumeration value="N2c"/>
					<xs:enumeration value="N3"/>
					<xs:attribute name="cde" type="xs:string" default="3065858"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.1"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="distant_metastasis_pathologic_spread" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="M0"/>
					<xs:enumeration value="M1"/>
					<xs:enumeration value="MX"/>
					<xs:attribute name="cde" type="xs:string" default="3045439"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="neoplasm_anatomic_subdivision" nillable="true">
	        <xs:complexType mixed="true">
	            <xs:simpleContent>
	                <xs:restriction base="utility:clinical_res_attributes">
	                    <xs:enumeration value="" />
	                    <xs:enumeration value="Oral Cavity" />
	                    <xs:enumeration value="Lip" />
	                    <xs:enumeration value="Oral Tongue" />
	                    <xs:enumeration value="Alveolar Ridge" />
	                    <xs:enumeration value="Floor of Mouth" />
	                    <xs:enumeration value="Hard Palate" />
	                    <xs:enumeration value="Buccal Mucosa" />
	                    <xs:enumeration value="Oropharynx" />
	                    <xs:enumeration value="Tonsil" />
	                    <xs:enumeration value="Base of Tongue" />
	                    <xs:enumeration value="Hypopharynx" />
	                    <xs:enumeration value="Larynx" />
	                    <xs:enumeration value="Other" />
	                    <xs:attribute name="cde" type="xs:string" default="3108203" />
	                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
	                    <xs:attribute name="tier" type="xs:string" default="2" />
	                </xs:restriction>
	            </xs:simpleContent>
	        </xs:complexType>
    </xs:element>
</xs:schema>
