trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/blca/2.4/TCGA_BCR.BLCA_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.BLCA_Clinical.xsd 15086 2012-01-31 00:51:24Z jensenma $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/blca/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/blca/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.blca"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the BLCA study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:height" />
                <xs:element ref="shared:weight" />
                <xs:element ref="shared:race" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:vital_status" />
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:pretreatment_history" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" />
                        <xs:element ref="shared:month_of_last_known_alive" />
                        <xs:element ref="shared:year_of_last_known_alive" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_last_known_alive" />
                </xs:choice>
                
                <xs:element ref="shared:tumor_tissue_site" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>

                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />                
                <xs:element ref="shared:radiation_therapy" />
                <xs:element ref="shared:additional_pharmaceutical_therapy" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="shared:month_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="shared:year_of_new_tumor_event_after_initial_treatment" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_new_tumor_event_after_initial_treatment" />
                </xs:choice>
                
                <xs:element ref="shared:additional_surgery_locoregional_procedure" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_additional_surgery_metastatic_procedure" />
                </xs:choice>
                
                <xs:element ref="shared:additional_radiation_therapy" />
                
                <!-- Required elements for all Diseases -->
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                
                <xs:element ref="tissue_prospective_collection_indicator" />
                <xs:element ref="tissue_retrospective_collection_indicator" />
                <xs:element ref="person_occupation_description_text" />
                <xs:element ref="occupation_primary_job" />
                <xs:element ref="chemical_exposure_text" />
                <xs:element ref="person_primary_industry_text" />
                <xs:element ref="person_occupation_years_number" />
                <xs:element ref="patient_smoking_history_category" />
                <xs:element ref="age_began_smoking_in_years" />
                <xs:element ref="stopped_smoking_year" />
                <xs:element ref="person_cigarette_smoking_history_pack_year_value" />
                <xs:element ref="blood_relative_cancer_history_list" />
                <xs:element ref="tumor_histologic_subtype_type" />
                <xs:element ref="specimen_histologic_type_type_histologictype" />
                <xs:element ref="bladder_tumor_histologic_who_2004_grade" />
                <xs:element ref="anatomic_site_location_descriptor" />
                <xs:element ref="shared:initial_pathologic_diagnosis_method" />
                <xs:element ref="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" />
                <xs:element ref="lymph_node_examined_count" />    
                <xs:element ref="positive_finding_lymph_node_hematoxylin_and_eosin_staining_microscopy_count" />  
                <xs:element ref="disease_extracapsular_extension_ind-3" />
                <xs:element ref="bladder_carcinoma_extracapsular_extension_status" />
                <xs:element ref="tumor_lymphovascular_invasion_ind" />
                <xs:element ref="shared:ajcc_cancer_staging_handbook_edition" minOccurs="0" maxOccurs="1" />
                <xs:element ref="bladder_carcinoma_clinical_t_stage" />
                <xs:element ref="bladder_carcinoma_pathologic_t_stage" />
                <xs:element ref="bladder_carcinoma_pathologic_n_stage" />
                <xs:element ref="bladder_carcinoma_pathologic_m_stage" />
                <xs:element ref="bladder_malignant_neoplasm_metastatic_involvement_sites" />
                <xs:element ref="bladder_carcinoma_other_metastatic_involvement_anatomic_site_text" />
                <xs:element ref="bladder_carcinoma_clinical_stage" />
                <xs:element ref="person_concomitant_prostate_carcinoma_occurrence_indicator" />
                <xs:element ref="person_concomitant_prostate_carcinoma_pathologic_t_stage" />
                <xs:element ref="gleason_score_combined_pattern_value" />
                <xs:element ref="karnofsky_performance_status_score" />
                <xs:element ref="performance_status_assessment_eastern_cooperative_oncology_group_scale" />
                <xs:element ref="primary_therapy_outcome_success_type" />   
                <xs:element ref="new_neoplasm_event_type" />
                <xs:element ref="new_neoplasm_event_occurrence_anatomic_site" />    
                <xs:element ref="new_neoplasm_occurrence_anatomic_site_text" />
                <xs:element ref="additional_treatment_completion_success_outcome_type" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_prospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_retrospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_occupation_description_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2435398" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="occupation_primary_job" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="5714" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="chemical_exposure_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2596673" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_primary_industry_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3135408" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_occupation_years_number" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2435424" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="patient_smoking_history_category" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:attribute name="cde" type="xs:string" default="2181650" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="age_began_smoking_in_years" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2178045" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="stopped_smoking_year" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2228610" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_cigarette_smoking_history_pack_year_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2955385" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="blood_relative_cancer_history_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="blood_relative_cancer_history" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="blood_relative_cancer_history">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="family_medical_history_relative_family_member_relationship_type" />
            <xs:element ref="cancer_diagnosis_cancer_type_icd9_text_name" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="family_medical_history_relative_family_member_relationship_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Mother" />
                    <xs:enumeration value="Father" />
                    <xs:enumeration value="Grandmother" />
                    <xs:enumeration value="Grandfather" />
                    <xs:enumeration value="Brother" />
                    <xs:enumeration value="Sister" />
                    <xs:enumeration value="Child" />
                    <xs:attribute name="cde" type="xs:string" default="2783641" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancer_diagnosis_cancer_type_icd9_text_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Adrenal Cortical Tumor" />
                    <xs:enumeration value="Bladder" />
                    <xs:enumeration value="CNS" />
                    <xs:enumeration value="CNS-Glioblastoma" />
                    <xs:enumeration value="CNS-Medulloblastoma" />
                    <xs:enumeration value="Breast-Fem" />
                    <xs:enumeration value="Breast-Male" />
                    <xs:enumeration value="Breast-LCIS" />
                    <xs:enumeration value="Breast-DCIS" />
                    <xs:enumeration value="Carcinoma Unknown Primary" />
                    <xs:enumeration value="Cervix" />
                    <xs:enumeration value="Cervix-Squamous Cell Carcinoma" />
                    <xs:enumeration value="Cervix-Adenocarcinoma" />
                    <xs:enumeration value="Colon" />
                    <xs:enumeration value="Esophagus" />
                    <xs:enumeration value="Eyeball" />
                    <xs:enumeration value="Fallopian Tube" />
                    <xs:enumeration value="Gallbladder" />
                    <xs:enumeration value="Gastric" />
                    <xs:enumeration value="GI" />
                    <xs:enumeration value="Gynecology-NOS" />
                    <xs:enumeration value="HeadFaceNeck" />
                    <xs:enumeration value="Hodgkins Disease" />
                    <xs:enumeration value="Intrahepatic Ducts" />
                    <xs:enumeration value="Kidney-except Pelvis" />
                    <xs:enumeration value="Leukemia-NOS" />
                    <xs:enumeration value="Leukemia-acute lymphocytic leukemia" />
                    <xs:enumeration value="Leukemia-acute monocytic leukemia" />
                    <xs:enumeration value="Leukemia-chronic lymphocytic leukemia" />
                    <xs:enumeration value="Leukemia-chronic monocytic leukemia" />
                    <xs:enumeration value="Leukemia-hairy cell leukemia" />
                    <xs:enumeration value="Liver-Hepatoblastoma" />
                    <xs:enumeration value="Liver-Primary-NOS" />
                    <xs:enumeration value="LungBronchus" />
                    <xs:enumeration value="Lymph Nodes" />
                    <xs:enumeration value="Lymphoma" />
                    <xs:enumeration value="Melanoma" />
                    <xs:enumeration value="Multiple Myeloma" />
                    <xs:enumeration value="Nasopharynx" />
                    <xs:enumeration value="Neurofibroma" />
                    <xs:enumeration value="NOS" />
                    <xs:enumeration value="Ovary-NOS" />
                    <xs:enumeration value="Ovary-Germ Cell" />
                    <xs:enumeration value="Ovary-Epithelial" />
                    <xs:enumeration value="Ovary-Stromal" />
                    <xs:enumeration value="Pancreas" />
                    <xs:enumeration value="Parathyroid" />
                    <xs:enumeration value="Pheochromocytoma" />
                    <xs:enumeration value="Prostate" />
                    <xs:enumeration value="Rectum" />
                    <xs:enumeration value="Retinoblastoma" />
                    <xs:enumeration value="Sarcoma" />
                    <xs:enumeration value="Sarcoma-Ewings" />
                    <xs:enumeration value="Sarcoma-Osteo" />
                    <xs:enumeration value="Skin-NOS" />
                    <xs:enumeration value="Skin-Squamous cell carcinoma" />
                    <xs:enumeration value="Skin-Basal Cell Carcinoma" />
                    <xs:enumeration value="Soft Tissue" />
                    <xs:enumeration value="Testis" />
                    <xs:enumeration value="Thyroid-NOS" />
                    <xs:enumeration value="Thyroid-Follicular" />
                    <xs:enumeration value="Thyroid-Medullary" />
                    <xs:enumeration value="Thyroid-Papillary" />
                    <xs:enumeration value="Uterine" />
                    <xs:enumeration value="Uterine-Papillary" />
                    <xs:enumeration value="Uterine-Serous" />
                    <xs:enumeration value="Uterine-PapillarySerous" />
                    <xs:enumeration value="Uterine Sarcoma" />
                    <xs:enumeration value="Waldenstrom's Macroglobulinemia" />
                    <xs:enumeration value="Wilms Tumor" />
                    <xs:attribute name="cde" type="xs:string" default="2195089" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_histologic_subtype_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Papillary renal cell carcinoma" />
                    <xs:enumeration value="Squamous cell carcinoma" />
                    <xs:enumeration value="Adenocarcinoma" />
                    <xs:enumeration value="Cystadenocarcinoma" />
                    <xs:enumeration value="Glioblastoma multiforme" />
                    <xs:enumeration value="Mixed Histology" />
                    <xs:enumeration value="Infiltrating Lobular" />
                    <xs:enumeration value="Infiltrating Carcinoma NOS" />
                    <xs:enumeration value="Muscle invasive urothelial carcinoma" />
                    <xs:attribute name="cde" type="xs:string" default="2831122" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="specimen_histologic_type_type_histologictype" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Papillary" />
                    <xs:enumeration value="Non-Papillary" />
                    <xs:attribute name="cde" type="xs:string" default="2783887" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="bladder_tumor_histologic_who_2004_grade" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="High Grade" />
                    <xs:enumeration value="Low Grade" />
                    <xs:enumeration value="PUNLMP" />
                    <xs:enumeration value="Papilloma" />
                    <xs:attribute name="cde" type="xs:string" default="2867375" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="anatomic_site_location_descriptor" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Bladder, NOS" />
                    <xs:enumeration value="Wall, Lateral" />
                    <xs:enumeration value="Wall, Anterior" />
                    <xs:enumeration value="Wall, NOS" />
                    <xs:enumeration value="Wall, Posterior" />
                    <xs:enumeration value="Trigone" />
                    <xs:enumeration value="Neck" />
                    <xs:enumeration value="Dome" />
                    <xs:attribute name="cde" type="xs:string" default="2008006" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2757948" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="lymph_node_examined_count" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="positive_finding_lymph_node_hematoxylin_and_eosin_staining_microscopy_count" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3086388" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="disease_extracapsular_extension_ind-3" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="64165" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="bladder_carcinoma_extracapsular_extension_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Unknown" />
                    <xs:enumeration value="Extensive" />
                    <xs:enumeration value="Focal" />
                    <xs:attribute name="cde" type="xs:string" default="3130374" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tumor_lymphovascular_invasion_ind" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="64727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="bladder_carcinoma_clinical_t_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="cT4" />
                    <xs:enumeration value="T4b" />
                    <xs:enumeration value="pT3b" />
                    <xs:enumeration value="pT3a" />
                    <xs:enumeration value="cT3" />
                    <xs:enumeration value="pT2b" />
                    <xs:enumeration value="pT2a" />
                    <xs:enumeration value="cT2" />
                    <xs:enumeration value="cT1" />
                    <xs:enumeration value="cTis" />
                    <xs:enumeration value="cTa" />
                    <xs:enumeration value="cT0" />
                    <xs:enumeration value="cTX" />
                    <xs:enumeration value="cT4a" />
                    <xs:attribute name="cde" type="xs:string" default="3135236" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="bladder_carcinoma_pathologic_t_stage" nillable="true">
        <xs:annotation><xs:documentation>
            The following enumerated values have been DEPRECATED and will be removed in veresion 2.5 of the XSDs.
            
            pT0, pT1, pT2, pT3, pT4, pTa, pTis, pTX, pT2a, pT2b, pT3a, pT3b, T4b, pT4a
            
        </xs:documentation></xs:annotation>
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="TX" />
                    <xs:enumeration value="T0" />
                    <xs:enumeration value="Tis" />
                    <xs:enumeration value="Tis (DCIS)" />
                    <xs:enumeration value="Tis (LCIS)" />
                    <xs:enumeration value="Tis (Paget's)" />
                    <xs:enumeration value="T1mi" />
                    <xs:enumeration value="T1" />
                    <xs:enumeration value="T1a" />
                    <xs:enumeration value="T1b" />
                    <xs:enumeration value="T1c" />
                    <xs:enumeration value="T2" />
                    <xs:enumeration value="T2a" />
                    <xs:enumeration value="T2b" />
                    <xs:enumeration value="T2c" />
                    <xs:enumeration value="Ta" />
                    <xs:enumeration value="T3" />
                    <xs:enumeration value="T3a" />
                    <xs:enumeration value="T3b" />
                    <xs:enumeration value="T3c" />
                    <xs:enumeration value="T4" />
                    <xs:enumeration value="T4a" />
                    <xs:enumeration value="T4b" />
                    <xs:enumeration value="T4c" />
                    <xs:enumeration value="T4d" />
                    <xs:enumeration value="pT0" /> 
                    <xs:enumeration value="pT1" /> 
                    <xs:enumeration value="pT2" /> 
                    <xs:enumeration value="pT3" /> 
                    <xs:enumeration value="pT4" /> 
                    <xs:enumeration value="pTa" /> 
                    <xs:enumeration value="pTis" /> 
                    <xs:enumeration value="pTX" /> 
                    <xs:enumeration value="pT2a" /> 
                    <xs:enumeration value="pT2b" /> 
                    <xs:enumeration value="pT3a" /> 
                    <xs:enumeration value="pT3b" /> 
                    <xs:enumeration value="T4b" /> 
                    <xs:enumeration value="pT4a" /> 
                    <xs:attribute name="cde" type="xs:string" default="3045435" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="bladder_carcinoma_pathologic_n_stage" nillable="true">
        <xs:annotation><xs:documentation>
            The following enumerated values have been DEPRECATED and will be removed in veresion 2.5 of the XSDs.
            
            pN3, pN2, pN1, pN0, pNX
            
        </xs:documentation></xs:annotation>
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="NX" />
                    <xs:enumeration value="N0" />
                    <xs:enumeration value="N0 (i-)" />
                    <xs:enumeration value="N0 (i+)" />
                    <xs:enumeration value="N0 (mol-)" />
                    <xs:enumeration value="N0 (mol+)" />
                    <xs:enumeration value="N1" />
                    <xs:enumeration value="N1mi" />
                    <xs:enumeration value="N1a" />
                    <xs:enumeration value="N1b" />
                    <xs:enumeration value="N1bI" />
                    <xs:enumeration value="N1bII" />
                    <xs:enumeration value="N1bIII" />
                    <xs:enumeration value="N1bIV" />
                    <xs:enumeration value="N1c" />
                    <xs:enumeration value="N2" />
                    <xs:enumeration value="N2a" />
                    <xs:enumeration value="N2b" />
                    <xs:enumeration value="N3" />
                    <xs:enumeration value="N3a" />
                    <xs:enumeration value="N3b" />
                    <xs:enumeration value="N3c" />
                    <xs:enumeration value="N4" />
                    <xs:enumeration value="pN3" /> 
                    <xs:enumeration value="pN2" /> 
                    <xs:enumeration value="pN1" /> 
                    <xs:enumeration value="pN0" /> 
                    <xs:enumeration value="pNX" /> 
                    <xs:attribute name="cde" type="xs:string" default="3203106" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bladder_carcinoma_pathologic_m_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="MX" />
                    <xs:enumeration value="M0" />
                    <xs:enumeration value="M1" />
                    <xs:enumeration value="M1a" />
                    <xs:enumeration value="M1b" />
                    <xs:enumeration value="M1c" />
                    <xs:enumeration value="cM0 (i+)" />
                    <xs:attribute name="cde" type="xs:string" default="3045439" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bladder_malignant_neoplasm_metastatic_involvement_sites">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="bladder_malignant_neoplasm_metastatic_involvement_site" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="bladder_malignant_neoplasm_metastatic_involvement_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Nodal/soft tissue" />
                    <xs:enumeration value="Spleen" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Lung/pleura" />
                    <xs:enumeration value="Bone marrow" />
                    <xs:enumeration value="Brain" />
                    <xs:enumeration value="Distant nodes" />
                    <xs:enumeration value="Distant skin/subcutaneous tissue" />
                    <xs:enumeration value="First other" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Other" />
                    <xs:enumeration value="Other Central Nervous System" />
                    <xs:enumeration value="Second other" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Lymph node only" />
                    <xs:attribute name="cde" type="xs:string" default="62835" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bladder_carcinoma_other_metastatic_involvement_anatomic_site_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3135371" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bladder_carcinoma_clinical_stage" nillable="true">
        <xs:annotation><xs:documentation>
            The following enumerated values have been DEPRECATED and will be removed in veresion 2.5 of the XSDs.
            
            Stage Unknown
            
        </xs:documentation></xs:annotation>
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Stage X" />
                    <xs:enumeration value="Stage Tis" />
                    <xs:enumeration value="Stage 0" />
                    <xs:enumeration value="Stage I" />
                    <xs:enumeration value="Stage IA" />
                    <xs:enumeration value="Stage IB" />
                    <xs:enumeration value="Stage II" />
                    <xs:enumeration value="Stage IIA" />
                    <xs:enumeration value="Stage IIB" />
                    <xs:enumeration value="Stage IIC" />
                    <xs:enumeration value="Stage III" />
                    <xs:enumeration value="Stage IIIA" />
                    <xs:enumeration value="Stage IIIB" />
                    <xs:enumeration value="Stage IIIC" />
                    <xs:enumeration value="Stage IV" />
                    <xs:enumeration value="Stage IVA" />
                    <xs:enumeration value="Stage IVB" />
                    <xs:enumeration value="Stage IIA Cervix" />
                    <xs:enumeration value="Stage II Cervix" />
                    <xs:enumeration value="Stage IB2" />
                    <xs:enumeration value="Stage IB1" />
                    <xs:enumeration value="Stage IB Cervix" />
                    <xs:enumeration value="Stage IA2" />
                    <xs:enumeration value="Stage IA1" />
                    <xs:enumeration value="Stage IVC" />
                    <xs:enumeration value="Stage 0is" /> 
                    <xs:enumeration value="Stage 0a" />
                    <xs:enumeration value="Stage Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3203222" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="person_concomitant_prostate_carcinoma_occurrence_indicator" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3135387" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="person_concomitant_prostate_carcinoma_pathologic_t_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="pT4" />
                    <xs:enumeration value="pT3b" />
                    <xs:enumeration value="pT3a" />
                    <xs:enumeration value="pT3" />
                    <xs:enumeration value="pT2c" />
                    <xs:enumeration value="pT2b" />
                    <xs:enumeration value="pT2a" />
                    <xs:enumeration value="pT2" />
                    <xs:enumeration value="pT0" />
                    <xs:enumeration value="pTX" />
                    <xs:enumeration value="pT1" />
                    <xs:enumeration value="pT1a" />
                    <xs:enumeration value="pT1b" />
                    <xs:enumeration value="pT1c" />
                    <xs:attribute name="cde" type="xs:string" default="3135398" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="gleason_score_combined_pattern_value" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="10" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:enumeration value="5" />
                    <xs:enumeration value="6" />
                    <xs:enumeration value="7" />
                    <xs:enumeration value="8" />
                    <xs:enumeration value="9" />
                    <xs:attribute name="cde" type="xs:string" default="2634976" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="karnofsky_performance_status_score" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="100" />
                    <xs:enumeration value="90" />
                    <xs:enumeration value="80" />
                    <xs:enumeration value="70" />
                    <xs:enumeration value="60" />
                    <xs:enumeration value="50" />
                    <xs:enumeration value="40" />
                    <xs:enumeration value="30" />
                    <xs:enumeration value="20" />
                    <xs:enumeration value="10" />
                    <xs:enumeration value="0" />
                    <xs:attribute name="cde" type="xs:string" default="2003853" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="performance_status_assessment_eastern_cooperative_oncology_group_scale" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:enumeration value="5" />
                    <xs:attribute name="cde" type="xs:string" default="88" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="primary_therapy_outcome_success_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Progressive Disease" />
                    <xs:enumeration value="Stable Disease" />
                    <xs:enumeration value="Partial Response" />
                    <xs:enumeration value="Complete Remission/Response" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:attribute name="cde" type="xs:string" default="2786727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="new_neoplasm_event_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Locoregional Disease" />
                    <xs:enumeration value="New Primary Tumor" />
                    <xs:enumeration value="Metastatic" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:attribute name="cde" type="xs:string" default="3119721" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_neoplasm_event_occurrence_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Renal Pelvis" />
                    <xs:enumeration value="Ureter" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Urethra" />
                    <xs:enumeration value="Lymph Node Only" />
                    <xs:enumeration value="Other, specify" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Bladder" />
                    <xs:attribute name="cde" type="xs:string" default="3108271" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="new_neoplasm_occurrence_anatomic_site_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3128033" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="additional_treatment_completion_success_outcome_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Progressive Disease" />
                    <xs:enumeration value="Stable Disease" />
                    <xs:enumeration value="Partial Response" />
                    <xs:enumeration value="Complete Response" />
                    <xs:attribute name="cde" type="xs:string" default="3033278" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>