trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/ucec/2.4/TCGA_BCR.UCEC_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.UCEC_Clinical.xsd 15086 2012-01-31 00:51:24Z jensenma $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/ucec/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/ucec/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
      
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.ucec"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
  
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the UCEC study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />
 
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
        
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" /> 
                <xs:element ref="primary_other_site_of_disease_name" />
                <xs:element ref="histological_type" /> 
                <xs:element ref="shared:prior_diagnosis" /> 
                <xs:element ref="shared:gender" /> 
                <xs:element ref="shared:vital_status" /> 
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />  
                        <xs:element ref="shared:month_of_birth" /> 
                        <xs:element ref="shared:year_of_birth" /> 
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_birth" /> 
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" /> 
                        <xs:element ref="shared:month_of_last_known_alive" /> 
                        <xs:element ref="shared:year_of_last_known_alive" /> 
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_last_known_alive" /> 
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" /> 
                        <xs:element ref="shared:month_of_death" /> 
                        <xs:element ref="shared:year_of_death" /> 
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_death" /> 
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" /> 
                        <xs:element ref="shared:month_of_last_followup" /> 
                        <xs:element ref="shared:year_of_last_followup" /> 
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_last_followup" /> 
                </xs:choice>
        
                <xs:element ref="shared:race" /> 
                <xs:element ref="shared:bcr_patient_barcode" /> 
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" /> 
                <xs:element ref="shared:radiation_therapy" />  
                <xs:element ref="shared:informed_consent_verified" />  
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" /> 
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" /> 
                    </xs:sequence>
          
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />  
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />  
                    </xs:sequence>
                </xs:choice>
        
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" /> 
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_new_tumor_event_after_initial_treatment" />  
                        <xs:element ref="shared:month_of_new_tumor_event_after_initial_treatment" />  
                        <xs:element ref="shared:year_of_new_tumor_event_after_initial_treatment" />  
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_new_tumor_event_after_initial_treatment" />  
                </xs:choice>
        
                <xs:element ref="gynecologic_figo_staging_system" />  
                <xs:element ref="endometrial_carcinoma_figo_stage" />  
                <xs:element ref="tumor_grade" />  
                <xs:element ref="primary_therapy_outcome_success" />  
                <xs:element ref="shared:ethnicity" />   
                <xs:element ref="shared:additional_radiation_therapy" />  
                <xs:element ref="shared:additional_pharmaceutical_therapy" />  
                <xs:element ref="shared:additional_surgery_locoregional_procedure" />  
        
                <xs:choice>
                    <xs:sequence>        
                        <xs:element ref="shared:day_of_additional_surgery_metastatic_procedure" /> 
                        <xs:element ref="shared:month_of_additional_surgery_metastatic_procedure" /> 
                        <xs:element ref="shared:year_of_additional_surgery_metastatic_procedure" /> 
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_additional_surgery_metastatic_procedure" />  
                </xs:choice>        
        
                <xs:element ref="shared:person_neoplasm_cancer_status" />  
                <xs:element ref="shared:height" />  
                <xs:element ref="shared:weight" />  
                <xs:element ref="first_pathologic_diagnosis_biospecimen_acquisition_method_type" />  
                <xs:element ref="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" /> 
                <xs:element ref="pct_tumor_invasion" />  
                <xs:element ref="peritoneal_wash" />  
                <xs:element ref="prosp_tissue_coll" />  
                <xs:element ref="retro_tissue_coll" />  
                <xs:element ref="surgical_approach" />  
                <xs:element ref="menopause_status" />  
                <xs:element ref="aln_pos_ihc" />  
                <xs:element ref="aln_pos_light_micro" />  
                <xs:element ref="pln_pos_ihc" />  
                <xs:element ref="pln_pos_light_micro" />  
                <xs:element ref="total_aor-lnp" />  
                <xs:element ref="total_aor_lnr" />  
                <xs:element ref="total_pelv_lnp" />  
                <xs:element ref="total_pelv_lnr" />  
                <xs:element ref="diabetes" />  
                <xs:element ref="horm_ther" />  
                <xs:element ref="hypertension" />  
                <xs:element ref="pregnancies" />  
                <xs:element ref="colorectal_cancer" />  
                <xs:element ref="addl_trtmt_success" />  
                <xs:element ref="adjuvant_postoperative_targeted_therapy_administered_indicator" />  
                <xs:element ref="birth_control_pill_history_usage_category" /> 
                <xs:element ref="prior_tamoxifen_administered_usage_category" /> 
                <xs:element ref="followup_met_assessment_outcome_success_margin_status" /> 
                <xs:element ref="recurrence_second_surgery_neoplasm_surgical_procedure_name" /> 
                <xs:element ref="recurrence_second_surgery_neoplasm_surgical_procedure_name_other" /> 
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />  
                        <xs:element ref="shared:month_of_form_completion" />  
                        <xs:element ref="shared:year_of_form_completion" />  
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_form_completion" />   
                </xs:choice>            
        
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="primary_other_site_of_disease_name" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2584114" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="histological_type" nillable="true">
        <xs:annotation><xs:documentation>
            The premissible value 'Endometrioid endometrial adenocarcinoma (Grade 1 or 2)' has been deprecated and will be removed in XSD 2.5 since it 
            has been replaced by the following two permissible values:
                Endometrioid endometrial adenocarcinoma (Grade 1)
                Endometrioid endometrial adenocarcinoma (Grade 2)
        </xs:documentation></xs:annotation>
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Uterine serous endometrial adenocarcinoma" />
                    <xs:enumeration value="Endometrioid endometrial adenocarcinoma (Grade 1)" />
                    <xs:enumeration value="Endometrioid endometrial adenocarcinoma (Grade 2)" />
                    <xs:enumeration value="Endometrioid endometrial adenocarcinoma (Grade 3)" />
                    <xs:enumeration value="Mixed serous and endometrioid" />
                    <xs:enumeration value="Endometrioid endometrial adenocarcinoma (Grade 1 or 2)" /> <!-- Deprecated. Will be removed in 2.5. This permissible value has been replaced.  -->
                    <xs:attribute name="cde" type="xs:string" default="3081934" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="gynecologic_figo_staging_system" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="1988" />
                    <xs:enumeration value="1995" />
                    <xs:enumeration value="2009" />
                    <xs:attribute name="cde" type="xs:string" default="3114049" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="endometrial_carcinoma_figo_stage" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Stage 0" />
                    <xs:enumeration value="Stage I" />
                    <xs:enumeration value="Stage IA" />
                    <xs:enumeration value="Stage IA1" />
                    <xs:enumeration value="Stage IA2" />
                    <xs:enumeration value="Stage IB" />
                    <xs:enumeration value="Stage IB1" />
                    <xs:enumeration value="Stage IB2" />
                    <xs:enumeration value="Stage II" />
                    <xs:enumeration value="Stage IIA" />
                    <xs:enumeration value="Stage IIB" />
                    <xs:enumeration value="Stage IC" />
                    <xs:enumeration value="Stage III" />
                    <xs:enumeration value="Stage IIIA" />
                    <xs:enumeration value="Stage IIIB" />
                    <xs:enumeration value="Stage IIIC" />
                    <xs:enumeration value="Stage IIIC1" />
                    <xs:enumeration value="Stage IIIC2" />
                    <xs:enumeration value="Stage IV" />
                    <xs:enumeration value="Stage IVA" />
                    <xs:enumeration value="Stage IVB" />
                    <xs:attribute name="cde" type="xs:string" default="3225684" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="tumor_grade" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Grade 1" />
                    <xs:enumeration value="Grade 2" />
                    <xs:enumeration value="Grade 3" />
                    <xs:enumeration value="Low Grade" />
                    <xs:enumeration value="High Grade" />
                    <xs:attribute name="cde" type="xs:string" default="3104227" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="primary_therapy_outcome_success" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Unknown" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:enumeration value="Persistent Disease" />
                    <xs:enumeration value="Progressive Disease" />
                    <xs:enumeration value="Stable Disease" />
                    <xs:enumeration value="Partial Response" />
                    <xs:enumeration value="Complete Response" />        
                    <xs:attribute name="cde" type="xs:string" default="2786727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="first_pathologic_diagnosis_biospecimen_acquisition_method_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Other method specify:" />
                    <xs:enumeration value="Aspirate" />
                    <xs:enumeration value="Core needle biopsy" />
                    <xs:enumeration value="Cytology (e.g. Peritoneal or pleural fluid)" />
                    <xs:enumeration value="Dilation and curettage procedure" />
                    <xs:enumeration value="Endoscopic Biopsy" />          
                    <xs:enumeration value="Excisional Biopsy" />
                    <xs:enumeration value="Fine needle aspiration biopsy" />
                    <xs:enumeration value="Incisional Biopsy" />
                    <xs:enumeration value="Office Endometrial Biopsy" />
                    <xs:enumeration value="Tumor resection" />
                    <xs:attribute name="cde" type="xs:string" default="2757941" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="pct_tumor_invasion" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104403" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                    <xs:attribute name="units" type="xs:string" fixed="%"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="peritoneal_wash" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="negative" />
                    <xs:enumeration value="positive" />
                    <xs:enumeration value="Not Performed" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="61384" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="prosp_tissue_coll" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="retro_tissue_coll" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="surgical_approach" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Minimally Invasive" />
                    <xs:enumeration value="open" />
                    <xs:attribute name="cde" type="xs:string" default="2429840" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="menopause_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Pre (&lt;6 months since LMP AND no prior bilateral ovariectomy AND not on estrogen replacement)" />
                    <xs:enumeration value="Peri (6-12 months since last menstrual period)" />
                    <xs:enumeration value="Post (prior bilateral ovariectomy OR >12 mo since LMP with no prior hysterectomy)" />
                    <xs:enumeration value="Indeterminate (neither Pre or Postmenopausal)" />
                    <xs:attribute name="cde" type="xs:string" default="2957270" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="aln_pos_ihc" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151831" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="aln_pos_light_micro" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151832" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="pln_pos_ihc" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151829" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="pln_pos_light_micro" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151830" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="total_aor-lnp" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151827" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="total_aor_lnr" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104460" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="total_pelv_lnp" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151828" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="total_pelv_lnr" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104458" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2757948" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:simpleType name="number_or_not_available">
        <xs:union memberTypes="xs:decimal">
            <xs:simpleType>
                <xs:restriction base="xs:decimal" />
            </xs:simpleType>
      
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Not available"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
  
    <xs:element name="diabetes" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2716085" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="horm_ther" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Yes, I am currently taking menopausal hormone therapy." />
                    <xs:enumeration value="Yes, I have taken menopausal hormone therapy in the past, but no longer do." />
                    <xs:enumeration value="No, I have never taken menopausal hormone therapy." />
                    <xs:enumeration value="48 months" />
                    <xs:enumeration value="60 months" />
                    <xs:attribute name="cde" type="xs:string" default="3012813" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="hypertension" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2183378" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="pregnancies" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4+" />
                    <xs:attribute name="cde" type="xs:string" default="3012512" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="colorectal_cancer" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2684753" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="addl_trtmt_success" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Progressive Disease" />
                    <xs:enumeration value="Stable Disease" />
                    <xs:enumeration value="Partial Response" />
                    <xs:enumeration value="Complete Response" />
                    <xs:attribute name="cde" type="xs:string" default="3033278" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="adjuvant_postoperative_targeted_therapy_administered_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2785850" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="birth_control_pill_history_usage_category" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Current User" />
                    <xs:enumeration value="Former User" />
                    <xs:enumeration value="Never Used" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3104217" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="prior_tamoxifen_administered_usage_category" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Current User (This is an exclusion criterion)" />
                    <xs:enumeration value="Former User (This is an exclusion criterion)" />
                    <xs:enumeration value="Never Used" />
                    <xs:attribute name="cde" type="xs:string" default="3104234" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="followup_met_assessment_outcome_success_margin_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="R0" />
                    <xs:enumeration value="R1" />
                    <xs:enumeration value="R2" />
                    <xs:enumeration value="RX" />
                    <xs:attribute name="cde" type="xs:string" default="2608702" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="recurrence_second_surgery_neoplasm_surgical_procedure_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Excisional Biopsy" />
                    <xs:enumeration value="Incisional Biopsy" />
                    <xs:enumeration value="Surgical Resection" />
                    <xs:enumeration value="Other Method, Specify Below" />
                    <xs:attribute name="cde" type="xs:string" default="3125097" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="recurrence_second_surgery_neoplasm_surgical_procedure_name_other" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3125102" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:simpleType name="yes_or_no_unknown">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YES" />
            <xs:enumeration value="NO" />
            <xs:enumeration value="" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
