trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.6_release/BCR/tcga.nci/bcr/xml/clinical/thca/2.5/TCGA_BCR.THCA_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.THCA_Clinical.xsd 18077 2013-02-07 04:29:35Z deardurj $ -->

<xs:schema elementFormDefault="qualified" version="2.5.6"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5"
  xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.5"
  xmlns:thca_shared="http://tcga.nci/bcr/xml/clinical/thca/shared/2.5"  
  xmlns:thca_nte="http://tcga.nci/bcr/xml/clinical/thca/shared/new_tumor_event/2.5/1.0"
  xmlns:follow_up_v2.0="http://tcga.nci/bcr/xml/clinical/thca/followup/2.5/2.0"
  xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/thca/followup/2.5/4.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/thca/2.5"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/thca/2.5"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
  
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.thca"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the THCA study.</xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5/TCGA_BCR.Pharmaceutical.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.5/TCGA_BCR.CQCF.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/thca/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/thca/shared/2.5/TCGA_BCR.THCA_Clinical_Shared_Datatypes.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/thca/shared/new_tumor_event/2.5/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/thca/shared/2.5/TCGA_BCR.THCA_Clinical_NTEs_v1.0.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/thca/followup/2.5/2.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/thca/followup/2.5/TCGA_BCR.THCA_Clinical_FollowUp_v2.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/thca/followup/2.5/4.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/thca/followup/2.5/TCGA_BCR.THCA_Clinical_FollowUp_v4.0.xsd" />
    
	
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
				<xs:element ref="shared:bcr_patient_barcode" /> 
                <xs:element ref="shared:bcr_patient_uuid" />
				<xs:element ref="shared:informed_consent_verified" />  
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
				
                <xs:element ref="tissue_prospective_collection_indicator" />
                <xs:element ref="tissue_retrospective_collection_indicator" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" /> 
                        <xs:element ref="shared:month_of_birth" /> 
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:race" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:vital_status" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="patient_personal_medical_history_thyroid_gland_disorder_names" />
                <xs:element ref="patient_personal_medical_history_thyroid_other_specify_text" />
                <xs:element ref="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_types" />
                <xs:element ref="person_lifetime_risk_radiation_exposure_indicator" />
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="histological_type" />
                <xs:element ref="shared:tumor_other_histologic_subtype_descriptive_text" />
                <xs:element ref="primary_thyroid_gland_neoplasm_location_anatomic_site" />
                <xs:element ref="primary_neoplasm_focus_type" />
                <xs:element ref="neoplasm_dimension" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
				
				
                <xs:element ref="lymph_node_preoperative_scan_indicator" />
                <xs:element ref="lymph_node_preoperative_assessment_diagnostic_imaging_types" />
                <xs:element ref="shared:primary_lymph_node_presentation_assessment" />
                <xs:element ref="shared:lymph_node_examined_count" />
                <xs:element ref="shared:number_of_lymphnodes_positive_by_he" />
                <xs:element ref="extrathyroid_carcinoma_present_extension_status" />
                <xs:element ref="shared:residual_tumor" />
                <xs:element ref="shared:ajcc_cancer_staging_handbook_edition" />
                <xs:element ref="shared:ajcc_tumor_stage_code" />
                <xs:element ref="shared:ajcc_neoplasm_disease_lymph_node_stage" />
                <xs:element ref="shared:ajcc_cancer_metastasis_stage_code" />
                <xs:element ref="shared:ajcc_neoplasm_disease_stage" />
                <xs:element ref="metastatic_neoplasm_confirmed_diagnosis_method_names" />
                <xs:element ref="metastatic_neoplasm_confirmed_diagnosis_method_text" />
                <xs:element ref="malignant_neoplasm_metastatic_involvement_site" />
                <xs:element ref="other_metastatic_involvement_anatomic_site" />
                <xs:element ref="genotype_analysis_performed_indicator" />
                <xs:element ref="genotyping_results_gene_mutation_not_reported_reasons" />
                <xs:element ref="braf_gene_genotyping_outcome_lab_results_text" />
                <xs:element ref="ras_family_gene_genotyping_outcome_lab_results_text" />
                <xs:element ref="ret_ptc_rearrangement_genotyping_outcome_lab_results_text" />
                <xs:element ref="other_genotyping_outcome_lab_results_text" />
				
				<!-- The following was added on the v4 enrollment form. -->
				<!-- Find the order in which these should go into this XSD -->
				<xs:element ref="shared:postoperative_rx_tx" minOccurs="0" />
				<xs:element ref="shared:radiation_therapy" minOccurs="0" />
				<xs:element ref="thca_shared:i_131_total_administered_preparation_technique" minOccurs="0" />
				<xs:element ref="thca_shared:i_131_first_administered_dose" minOccurs="0" />
				<xs:element ref="thca_shared:i_131_subsequent_administered_dose" minOccurs="0" />
				<xs:element ref="thca_shared:i_131_total_administered_dose" minOccurs="0" />
				<xs:element ref="thca_shared:radiation_therapy_administered_preparation_technique_text" minOccurs="0" />
				<xs:element ref="thca_shared:radiation_therapy_administered_dose_text" minOccurs="0" />
				<xs:element ref="thca_shared:radiosensitizing_agent_administered_indicator" minOccurs="0" />
				<xs:element ref="thca_shared:post_surgical_procedure_assessment_thyroid_gland_carcinoma_status" minOccurs="0" />
				
				<!-- In the 2.6.0 release change new_tumor_event to minOccurs="1" maxOccurs="1" -->
				<xs:element ref="thca_nte:new_tumor_events" minOccurs="0" />
				
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
				
				<xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
				<xs:element ref="clinical_cqcf" /> 
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="follow_up_v2.0:follow_up_v2.0" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="follow_up_v4.0:follow_up_v4.0" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="clinical_cqcf">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:anatomic_organ_subdivision"/>
                <xs:element ref="cqcf:consent_or_death_status"/>
                
                <xs:choice>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element ref="cqcf:day_of_consent"/>
                            <xs:element ref="cqcf:month_of_consent"/>
                            <xs:element ref="cqcf:year_of_consent"/>
                        </xs:sequence>
                        
                        <xs:element ref="cqcf:days_to_consent"/>
                    </xs:choice>
                    
                    <xs:choice>
                        <xs:sequence>
                            <xs:element ref="shared:day_of_death"/>
                            <xs:element ref="shared:month_of_death"/>
                            <xs:element ref="shared:year_of_death"/>
                        </xs:sequence>
                        
                        <xs:element ref="shared:days_to_death"/>
                    </xs:choice>
                </xs:choice>
                
                <xs:element ref="cqcf:diagnosis_subtype"/>
                <xs:element ref="shared:prior_diagnosis"/>
                <xs:element ref="cqcf:history_of_neoadjuvant_treatment"/>
                <xs:element ref="cqcf:normal_tissue_anatomic_site"/>
                <xs:element ref="cqcf:normal_tissue_proximity"/>
                <xs:element ref="cqcf:tumor_focality"/>
                <xs:element ref="cqcf:tumor_type"/>
				<xs:element ref="cqcf:other_diagnosis"/>
                <xs:element ref="cqcf:histological_subtype" minOccurs="0"/>
                <xs:element ref="cqcf:other_anatomic_site" minOccurs="0"/>
                <xs:element ref="cqcf:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
    <xs:element name="tissue_prospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_retrospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient_personal_medical_history_thyroid_gland_disorder_names">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="patient_personal_medical_history_thyroid_gland_disorder_name" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient_personal_medical_history_thyroid_gland_disorder_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Lymphocytic Thyroiditis" />
                    <xs:enumeration value="Nodular Hyperplasia" />
                    <xs:enumeration value="Normal" />
                    <xs:enumeration value="Other, specify" />
                    <xs:attribute name="cde" type="xs:string" default="3176743" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="patient_personal_medical_history_thyroid_other_specify_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179397" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_types">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_type" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Parent" />
                    <xs:enumeration value="Sibling" />
                    <xs:enumeration value="Child" />
                    <xs:attribute name="cde" type="xs:string" default="3179002" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="person_lifetime_risk_radiation_exposure_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2816350" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="histological_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Thyroid Papillary Carcinoma - Classical/usual" />
                    <xs:enumeration value="Thyroid Papillary Carcinoma - Follicular (>= 99% follicular patterned)" />
                    <xs:enumeration value="Thyroid Papillary Carcinoma - Tall Cell (>= 50% tall cell features)" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3081934" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="primary_thyroid_gland_neoplasm_location_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Left lobe" />
                    <xs:enumeration value="Right lobe" />
                    <xs:enumeration value="Bilateral" />
                    <xs:enumeration value="Isthmus" />
                    <xs:attribute name="cde" type="xs:string" default="3186750" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="primary_neoplasm_focus_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Unifocal" />
                    <xs:enumeration value="Multifocal" />
                    <xs:attribute name="cde" type="xs:string" default="3174022" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="neoplasm_dimension" nillable="true">
		<xs:complexType>
          <xs:sequence >
            <xs:element ref="neoplasm_length" minOccurs="1" maxOccurs="1" />
			<xs:element ref="neoplasm_width" minOccurs="1" maxOccurs="1" />
			<xs:element ref="neoplasm_depth" minOccurs="1" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
	</xs:element>
    
    <xs:element name="neoplasm_length" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2764966" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	<xs:element name="neoplasm_width" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2764966" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	<xs:element name="neoplasm_depth" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2764966" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lymph_node_preoperative_scan_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3178301" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lymph_node_preoperative_assessment_diagnostic_imaging_types">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="lymph_node_preoperative_assessment_diagnostic_imaging_type" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="lymph_node_preoperative_assessment_diagnostic_imaging_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Ultrasound" />
                    <xs:enumeration value="CT with contrast" />
                    <xs:enumeration value="CT without contrast" />
                    <xs:enumeration value="MRI with contrast" />
                    <xs:enumeration value="MRI without contrast" />
                    <xs:attribute name="cde" type="xs:string" default="3178310" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="extrathyroid_carcinoma_present_extension_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Minimal (T3)" />
                    <xs:enumeration value="Moderate/Advanced (T4a)" />
                    <xs:enumeration value="Very Advanced (T4b)" />
                    <xs:attribute name="cde" type="xs:string" default="3179452" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="metastatic_neoplasm_confirmed_diagnosis_method_names">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="metastatic_neoplasm_confirmed_diagnosis_method_name" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="metastatic_neoplasm_confirmed_diagnosis_method_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="RAI-avid" />
                    <xs:enumeration value="Biopsy Proven" />
                    <xs:enumeration value="Imaging Suspected" />
                    <xs:enumeration value="Other, specify" />
                    <xs:attribute name="cde" type="xs:string" default="3178364" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="metastatic_neoplasm_confirmed_diagnosis_method_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3178376" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="malignant_neoplasm_metastatic_involvement_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Other" />
                    <xs:enumeration value="Lung" />
                    <xs:attribute name="cde" type="xs:string" default="62835" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="other_metastatic_involvement_anatomic_site" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3135371" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="genotype_analysis_performed_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179001" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="genotyping_results_gene_mutation_not_reported_reasons">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="genotyping_results_gene_mutation_not_reported_reason" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="genotyping_results_gene_mutation_not_reported_reason" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="BRAF Mutation Not Performed" />
                    <xs:enumeration value="No BRAF Mutation Detected" />
                    <xs:enumeration value="No RAS Mutation Detected" />
                    <xs:enumeration value="No RET/PTC Rearrangement Detected" />
                    <xs:enumeration value="RAS Mutation Not Performed" />
                    <xs:enumeration value="RET/PTC Rearrangement Not Performed" />
                    <xs:attribute name="cde" type="xs:string" default="3179383" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="braf_gene_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179257" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ras_family_gene_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179266" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ret_ptc_rearrangement_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179271" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="other_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179278" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
