trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/thca/2.4/TCGA_BCR.THCA_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.THCA_Clinical.xsd 912 2011-06-01 14:49:07Z nxv002 $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/thca/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/thca/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
  
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.thca"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the THCA study.</xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />    
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="tissue_prospective_collection_indicator" />
                <xs:element ref="tissue_retrospective_collection_indicator" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" /> 
                        <xs:element ref="shared:month_of_birth" /> 
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:race" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:vital_status" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="patient_personal_medical_history_thyroid_gland_disorder_names" />
                <xs:element ref="patient_personal_medical_history_thyroid_other_specify_text" />
                <xs:element ref="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_types" />
                <xs:element ref="person_lifetime_risk_radiation_exposure_indicator" />
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="neoplasm_histologic_type_name" />
                <xs:element ref="tumor_other_histologic_subtype_descriptive_text" />
                <xs:element ref="primary_thyroid_gland_neoplasm_location_anatomic_site" />
                <xs:element ref="primary_neoplasm_focus_type" />
                <xs:element ref="neoplasm_excision_timepoint_pathologic_three_dimensional_size_text" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>

                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
                <xs:element ref="lymph_node_preoperative_scan_indicator" />
                <xs:element ref="lymph_node_preoperative_assessment_diagnostic_imaging_types" />
                <xs:element ref="primary_lymph_node_presentation_assessment_ind" />
                <xs:element ref="lymph_node_examined_count" />
                <xs:element ref="positive_finding_lymph_node_hematoxylin_and_eosin_staining_microscopy_count" />
                <xs:element ref="extrathyroid_carcinoma_present_extension_status" />
                <xs:element ref="surgical_margin_resection_status" />
                <xs:element ref="american_joint_committee_on_cancer_publication_version_type" />
                <xs:element ref="american_joint_committee_on_cancer_tumor_stage_code" />
                <xs:element ref="neoplasm_disease_lymph_node_stage_american_joint_committee_on_cancer_code" />
                <xs:element ref="american_joint_committee_on_cancer_metastasis_stage_code" />
                <xs:element ref="neoplasm_disease_stage_american_joint_committee_on_cancer_code" />
                <xs:element ref="metastatic_neoplasm_confirmed_diagnosis_method_names" />
                <xs:element ref="metastatic_neoplasm_confirmed_diagnosis_method_text" />
                <xs:element ref="metastatic_neoplasm_confirmed_diagnosis_anatomic_site_name" />
                <xs:element ref="malignant_neoplasm_metastatic_involvement_anatomic_site_text" />
                <xs:element ref="genotype_analysis_performed_indicator" />
                <xs:element ref="genotyping_results_gene_mutation_not_reported_reasons" />
                <xs:element ref="braf_gene_genotyping_outcome_lab_results_text" />
                <xs:element ref="ras_family_gene_genotyping_outcome_lab_results_text" />
                <xs:element ref="ret_ptc_rearrangement_genotyping_outcome_lab_results_text" />
                <xs:element ref="other_genotyping_outcome_lab_results_text" />
                
                <!-- Required elements for all Diseases -->
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                
                <!-- Follow Up -->
                <!--xs:element ref="follow_up_case_report_form_submission_reason" />
                <xs:element ref="shared:radiation_therapy" />
                <xs:element ref="shared:additional_pharmaceutical_therapy" />
                <xs:element ref="iodine_i_131_total_administered_preparation_technique_name" />
                <xs:element ref="iodine_i_131_first_administered_dose_text" />
                <xs:element ref="iodine_i_131_subsequent_administered_dose_text" />
                <xs:element ref="iodine_i_131_total_administered_dose_text" />
                <xs:element ref="radiation_therapy_administered_preparation_technique_text" />
                <xs:element ref="radiation_therapy_administered_dose_text" />
                <xs:element ref="radiosensitizing_agent_administered_indicator" />
                <xs:element ref="post_surgical_procedure_assessment_thyroid_gland_carcinoma_status" />
                <xs:element ref="new_neoplasm_event_post_initial_therapy_indicator" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="shared:month_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="shared:year_of_new_tumor_event_after_initial_treatment" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_new_tumor_event_after_initial_treatment" />
                </xs:choice>
                
                <xs:element ref="new_neoplasm_confirmed_diagnosis_method_name" />
                <xs:element ref="histologic_disease_progression_present_indicator" />
                <xs:element ref="histologic_disease_progression_present_type" />
                <xs:element ref="histologic_disease_progression_present_text" />
                <xs:element ref="new_neoplasm_event_type" />
                <xs:element ref="new_neoplasm_event_occurrence_anatomic_site" />
                <xs:element ref="new_neoplasm_occurrence_anatomic_site_text" />
                <xs:element ref="thyroid_gland_carcinoma_involvement_regional_lymph_node_type" />
                <xs:element ref="thyroid_gland_carcinoma_regional_lymph_node_involvement_anatomic_sites_text" />
                <xs:element ref="therapeutic_procedure_new_neoplasm_required_additional_therapy_type" />
                <xs:element ref="shared:additional_surgery_locoregional_procedure" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_additional_surgery_metastatic_procedure" />
                </xs:choice>
                
                <xs:element ref="shared:additional_radiation_therapy" />
                <xs:element ref="shared:additional_radiation_therapy" /-->
                
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_prospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_retrospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient_personal_medical_history_thyroid_gland_disorder_names">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="patient_personal_medical_history_thyroid_gland_disorder_name" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient_personal_medical_history_thyroid_gland_disorder_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Lymphocytic Thyroiditis" />
                    <xs:enumeration value="Nodular Hyperplasia" />
                    <xs:enumeration value="Normal" />
                    <xs:enumeration value="Other, specify" />
                    <xs:attribute name="cde" type="xs:string" default="3176743" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="patient_personal_medical_history_thyroid_other_specify_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179397" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_types">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_type" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_degree_relative_history_thyroid_gland_carcinoma_diagnosis_relationship_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Parent" />
                    <xs:enumeration value="Sibling" />
                    <xs:enumeration value="Child" />
                    <xs:attribute name="cde" type="xs:string" default="3179002" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="person_lifetime_risk_radiation_exposure_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2816350" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="neoplasm_histologic_type_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Thyroid Papillary Carcinoma - Classical/usual" />
                    <xs:enumeration value="Thyroid Papillary Carcinoma - Follicular (>= 99% follicular patterned)" />
                    <xs:enumeration value="Thyroid Papillary Carcinoma - Tall Cell (>= 50% tall cell features)" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3081934" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_other_histologic_subtype_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="primary_thyroid_gland_neoplasm_location_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Left lobe" />
                    <xs:enumeration value="Right lobe" />
                    <xs:enumeration value="Bilateral" />
                    <xs:enumeration value="Isthmus" />
                    <xs:attribute name="cde" type="xs:string" default="3186750" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="primary_neoplasm_focus_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Unifocal" />
                    <xs:enumeration value="Multifocal" />
                    <xs:attribute name="cde" type="xs:string" default="3174022" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="neoplasm_excision_timepoint_pathologic_three_dimensional_size_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3167398" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lymph_node_preoperative_scan_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3178301" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lymph_node_preoperative_assessment_diagnostic_imaging_types">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="lymph_node_preoperative_assessment_diagnostic_imaging_type" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="lymph_node_preoperative_assessment_diagnostic_imaging_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Ultrasound" />
                    <xs:enumeration value="CT with contrast" />
                    <xs:enumeration value="CT without contrast" />
                    <xs:enumeration value="MRI with contrast" />
                    <xs:enumeration value="MRI without contrast" />
                    <xs:attribute name="cde" type="xs:string" default="3178310" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="primary_lymph_node_presentation_assessment_ind" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2200396" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lymph_node_examined_count" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="positive_finding_lymph_node_hematoxylin_and_eosin_staining_microscopy_count" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3086388" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="extrathyroid_carcinoma_present_extension_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Minimal (T3)" />
                    <xs:enumeration value="Moderate/Advanced (T4a)" />
                    <xs:enumeration value="Very Advanced (T4b)" />
                    <xs:attribute name="cde" type="xs:string" default="3179452" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="surgical_margin_resection_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="RX" />
                    <xs:enumeration value="R0" />
                    <xs:enumeration value="R1" />
                    <xs:enumeration value="R2" />
                    <xs:attribute name="cde" type="xs:string" default="2608702" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="american_joint_committee_on_cancer_publication_version_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="1st" />
                    <xs:enumeration value="2nd" />
                    <xs:enumeration value="3rd" />
                    <xs:enumeration value="4th" />
                    <xs:enumeration value="5th" />
                    <xs:enumeration value="6th" />
                    <xs:enumeration value="7th" />
                    <xs:attribute name="cde" type="xs:string" default="2722309" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="american_joint_committee_on_cancer_tumor_stage_code" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="TX" />
                    <xs:enumeration value="T0" />
                    <xs:enumeration value="T1" />
                    <xs:enumeration value="T1a" />
                    <xs:enumeration value="T1b" />
                    <xs:enumeration value="T1c" />
                    <xs:enumeration value="T2" />
                    <xs:enumeration value="T2a" />
                    <xs:enumeration value="T2b" />
                    <xs:enumeration value="T3" />
                    <xs:enumeration value="T3a" />
                    <xs:enumeration value="T3b" />
                    <xs:enumeration value="T4" />
                    <xs:enumeration value="T4a" />
                    <xs:enumeration value="T4b" />
                    <xs:attribute name="cde" type="xs:string" default="3045435" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="neoplasm_disease_lymph_node_stage_american_joint_committee_on_cancer_code" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="NX" />
                    <xs:enumeration value="N0" />
                    <xs:enumeration value="N1" />
                    <xs:enumeration value="N1a" />
                    <xs:enumeration value="N1b" />
                    <xs:enumeration value="N1c" />
                    <xs:enumeration value="N2" />
                    <xs:attribute name="cde" type="xs:string" default="3203106" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="american_joint_committee_on_cancer_metastasis_stage_code" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="MX" />
                    <xs:enumeration value="M0" />
                    <xs:enumeration value="M1" />
                    <xs:attribute name="cde" type="xs:string" default="3045439" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="neoplasm_disease_stage_american_joint_committee_on_cancer_code" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Stage I" />
                    <xs:enumeration value="Stage II" />
                    <xs:enumeration value="Stage III" />
                    <xs:enumeration value="Stage IV" />
                    <xs:enumeration value="Stage IVA" />
                    <xs:enumeration value="Stage IVB" />
                    <xs:enumeration value="Stage IVC" />
                    <xs:attribute name="cde" type="xs:string" default="3203222" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="metastatic_neoplasm_confirmed_diagnosis_method_names">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="metastatic_neoplasm_confirmed_diagnosis_method_name" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="metastatic_neoplasm_confirmed_diagnosis_method_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="RAI-avid" />
                    <xs:enumeration value="Biopsy Proven" />
                    <xs:enumeration value="Imaging Suspected" />
                    <xs:enumeration value="Other, specify" />
                    <xs:attribute name="cde" type="xs:string" default="3178364" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="metastatic_neoplasm_confirmed_diagnosis_method_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3178376" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="metastatic_neoplasm_confirmed_diagnosis_anatomic_site_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Other" />
                    <xs:enumeration value="Lung" />
                    <xs:attribute name="cde" type="xs:string" default="2967298" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="malignant_neoplasm_metastatic_involvement_anatomic_site_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3178387" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="genotype_analysis_performed_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179001" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="genotyping_results_gene_mutation_not_reported_reasons">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="genotyping_results_gene_mutation_not_reported_reason" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="genotyping_results_gene_mutation_not_reported_reason" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="BRAF Mutation Not Performed" />
                    <xs:enumeration value="No BRAF Mutation Detected" />
                    <xs:enumeration value="No RAS Mutation Detected" />
                    <xs:enumeration value="No RET/PTC Rearrangement Detected" />
                    <xs:enumeration value="RAS Mutation Not Performed" />
                    <xs:enumeration value="RET/PTC Rearrangement Not Performed" />
                    <xs:attribute name="cde" type="xs:string" default="3179383" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="braf_gene_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179257" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ras_family_gene_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179266" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ret_ptc_rearrangement_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179271" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="other_genotyping_outcome_lab_results_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3179278" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <!--xs:element name="follow_up_case_report_form_submission_reason" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Scheduled Follow-up Submission" />
                    <xs:enumeration value="Additional New Tumor Event" />
                    <xs:attribute name="cde" type="xs:string" default="3233305" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="iodine_i_131_total_administered_preparation_technique_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="rhTSH" />
                    <xs:enumeration value="Thyroxine withdrawal" />
                    <xs:enumeration value="Patient did not receive I-131 treatment" />
                    <xs:attribute name="cde" type="xs:string" default="3232952" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="iodine_i_131_first_administered_dose_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3232898" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="iodine_i_131_subsequent_administered_dose_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3232904" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="iodine_i_131_total_administered_dose_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3232906" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="radiation_therapy_administered_preparation_technique_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3232960" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="radiation_therapy_administered_dose_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3232933" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="radiosensitizing_agent_administered_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3232932" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="post_surgical_procedure_assessment_thyroid_gland_carcinoma_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="No imaging evidence of disease" />
                    <xs:enumeration value="Persistent locoregional disease" />
                    <xs:enumeration value="Persistent distant metastases" />
                    <xs:attribute name="cde" type="xs:string" default="3186684" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="new_neoplasm_event_post_initial_therapy_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3121376" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="new_neoplasm_confirmed_diagnosis_method_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Imaging" />
                    <xs:enumeration value="Pathology" />
                    <xs:attribute name="cde" type="xs:string" default="3186701" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="histologic_disease_progression_present_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3181376" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="histologic_disease_progression_present_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Poorly differentiated" />
                    <xs:enumeration value="Anaplastic" />
                    <xs:enumeration value="Other, specify" />
                    <xs:attribute name="cde" type="xs:string" default="3181384" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="histologic_disease_progression_present_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3181387" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="new_neoplasm_event_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Locoregional (Urothelial tumor event)" />
                    <xs:enumeration value="Locoregional Disease" />
                    <xs:enumeration value="Locoregional Recurrence" />
                    <xs:enumeration value="Distant Metastasis" />
                    <xs:enumeration value="New Primary Tumor" />
                    <xs:enumeration value="Biochemical evidence of disease" />
                    <xs:attribute name="cde" type="xs:string" default="3119721" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="new_neoplasm_event_occurrence_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Renal Pelvis" />
                    <xs:enumeration value="Ureter" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Urethra" />
                    <xs:enumeration value="Lymph Node Only" />
                    <xs:enumeration value="Other, specify" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Bladder" />
                    <xs:attribute name="cde" type="xs:string" default="3108271" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="new_neoplasm_occurrence_anatomic_site_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3128033" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="thyroid_gland_carcinoma_involvement_regional_lymph_node_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Central (levels 6-7)" />
                    <xs:enumeration value="Lateral (levels 2-5)" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3186207" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="thyroid_gland_carcinoma_regional_lymph_node_involvement_anatomic_sites_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3185693" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="therapeutic_procedure_new_neoplasm_required_additional_therapy_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Surgery (distant metastasis) or Surgery (loco-regional)" />
                    <xs:enumeration value="RAI therapy" />
                    <xs:enumeration value="EBRT" />
                    <xs:enumeration value="Pharmaceutical therapy" />
                    <xs:attribute name="cde" type="xs:string" default="3185186" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element-->
</xs:schema>
