trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.3_release/BCR/tcga.nci/bcr/xml/clinical/lgg/2.5/TCGA_BCR.LGG_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Ken Burnett (IGC) -->
<!-- $Id: TCGA_BCR.LGG_Clinical.xsd 1259 2011-09-26 21:49:51Z kburnett $ -->
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5" 
 xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5" 
 xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5" 
 xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5" 
 xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" 
 xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" 
 xmlns:follow_up_v1.0="http://tcga.nci/bcr/xml/clinical/lgg/followup/2.5/1.0" 
 xmlns="http://tcga.nci/bcr/xml/clinical/lgg/2.5" 
 xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
 targetNamespace="http://tcga.nci/bcr/xml/clinical/lgg/2.5" 
 elementFormDefault="qualified" 
 version="2.5.3" 
 jaxb:version="1.0">
	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings generateIsSetMethod="true"/>
			<jaxb:schemaBindings>
				<jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.lgg"/>
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the LGG study.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.5/TCGA_BCR.CQCF.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/lgg/followup/2.5/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/lgg/followup/2.5/TCGA_BCR.LGG_Clinical_FollowUp_v1.0.xsd"/>
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shared:tumor_tissue_site"/>
				<xs:element ref="histological_type"/>
				<xs:element ref="shared:prior_diagnosis"/>
				<xs:element ref="shared:gender"/>
				<xs:element ref="shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_birth"/>
						<xs:element ref="shared:month_of_birth"/>
						<xs:element ref="shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_birth"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_last_known_alive"/>
						<xs:element ref="shared:month_of_last_known_alive"/>
						<xs:element ref="shared:year_of_last_known_alive"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_last_known_alive"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_death"/>
						<xs:element ref="shared:month_of_death"/>
						<xs:element ref="shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_death"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_last_followup"/>
						<xs:element ref="shared:month_of_last_followup"/>
						<xs:element ref="shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_last_followup"/>
				</xs:choice>
				<xs:element ref="shared:race"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="shared:pretreatment_history"/>
				<xs:element ref="shared:informed_consent_verified"/>
				<xs:element ref="shared:icd_o_3_site"/>
				<xs:element ref="shared:icd_o_3_histology"/>
				<xs:element ref="shared:icd_10"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="shared:days_to_initial_pathologic_diagnosis"/>
						<xs:element ref="shared:age_at_initial_pathologic_diagnosis"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="shared:person_neoplasm_cancer_status"/>
				<!-- Tumor status -->
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_form_completion"/>
						<xs:element ref="shared:month_of_form_completion"/>
						<xs:element ref="shared:year_of_form_completion"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_form_completion"/>
				</xs:choice>
				<xs:element ref="shared:ethnicity"/>
				<xs:element ref="shared:performance_status_scale_timing"/>
				<xs:element ref="therapeutic_ionizing_head_radiation"/>
				<xs:element ref="tumor_location"/>
				<xs:element ref="histologic_classification"/>
				<xs:element ref="supratentorial_localization"/>
				<xs:element ref="seizure_history"/>
				<xs:element ref="laterality"/>
				<xs:element ref="headache_history"/>
				<xs:element ref="mental_status_changes"/>
				<xs:element ref="visual_changes"/>
				<xs:element ref="sensory_changes"/>
				<xs:element ref="motor_movement_changes"/>
				<xs:element ref="first_presenting_symptom"/>
				<xs:element ref="first_presenting_symptom_longest_duration"/>
				<xs:element ref="asthma_history"/>
				<xs:element ref="eczema_history"/>
				<xs:element ref="hay_fever_history"/>
				<xs:element ref="mold_or_dust_allergy_history"/>
				<xs:element ref="first_diagnosis_age_asth_ecz_hay_fev_mold_dust"/>
				<xs:element ref="food_allergy_history"/>
				<xs:element ref="food_allergy_types"/>
				<xs:element ref="first_diagnosis_age_of_food_allergy"/>
				<xs:element ref="animal_insect_allergy_history"/>
				<xs:element ref="animal_insect_allergy_types"/>
				<xs:element ref="first_diagnosis_age_of_animal_insect_allergy"/>
				<xs:element ref="preoperative_corticosteroids"/>
				<xs:element ref="preoperative_antiseizure_meds"/>
				<xs:element ref="family_history_of_cancer"/>
				<xs:element ref="family_history_of_primary_brain_tumor"/>
				<xs:element ref="ldh1_mutation_tested"/>
				<xs:element ref="ldh1_mutation_test_method"/>
				<xs:element ref="ldh1_mutation_found"/>
				<xs:element ref="inherited_genetic_syndrome_found"/>
				<xs:element ref="inherited_genetic_syndrome_result"/>
				<xs:element ref="shared:karnofsky_performance_score"/>
				<xs:element ref="shared:eastern_cancer_oncology_group"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="day_of_initial_score_performance_status_scale"/>
						<xs:element ref="month_of_initial_score_performance_status_scale"/>
						<xs:element ref="year_of_initial_score_performance_status_scale"/>
					</xs:sequence>
					<xs:element ref="days_to_initial_score_performance_status_scale"/>
				</xs:choice>
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				<xs:element ref="clinical_cqcf"/>
				<xs:element name="follow_ups">
					<xs:annotation>
						<xs:documentation>We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="follow_up_v1.0:follow_up_v1.0" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="clinical_cqcf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cqcf:frozen_specimen_anatomic_site"/>
				<xs:element ref="cqcf:history_of_prior_malignancy"/>
								<xs:element ref="cqcf:history_of_neoadjuvant_treatment"/>
								<xs:element ref="cqcf:consent_or_death_status"/>
								<xs:choice>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="cqcf:day_of_consent"/>
											<xs:element ref="cqcf:month_of_consent"/>
											<xs:element ref="cqcf:year_of_consent"/>
										</xs:sequence>
										<xs:element ref="cqcf:days_to_consent"/>
									</xs:choice>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="shared:day_of_death"/>
											<xs:element ref="shared:month_of_death"/>
											<xs:element ref="shared:year_of_death"/>
										</xs:sequence>
										<xs:element ref="shared:days_to_death"/>
									</xs:choice>
								</xs:choice>
								<xs:element ref="cqcf:prior_head_radiation_therapy"/>
								<xs:element ref="cqcf:diagnosis_subtype"/>
								<xs:element ref="shared:prior_diagnosis"/>
								<xs:element ref="cqcf:normal_tissue_anatomic_site" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:normal_tissue_proximity" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:tumor_type" maxOccurs="unbounded"/>
								<xs:element ref="cqcf:histological_subtype" minOccurs="0"/>
								<xs:element ref="cqcf:other_anatomic_site" minOccurs="0"/>
								<xs:element ref="cqcf:other_anatomic_site_normal_tissue" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="histological_type" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3081934"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="1.9"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="days_to_initial_score_performance_status_scale" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default=""/>
					<xs:attribute name="xsd_ver" type="xs:string" default=""/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="day_of_initial_score_performance_status_scale" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_day">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121350"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="month_of_initial_score_performance_status_scale" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_day">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121343"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="year_of_initial_score_performance_status_scale" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_day">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121354"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="laterality" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Right"/>
					<xs:enumeration value="Left"/>
					<xs:enumeration value="Midline"/>
					<xs:attribute name="cde" type="xs:string" default="3130361"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="histologic_classification" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Grade II"/>
					<xs:enumeration value="Grade III"/>
					<xs:attribute name="cde" type="xs:string" default="3121592"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="therapeutic_ionizing_head_radiation">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3120926"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="seizure_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121333"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="headache_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121345"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mental_status_changes">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121352"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="visual_changes">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121359"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sensory_changes">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121365"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="motor_movement_changes">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3120991"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="asthma_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133921"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="eczema_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133925"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hay_fever_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133930"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mold_or_dust_allergy_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133934"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="food_allergy_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121278"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="animal_insect_allergy_history">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121314"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="preoperative_corticosteroids">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121323"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="preoperative_antiseizure_meds">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121328"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="family_history_of_cancer">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2436860"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="family_history_of_primary_brain_tumor">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133957"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ldh1_mutation_tested">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133962"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ldh1_mutation_found">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133967"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="inherited_genetic_syndrome_found">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3133971"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tumor_location" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Supratentorial, Frontal Lobe"/>
					<xs:enumeration value="Supratentorial, Temporal Lobe"/>
					<xs:enumeration value="Supratentorial, Parietal Lobe"/>
					<xs:enumeration value="Supratentorial, Occipital Lobe"/>
					<xs:enumeration value="Supratentorial, Not Otherwise Specified"/>
					<xs:enumeration value="Posterior Fossa, Cerebellum"/>
					<xs:enumeration value="Posterior Fossa, Brain Stem"/>
					<xs:attribute name="cde" type="xs:string" default="3139375"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="supratentorial_localization" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Spinal Cord"/>
					<xs:enumeration value="Cerebral Cortex"/>
					<xs:enumeration value="White Matter"/>
					<xs:enumeration value="Deep Gray (e.g.basal ganglia, thalamus)"/>
					<xs:enumeration value="Not listed in Medical Record"/>
					<xs:attribute name="cde" type="xs:string" default="3133891"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="first_presenting_symptom" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Seizures"/>
					<xs:enumeration value="Headaches"/>
					<xs:enumeration value="Mental Status Changes"/>
					<xs:enumeration value="Visual Changes"/>
					<xs:enumeration value="Sensory Changes"/>
					<xs:enumeration value="Motor/Movement Changes"/>
					<xs:attribute name="cde" type="xs:string" default="3133911"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="first_presenting_symptom_longest_duration" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="0 - 30 Days"/>
					<xs:enumeration value="31 - 90 Days"/>
					<xs:enumeration value="91 - 180 Days"/>
					<xs:enumeration value="&gt; 181 Days"/>
					<xs:attribute name="cde" type="xs:string" default="3121001"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="first_diagnosis_age_asth_ecz_hay_fev_mold_dust" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="&lt; 12 Years"/>
					<xs:enumeration value="12 - 20 Years"/>
					<xs:enumeration value="&gt; 20 Years"/>
					<xs:attribute name="cde" type="xs:string" default="3121273"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="first_diagnosis_age_of_food_allergy" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="&lt; 12 Years"/>
					<xs:enumeration value="12 - 20 Years"/>
					<xs:enumeration value="&gt; 20 Years"/>
					<xs:attribute name="cde" type="xs:string" default="3121301"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="first_diagnosis_age_of_animal_insect_allergy" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="&lt; 12 Years"/>
					<xs:enumeration value="12 - 20 Years"/>
					<xs:enumeration value="&gt; 20 Years"/>
					<xs:attribute name="cde" type="xs:string" default="3121318"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ldh1_mutation_test_method" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="IHC"/>
					<xs:enumeration value="Sequence Analysis"/>
					<xs:attribute name="cde" type="xs:string" default="3133963"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="food_allergy_types" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3121280"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="animal_insect_allergy_types" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3121316"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="inherited_genetic_syndrome_result" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3133974"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
