trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.4_release/BCR/tcga.nci/bcr/xml/clinical/ov/followup/2.5/TCGA_BCR.OV_Clinical_FollowUp_v1.0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 8.1.2.2399 (http://www.liquid-technologies.com)-->

<xs:schema elementFormDefault="qualified" version="2.5.4"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5"
           xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
           xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5"
           xmlns="http://tcga.nci/bcr/xml/clinical/ov/followup/2.5/1.0"
           targetNamespace="http://tcga.nci/bcr/xml/clinical/ov/followup/2.5/1.0"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" >

    <xs:import schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" namespace="http://tcga.nci/bcr/xml/utility/2.5" />
    <xs:import schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd" namespace="http://tcga.nci/bcr/xml/administration/2.5" />
    <xs:import schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd" namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" />

    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true" />
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.ov" />
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the TCGA Clinical Data Follow-up Form within the OV study.</xs:documentation>
    </xs:annotation>

    <xs:element name="follow_up_v1.0">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:bcr_followup_barcode" />
                <xs:element ref="shared:bcr_followup_uuid" />
                <xs:element ref="shared:vital_status" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="shared:month_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="shared:year_of_new_tumor_event_after_initial_treatment" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_new_tumor_event_after_initial_treatment" />
                </xs:choice>
                <xs:element ref="shared:additional_surgery_locoregional_procedure" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_additional_surgery_locoregional_procedure" />
                        <xs:element ref="shared:month_of_additional_surgery_locoregional_procedure" />
                        <xs:element ref="shared:year_of_additional_surgery_locoregional_procedure" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_additional_surgery_locoregional_procedure" />
                </xs:choice>
                <xs:element ref="shared:chemo_therapy" />
		<xs:element ref="shared:immuno_therapy" />
		<xs:element ref="shared:hormonal_therapy" />
                <xs:element ref="shared:targeted_molecular_therapy" />
                <xs:element ref="shared:radiation_therapy" />
		<xs:element ref="shared:person_neoplasm_cancer_status" />
		<xs:element ref="shared:additional_radiation_therapy" />
		<xs:element ref="additional_chemo_therapy" />
		<xs:element ref="additional_immuno_therapy" />
		<xs:element ref="shared:additional_pharmaceutical_therapy" />
           	<xs:element ref="additional_drug_therapy" />
                <xs:element ref="shared:additional_surgery_metastatic_procedure" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_additional_surgery_metastatic_procedure" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_tumor_progression" />
                        <xs:element ref="shared:month_of_tumor_progression" />
                        <xs:element ref="shared:year_of_tumor_progression" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_tumor_progression" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_tumor_recurrence" />
                        <xs:element ref="shared:month_of_tumor_recurrence" />
                        <xs:element ref="shared:year_of_tumor_recurrence" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_tumor_recurrence" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>

                <xs:element ref="shared:followup_case_report_form_submission_reason" />

                <xs:element ref="shared:karnofsky_performance_score" />
                <xs:element ref="shared:eastern_cancer_oncology_group" />
                <xs:element ref="shared:performance_status_scale_timing" />
                <xs:element ref="shared:site_of_tumor_first_recurrence" />
                <xs:element ref="shared:progression_determined_by" />
                <xs:element ref="shared:progression_determined_by_notes" />
                <xs:element ref="primary_therapy_outcome_success" />
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="1.0" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="primary_therapy_outcome_success" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Progressive Disease" />
                    <xs:enumeration value="Stable Disease" />
                    <xs:enumeration value="Partial Response" />
                    <xs:enumeration value="Complete Response" />
                    <xs:attribute name="cde" type="xs:string" default="2786727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

           <xs:element name="additional_chemo_therapy" nillable="true">
               <xs:complexType>
                   <xs:simpleContent>
                       <xs:extension base="utility:yes_or_no">
                           <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                           <xs:attribute name="cde" type="xs:string" default="2650626" />
                           <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                           <xs:attribute name="tier" type="xs:string" default="2" />
                       </xs:extension>
                   </xs:simpleContent>
               </xs:complexType>
           </xs:element>
         
           <xs:element name="additional_immuno_therapy" nillable="true">
               <xs:complexType>
                   <xs:simpleContent>
                       <xs:extension base="utility:yes_or_no">
                           <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                           <xs:attribute name="cde" type="xs:string" default="2759828" />
                           <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                           <xs:attribute name="tier" type="xs:string" default="2" />
                       </xs:extension>
                   </xs:simpleContent>
               </xs:complexType>
           </xs:element>
         
           <xs:element name="additional_drug_therapy" nillable="true">
               <xs:complexType>
                   <xs:simpleContent>
                       <xs:extension base="utility:yes_or_no">
                           <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                           <xs:attribute name="cde" type="xs:string" default="2786150" />
                           <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                           <xs:attribute name="tier" type="xs:string" default="2" />
                       </xs:extension>
                   </xs:simpleContent>
               </xs:complexType>
    </xs:element>

</xs:schema>
