trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.4_release/BCR/tcga.nci/bcr/xml/clinical/thca/followup/2.5/TCGA_BCR.THCA_Clinical_FollowUp_v2.0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 8.1.2.2399 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" version="2.5.4"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5" 
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5" 
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5"
	xmlns:thca_shared="http://tcga.nci/bcr/xml/clinical/thca/shared/2.5" 
	xmlns="http://tcga.nci/bcr/xml/clinical/thca/followup/2.5/2.0" 
	targetNamespace="http://tcga.nci/bcr/xml/clinical/thca/followup/2.5/2.0" 
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" >
	
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/thca/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/thca/shared/2.5/TCGA_BCR.THCA_Clinical_Shared_Datatypes.xsd" />
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true" />
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.thca" />
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the TCGA Clinical Data Follow-up Form within the THCA study.</xs:documentation>
    </xs:annotation>
    <xs:element name="follow_up_v2.0">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:bcr_followup_barcode" />
                <xs:element ref="shared:bcr_followup_uuid" />
				
                <xs:element ref="shared:followup_case_report_form_submission_reason" />
                <xs:element ref="shared:radiation_therapy" />
                <xs:element ref="shared:targeted_molecular_therapy" /> 
                <xs:element ref="thca_shared:i_131_total_administered_preparation_technique" />
                <xs:element ref="thca_shared:i_131_first_administered_dose" />
                <xs:element ref="thca_shared:i_131_subsequent_administered_dose" />
                <xs:element ref="thca_shared:i_131_total_administered_dose" />
                <xs:element ref="thca_shared:radiation_therapy_administered_preparation_technique_text" />
                <xs:element ref="thca_shared:radiation_therapy_administered_dose_text" />
                <xs:element ref="thca_shared:radiosensitizing_agent_administered_indicator" />
                <xs:element ref="thca_shared:post_surgical_procedure_assessment_thyroid_gland_carcinoma_status" />
				<xs:element ref="shared:vital_status" />
                <xs:choice>
					<xs:annotation><xs:documentation>
						Data for the DATE_of_last_followup elements are also asked on the 
						TCGA Clinical Data Form during initial enrollment within the THCA study. 
					</xs:documentation></xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
				
				<xs:choice>
					<xs:annotation><xs:documentation>
						Data for the DATE_of_death elements are also asked on the 
						TCGA Clinical Data Form during initial enrollment within the THCA study. 
					</xs:documentation></xs:annotation>
					<xs:sequence>
						<xs:element ref="shared:day_of_death" />
						<xs:element ref="shared:month_of_death" />
						<xs:element ref="shared:year_of_death" />
					</xs:sequence>
					<xs:element ref="shared:days_to_death" />
				</xs:choice>
				<xs:element ref="shared:person_neoplasm_cancer_status" />
				<xs:element ref="new_tumor" />
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation>
							Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
							If modifications are made after the form is marked complete, this date should not change.
						</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="2.0" use="optional"/>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:new_tumor_event_after_initial_treatment" />
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_new_tumor_event_after_initial_treatment" />
						<xs:element ref="shared:month_of_new_tumor_event_after_initial_treatment" />
						<xs:element ref="shared:year_of_new_tumor_event_after_initial_treatment" />
					</xs:sequence>
					
					<xs:element ref="shared:days_to_new_tumor_event_after_initial_treatment" />
				</xs:choice>
                <xs:element ref="thca_shared:new_neoplasm_confirmed_diagnosis_method_name" />
                <xs:element ref="thca_shared:histologic_disease_progression_present_indicator" />
                <xs:element ref="thca_shared:histologic_disease_progression_present_type" />
                <xs:element ref="thca_shared:histologic_disease_progression_present_text" />
                <xs:element ref="shared:new_neoplasm_event_type" />
                <xs:element ref="thca_shared:new_neoplasm_event_occurrence_anatomic_site" />
                <xs:element ref="thca_shared:new_neoplasm_occurrence_anatomic_site_text" />
                <xs:element ref="thca_shared:thyroid_gland_carcinoma_involvement_regional_lymph_node_type" />
                <xs:element ref="thca_shared:thyroid_gland_carcinoma_regional_lymph_node_involvement_anatomic_sites_text" />
                <xs:element ref="thca_shared:therapeutic_procedure_new_neoplasm_required_additional_therapy_type" />
                <xs:element ref="shared:additional_surgery_locoregional_procedure" />
				
				<xs:element ref="thca_shared:i_131_total_administered_preparation_technique" />
                <xs:element ref="thca_shared:i_131_first_administered_dose" />
                <xs:element ref="thca_shared:i_131_subsequent_administered_dose" />
                <xs:element ref="thca_shared:i_131_total_administered_dose" />
                <xs:element ref="thca_shared:radiation_therapy_administered_preparation_technique_text" />
                <xs:element ref="thca_shared:radiation_therapy_administered_dose_text" />
                <xs:element ref="thca_shared:radiosensitizing_agent_administered_indicator" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="shared:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_additional_surgery_metastatic_procedure" />
                </xs:choice>
                
                <xs:element ref="shared:additional_radiation_therapy" />
                <xs:element ref="shared:additional_pharmaceutical_therapy" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	
</xs:schema>
