trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/ov/2.4/TCGA_BCR.OV_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.OV_Clinical.xsd 15086 2012-01-31 00:51:24Z jensenma $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/ov/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/ov/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
    
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.ov"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
  
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define elements of the OV study.</xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />
  
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
      
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="histological_type" />
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:vital_status" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>

                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:element ref="shared:race" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="radiation_therapy" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>

                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
                
                <xs:element ref="shared:chemo_therapy" />
                <xs:element ref="shared:immuno_therapy" />
                <xs:element ref="shared:hormonal_therapy" />
                <xs:element ref="shared:targeted_molecular_therapy" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_tumor_progression" />
                        <xs:element ref="shared:month_of_tumor_progression" />
                        <xs:element ref="shared:year_of_tumor_progression" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_tumor_progression" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_tumor_recurrence" />
                        <xs:element ref="shared:month_of_tumor_recurrence" />
                        <xs:element ref="shared:year_of_tumor_recurrence" />
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_tumor_recurrence" />
                </xs:choice>
                
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="site_of_tumor_first_recurrence" />
                <xs:element ref="tumor_stage" />
                <xs:element ref="tumor_grade" />
                <xs:element ref="residual_tumor" />
                <xs:element ref="tumor_residual_disease" />
                <xs:element ref="primary_therapy_outcome_success" />
                <xs:element ref="jewish_origin" />
                <xs:element ref="shared:additional_radiation_therapy" />
                <xs:element ref="additional_chemo_therapy" />
                <xs:element ref="additional_immuno_therapy" />
                <xs:element ref="shared:additional_pharmaceutical_therapy" />
                <xs:element ref="additional_drug_therapy" />
                <xs:element ref="anatomic_organ_subdivision" />
                <xs:element ref="initial_pathologic_diagnosis_method" />
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="drugs" />
                <xs:element ref="radiations" />
                <xs:element ref="examinations" />
                <xs:element ref="surgeries" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="histological_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2831122" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="site_of_tumor_first_recurrence" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="LOCO-REGIONAL" />
                    <xs:enumeration value="METASTASIS" />
                    <xs:enumeration value="LOCOREGIONAL AND METASTASIS" />
                    <xs:attribute name="cde" type="xs:string" default="2791194" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_stage" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="IA" />
                    <xs:enumeration value="IB" />
                    <xs:enumeration value="IC" />
                    <xs:enumeration value="IIA" />
                    <xs:enumeration value="IIB" />
                    <xs:enumeration value="IIC" />
                    <xs:enumeration value="IIIA" />
                    <xs:enumeration value="IIIB" />
                    <xs:enumeration value="IIIC" />
                    <xs:enumeration value="IV" />
                    <xs:attribute name="cde" type="xs:string" default="62343" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="tumor_grade" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="GX" />
                    <xs:enumeration value="GB" />
                    <xs:enumeration value="G1" />
                    <xs:enumeration value="G2" />
                    <xs:enumeration value="G3" />
                    <xs:enumeration value="G4" />
                    <xs:attribute name="cde" type="xs:string" default="2785839" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="residual_tumor" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="RX" />
                    <xs:enumeration value="R0" />
                    <xs:enumeration value="R1" />
                    <xs:enumeration value="R2" />
                    <xs:attribute name="cde" type="xs:string" default="2608702" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="primary_therapy_outcome_success" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="PROGRESSIVE DISEASE" />
                    <xs:enumeration value="STABLE DISEASE" />
                    <xs:enumeration value="PARTIAL RESPONSE" />
                    <xs:enumeration value="COMPLETE RESPONSE" />
                    <xs:attribute name="cde" type="xs:string" default="2786727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="jewish_origin" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="ASHKENAZI" />
                    <xs:enumeration value="SEPHARDIC" />
                    <xs:attribute name="cde" type="xs:string" default="2200537" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="additional_chemo_therapy" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2650626" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="additional_immuno_therapy" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2759828" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="additional_drug_therapy" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2786150" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="anatomic_organ_subdivision" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2008006" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="initial_pathologic_diagnosis_method" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="CYTOLOGY" />
                    <xs:enumeration value="FINE NEEDLE ASPIRATION BIOPSY" />
                    <xs:enumeration value="INCISION BIOPSY" />
                    <xs:enumeration value="EXCISIONAL BIOPSY" />
                    <xs:enumeration value="TUMOR RESECTION" />
                    <xs:enumeration value="OTHER METHOD, SPECIFY IN NOTES" />
                    <xs:attribute name="cde" type="xs:string" default="2757941" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="radiation_therapy">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2005312" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="drugs">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="drug" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="drug">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="rx:bcr_drug_barcode" />
                <xs:element ref="rx:bcr_drug_uuid" />
                <xs:element ref="rx:drug_category" />
                <xs:element ref="rx:total_dose" />
                <xs:element ref="rx:total_dose_units" />
                <xs:element ref="rx:number_cycles" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="rx:day_of_drug_therapy_start" />
                        <xs:element ref="rx:month_of_drug_therapy_start" />
                        <xs:element ref="rx:year_of_drug_therapy_start" />
                    </xs:sequence>
          
                    <xs:element ref="rx:days_to_drug_therapy_start" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="rx:day_of_drug_therapy_end" />
                        <xs:element ref="rx:month_of_drug_therapy_end" />
                        <xs:element ref="rx:year_of_drug_therapy_end" />
                    </xs:sequence>
          
                    <xs:element ref="rx:days_to_drug_therapy_end" />
                </xs:choice>
        
                <xs:element ref="initial_course" />
                <xs:element ref="rx:drug_name" />
                <xs:element ref="shared:regimen_indication" />
                <xs:element ref="shared:regimen_indication_notes" />
                <xs:element ref="route_of_administration" />
                <xs:element ref="route_of_administration_notes" />
                <xs:element ref="rx:therapy_ongoing" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="bcr_drug_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.15" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="number_cycles">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="62590" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="drug_category">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="CHEMO" />
                    <xs:enumeration value="HORMONAL" />
                    <xs:enumeration value="IMMUNO" />
                    <xs:enumeration value="TARGETED" />
                    <xs:attribute name="cde" type="xs:string" default="729" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="initial_course">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2003586" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="route_of_administration">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="ORAL" />
                    <xs:enumeration value="INTRAVENOUS (IV)" />
                    <xs:enumeration value="INTRATUMORAL" />
                    <xs:enumeration value="INTRA-PERITONEAL (IP)" />
                    <xs:enumeration value="IV AND IP" />
                    <xs:enumeration value="OTHER: SPECIFY IN NOTES" />
                    <xs:attribute name="cde" type="xs:string" default="2003586" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.12" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="route_of_administration_notes">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2190504" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.12" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="radiations">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="radiation" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="radiation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="rad:bcr_radiation_barcode" />
                <xs:element ref="rad:bcr_radiation_uuid"/>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="rad:day_of_radiation_therapy_start" />
                        <xs:element ref="rad:month_of_radiation_therapy_start" />
                        <xs:element ref="rad:year_of_radiation_therapy_start" />
                    </xs:sequence>
          
                    <xs:element ref="rad:days_to_radiation_therapy_start" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="rad:day_of_radiation_therapy_end" />
                        <xs:element ref="rad:month_of_radiation_therapy_end" />
                        <xs:element ref="rad:year_of_radiation_therapy_end" />
                    </xs:sequence>
          
                    <xs:element ref="rad:days_to_radiation_therapy_end" />
                </xs:choice>
        
                <xs:element ref="rad:radiation_type" />
                <xs:element ref="rad:radiation_type_notes" />
                <xs:element ref="rad:radiation_dosage" />
                <xs:element ref="rad:units" />
                <xs:element ref="rad:numfractions" />
                <xs:element ref="anatomic_treatment_site" />
                <xs:element ref="shared:regimen_indication" />
                <xs:element ref="shared:regimen_indication_notes" />
                <xs:element ref="rad:radiation_treatment_ongoing" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="bcr_radiation_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.15" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="radiation_treatment_ongoing" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2842745" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.12" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="anatomic_treatment_site">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2793522" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="examinations">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="examination" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="examination">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="bcr_examination_barcode" />
                <xs:element ref="karnofsky_performance_score" />
                <xs:element ref="eastern_cancer_oncology_group" />
                <xs:element ref="progression_status" />
                <xs:element ref="shared:performance_status_scale_timing" />
                <xs:element ref="shared:progression_determined_by" />
                <xs:element ref="shared:progression_determined_by_notes" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="bcr_examination_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.15" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="karnofsky_performance_score">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="10" />
                    <xs:enumeration value="20" />
                    <xs:enumeration value="30" />
                    <xs:enumeration value="40" />
                    <xs:enumeration value="50" />
                    <xs:enumeration value="60" />
                    <xs:enumeration value="70" />
                    <xs:enumeration value="80" />
                    <xs:enumeration value="90" />
                    <xs:enumeration value="100" />
                    <xs:attribute name="cde" type="xs:string" default="2003853" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="eastern_cancer_oncology_group">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:enumeration value="5" />
                    <xs:attribute name="cde" type="xs:string" default="88" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="progression_status">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2673787" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="performance_status_scale_timing">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="PREOPERATIVE" />
                    <xs:enumeration value="PRE-ADJUVANT THERAPY" />
                    <xs:enumeration value="POST-ADJUVANT THERAPY" />
                    <xs:enumeration value="OTHER" />
                    <xs:attribute name="cde" type="xs:string" default="2792763" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="progression_determined_by">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="LABORATORY" />
                    <xs:enumeration value="PATHOLOGY" />
                    <xs:enumeration value="RADIATION" />
                    <xs:enumeration value="PHYSICAL EXAMINATION" />
                    <xs:enumeration value="IMAGING STUDY" />
                    <xs:enumeration value="MOLECULAR MARKER(S)" />
                    <xs:enumeration value="FIRST SEEN AT FURTHER SURGERY" />
                    <xs:enumeration value="OTHER METHOD: SPECIFY IN NOTES" />
                    <xs:attribute name="cde" type="xs:string" default="2786205" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="progression_determined_by_notes">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2786210" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="surgeries">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="surgery" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="surgery">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="bcr_surgery_barcode" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="day_of_procedure" />
                        <xs:element ref="month_of_procedure" />
                        <xs:element ref="year_of_procedure" />
                    </xs:sequence>
          
                    <xs:element ref="days_to_procedure" />
                </xs:choice>
        
                <xs:element ref="procedure_type" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="bcr_surgery_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2003586" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="day_of_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2896965" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.12" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="month_of_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2896963" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.12" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="year_of_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2896985" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.12" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="procedure_type">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2199761" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="days_to_drug_treatment_start">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="days_to_drug_treatment_end">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="days_to_radiation_treatment_start">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="days_to_radiation_treatment_end">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="days_to_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_residual_disease" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="No Macroscopic disease" />
                    <xs:enumeration value="1-10 mm" />
                    <xs:enumeration value="11-20 mm" />
                    <xs:enumeration value="&gt;20 mm" />
                    <xs:attribute name="cde" type="xs:string" default="2785858" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
