trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd26/tags/xsd26-release-031413/BCR/tcga.nci/bcr/xml/clinical/cesc/followup/2.6/TCGA_BCR.CESC_Clinical_FollowUp_v4.0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 8.1.2.2399 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" version="2.6.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.6" 
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.6" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.6" 
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.6"
	xmlns:cesc_shared="http://tcga.nci/bcr/xml/clinical/cesc/shared/2.6" 
	xmlns:cesc_nte="http://tcga.nci/bcr/xml/clinical/cesc/shared/new_tumor_event/2.6/1.0" 
	xmlns="http://tcga.nci/bcr/xml/clinical/cesc/followup/2.6/4.0" 
	targetNamespace="http://tcga.nci/bcr/xml/clinical/cesc/followup/2.6/4.0">
	
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.6/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.6/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.6/TCGA_BCR.Radiation.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/cesc/shared/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cesc/shared/2.6/TCGA_BCR.CESC_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/cesc/shared/new_tumor_event/2.6/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cesc/shared/2.6/TCGA_BCR.CESC_Clinical_NTEs_v1.0.xsd" />
	
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the TCGA Clinical Data Follow-up Form within the CESC study.</xs:documentation>
    </xs:annotation>
    <xs:element name="follow_up">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:bcr_followup_barcode" />
                <xs:element ref="shared:bcr_followup_uuid" />
			
				<xs:element ref="shared:lost_follow_up" />
				<xs:element ref="shared:radiation_therapy" />
				<xs:element ref="shared:postoperative_rx_tx" />
				<xs:element ref="shared:person_neoplasm_cancer_status" />
				<xs:element ref="shared:vital_status" />

				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>

				<xs:element ref="shared:patient_death_reason" />
				<xs:element ref="cesc_shared:death_cause_text" />
				<xs:element ref="shared:eastern_cancer_oncology_group" />
				<xs:element ref="shared:performance_status_scale_timing" />
				<xs:element ref="cesc_shared:performance_status_assessment_timepoint_category_other_text" />
				<xs:element ref="cesc_shared:month_of_performance_status_assessment" />
				<xs:element ref="cesc_shared:day_of_performance_status_assessment" />
				<xs:element ref="cesc_shared:year_of_performance_status_assessment" />
				<xs:element ref="shared:primary_therapy_outcome_success" />
				<xs:element ref="shared:additional_treatment_completion_success_outcome" />

				<xs:element ref="cesc_shared:treatment" />
				<xs:element ref="cesc_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation>
							Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
							If modifications are made after the form is marked complete, this date should not change.
						</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="4.0" use="optional"/>
			<xs:attribute name="sequence" type="xs:integer" />
        </xs:complexType>
    </xs:element>
</xs:schema>
