trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/lusc/2.4/TCGA_BCR.LUSC_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.LUSC_Clinical.xsd 15086 2012-01-31 00:51:24Z jensenma $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/lusc/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/lusc/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
  
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.lusc"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
  
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the LUSC study.</xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
      
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="histological_type" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:vital_status" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" />
                        <xs:element ref="shared:month_of_last_known_alive" />
                        <xs:element ref="shared:year_of_last_known_alive" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_last_known_alive" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
        
                <xs:element ref="shared:race" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
          
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
        
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="shared:performance_status_scale_timing" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="shared:ajcc_cancer_staging_handbook_edition" minOccurs="0" maxOccurs="1" />
        
                <!-- Disease specific elements. -->
                <xs:element ref="tumor_stage" />
                <xs:element ref="primary_tumor_pathologic_spread" />
                <xs:element ref="lymphnode_pathologic_spread" />
                <xs:element ref="distant_metastasis_pathologic_spread" />
                <xs:element ref="karnofsky_performance_score" />
                <xs:element ref="eastern_cancer_oncology_group" />
                <xs:element ref="tobacco_smoking_history_indicator" />
                <xs:element ref="year_of_tobacco_smoking_onset" />
                <xs:element ref="year_of_tobacco_smoking_cessation" />
                <xs:element ref="number_pack_years_smoked" />
                <xs:element ref="anatomic_organ_subdivision" />
                <xs:element ref="diagnosis" />
                <xs:element ref="location_in_lung_parenchyma" />
                <xs:element ref="residual_tumor" />
                <xs:element ref="kras_mutation_found" />
                <xs:element ref="kras_gene_analysis_performed" />
                <xs:element ref="kras_mutation_result" />
                <xs:element ref="egfr_mutation_performed" />
                <xs:element ref="egfr_mutation_result" />
                <xs:element ref="eml4_alk_translocation_performed" />
                <xs:element ref="eml4_alk_translocation_result" />
                <xs:element ref="eml4_alk_translocation_method" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="egfr_mutation_result" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="G719X" />
                    <xs:enumeration value="Exon 19 Deletion" />
                    <xs:enumeration value="Exon 20 Insertion" />
                    <xs:enumeration value="T790M" />
                    <xs:enumeration value="L858R" />
                    <xs:enumeration value="L861Q" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3147627" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="eml4_alk_translocation_result" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Variant 1" />
                    <xs:enumeration value="Variant 2" />
                    <xs:enumeration value="Variant 3" />
                    <xs:enumeration value="Variant 4" />
                    <xs:enumeration value="Variant 5" />
                    <xs:attribute name="cde" type="xs:string" default="3139445" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="eml4_alk_translocation_method" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="IHC" />
                    <xs:enumeration value="FISH" />
                    <xs:enumeration value="RT-PCR" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3139449" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="egfr_mutation_performed" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3139429" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="eml4_alk_translocation_performed" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3139437" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="histological_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3081934" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="diagnosis" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3081932" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="location_in_lung_parenchyma" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Peripheral Lung" />
                    <xs:enumeration value="Central Lung" />
                    <xs:attribute name="cde" type="xs:string" default="3139453" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="anatomic_organ_subdivision" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="R-Upper" />
                    <xs:enumeration value="R-Middle" />
                    <xs:enumeration value="R-Lower" />
                    <xs:enumeration value="L-Upper" />
                    <xs:enumeration value="L-Lower" />
                    <xs:enumeration value="Bronchial" />
                    <xs:enumeration value="Mediastinal" />
                    <xs:attribute name="cde" type="xs:string" default="2008006" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="kras_mutation_result" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="G12A" />
                    <xs:enumeration value="G12C" />
                    <xs:enumeration value="G12D" />
                    <xs:enumeration value="G12R" />
                    <xs:enumeration value="G12S" />
                    <xs:enumeration value="G12V" />
                    <xs:enumeration value="G13D" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3147614" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="number_pack_years_smoked" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="2955385" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="tobacco_smoking_history_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Lifelong Non-smoker" />
                    <xs:enumeration value="Current smoker" />
                    <xs:enumeration value="Current reformed smoker for &gt; 15 years" />
                    <xs:enumeration value="Current reformed smoker for &lt; or = 15 years" />
                    <xs:attribute name="cde" type="xs:string" default="2181650" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="year_of_tobacco_smoking_onset" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2228604" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="year_of_tobacco_smoking_cessation" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2228610" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="kras_mutation_found" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2932340" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="kras_gene_analysis_performed" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3123147" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="residual_tumor" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="RX" />
                    <xs:enumeration value="R0" />
                    <xs:enumeration value="R1" />
                    <xs:enumeration value="R2" />
                    <xs:attribute name="cde" type="xs:string" default="2608702" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="primary_therapy_outcome_success" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="PROGRESSIVE DISEASE" />
                    <xs:enumeration value="STABLE DISEASE" />
                    <xs:enumeration value="PARTIAL RESPONSE" />
                    <xs:enumeration value="COMPLETE RESPONSE" />
                    <xs:attribute name="cde" type="xs:string" default="2786727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="karnofsky_performance_score">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="10" />
                    <xs:enumeration value="20" />
                    <xs:enumeration value="30" />
                    <xs:enumeration value="40" />
                    <xs:enumeration value="50" />
                    <xs:enumeration value="60" />
                    <xs:enumeration value="70" />
                    <xs:enumeration value="80" />
                    <xs:enumeration value="90" />
                    <xs:enumeration value="100" />
                    <xs:attribute name="cde" type="xs:string" default="2003853" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="eastern_cancer_oncology_group">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:attribute name="cde" type="xs:string" default="88" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="primary_tumor_pathologic_spread" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="TX" />
                    <xs:enumeration value="T0" />
                    <xs:enumeration value="Tis" />
                    <xs:enumeration value="T1" />
                    <xs:enumeration value="T1a" />
                    <xs:enumeration value="T1b" />
                    <xs:enumeration value="T2" />
                    <xs:enumeration value="T2a" />
                    <xs:enumeration value="T2b" />
                    <xs:enumeration value="T3" />
                    <xs:enumeration value="T4" />
                    <xs:attribute name="cde" type="xs:string" default="3045435" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="lymphnode_pathologic_spread" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="NX" />
                    <xs:enumeration value="N0" />
                    <xs:enumeration value="N1" />
                    <xs:enumeration value="N2" />
                    <xs:enumeration value="N3" />
                    <xs:attribute name="cde" type="xs:string" default="3065858" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="distant_metastasis_pathologic_spread" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="M0" />
                    <xs:enumeration value="M1" />
                    <xs:enumeration value="M1a" />
                    <xs:enumeration value="M1b" />
                    <xs:enumeration value="MX" />
                    <xs:attribute name="cde" type="xs:string" default="3045439" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="tumor_stage" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Stage I" />
                    <xs:enumeration value="Stage IA" />
                    <xs:enumeration value="Stage IB" />
                    <xs:enumeration value="Stage II" />
                    <xs:enumeration value="Stage IIA" />
                    <xs:enumeration value="Stage IIB" />
                    <xs:enumeration value="Stage III" />
                    <xs:enumeration value="Stage IIIA" />
                    <xs:enumeration value="Stage IIIB" />
                    <xs:enumeration value="Stage IV" />
                    <xs:attribute name="cde" type="xs:string" default="3065862" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>