trunk/clide/src/main/resources/conf/gov.nih.nci.ncicb.tcga.dccws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Software License, Version 1.0 Copyright 2010 SRA International, Inc.
  ~ Copyright Notice.  The software subject to this notice and license includes both human
  ~ readable source code form and machine readable, binary, object code form (the "caBIG
  ~ Software").
  ~
  ~ Please refer to the complete License text for full details at the root of the project.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/gov.nih.nci.ncicb.tcga.dccws"
           targetNamespace="gme://caCORE.caCORE/3.2/gov.nih.nci.ncicb.tcga.dccws" elementFormDefault="qualified">
    <xs:element name="Platform" type="Platform"/>
    <xs:complexType name="Platform">
        <xs:sequence>
            <xs:element name="archiveCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Archive" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="datatypeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Datatype" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="alias" type="xs:string"/>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:element name="BiospecimenBarcode" type="BiospecimenBarcode"/>
    <xs:complexType name="BiospecimenBarcode">
        <xs:sequence>
            <xs:element name="collectionCenter" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="CollectionCenter" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sampleType" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="SampleType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bcrCenter" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BcrCenter" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="project" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Project" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="diseaseCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Disease" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fileCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="File" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="portionAnalyte" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="PortionAnalyte" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="barcode" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="isValid" type="xs:boolean"/>
        <xs:attribute name="patient" type="xs:string"/>
        <xs:attribute name="plateId" type="xs:string"/>
        <xs:attribute name="portionSequence" type="xs:string"/>
        <xs:attribute name="sampleSequence" type="xs:string"/>
    </xs:complexType>
    <xs:element name="Datatype" type="Datatype"/>
    <xs:complexType name="Datatype">
        <xs:sequence>
            <xs:element name="archiveCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Archive" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="platformCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Platform" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="centerType" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:element name="Archive" type="Archive"/>
    <xs:complexType name="Archive">
        <xs:sequence>
            <xs:element name="fileCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="File" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="center" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Center" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disease" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Disease" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="platform" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Platform" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="archiveType" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ArchiveType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="datatypeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Datatype" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="addedDate" type="xs:dateTime"/>
        <xs:attribute name="baseName" type="xs:string"/>
        <xs:attribute name="deployLocation" type="xs:string"/>
        <xs:attribute name="deployStatus" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="isLatest" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="revision" type="xs:integer"/>
        <xs:attribute name="serialIndex" type="xs:integer"/>
    </xs:complexType>
    <xs:element name="SampleType" type="SampleType"/>
    <xs:complexType name="SampleType">
        <xs:sequence>
            <xs:element name="biospecimenBarcodeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BiospecimenBarcode" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="definition" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:element name="FileType" type="FileType"/>
    <xs:complexType name="FileType">
        <xs:sequence>
            <xs:element name="fileCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="File" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
    </xs:complexType>
    <xs:element name="Tissue" type="Tissue"/>
    <xs:complexType name="Tissue">
        <xs:sequence>
            <xs:element name="collectionCenterCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="CollectionCenter" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:element name="Disease" type="Disease"/>
    <xs:complexType name="Disease">
        <xs:sequence>
            <xs:element name="archiveCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Archive" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="biospecimenBarcodeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BiospecimenBarcode" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="abbreviation" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:element name="Center" type="Center"/>
    <xs:complexType name="Center">
        <xs:sequence>
            <xs:element name="bcrCenterCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BcrCenter" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="archiveCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Archive" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
    <xs:element name="BcrCenter" type="BcrCenter"/>
    <xs:complexType name="BcrCenter">
        <xs:sequence>
            <xs:element name="center" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Center" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="biospecimenBarcodeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BiospecimenBarcode" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:element name="CollectionCenter" type="CollectionCenter"/>
    <xs:complexType name="CollectionCenter">
        <xs:sequence>
            <xs:element name="biospecimenBarcodeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BiospecimenBarcode" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="tissue" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Tissue" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="definition" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:element name="Annotation" type="Annotation"/>
    <xs:complexType name="Annotation">
        <xs:sequence/>
        <xs:attribute name="columnName" type="xs:string"/>
        <xs:attribute name="enteredDate" type="xs:dateTime"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="modifiedDate" type="xs:dateTime"/>
        <xs:attribute name="note" type="xs:string"/>
        <xs:attribute name="noteProvider" type="xs:string"/>
        <xs:attribute name="recordId" type="xs:integer"/>
        <xs:attribute name="subject" type="xs:string"/>
        <xs:attribute name="tableName" type="xs:string"/>
    </xs:complexType>
    <xs:element name="ArchiveType" type="ArchiveType"/>
    <xs:complexType name="ArchiveType">
        <xs:sequence>
            <xs:element name="archiveCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Archive" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="dataLevel" type="xs:integer"/>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
    <xs:element name="File" type="File"/>
    <xs:complexType name="File">
        <xs:sequence>
            <xs:element name="dataLevel" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="DataLevel" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="archive" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Archive" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fileType" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="FileType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="biospecimenBarcodeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BiospecimenBarcode" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="size" type="xs:long"/>
        <xs:attribute name="url" type="xs:string"/>
    </xs:complexType>
    <xs:element name="PortionAnalyte" type="PortionAnalyte"/>
    <xs:complexType name="PortionAnalyte">
        <xs:sequence>
            <xs:element name="biospecimenBarcodeCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BiospecimenBarcode" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="definition" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:element name="DataLevel" type="DataLevel"/>
    <xs:complexType name="DataLevel">
        <xs:sequence>
            <xs:element name="fileCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="File" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="definition" type="xs:string"/>
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>
    <xs:element name="Project" type="Project"/>
    <xs:complexType name="Project">
        <xs:sequence>
            <xs:element name="biospecimenCollection" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BiospecimenBarcode" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="definition" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
</xs:schema>

