trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.5_release/BCR/tcga.nci/bcr/xml/clinical/blca/shared/2.5/TCGA_BCR.BLCA_Clinical_Shared_Datatypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id -->

<xs:schema elementFormDefault="qualified" version="2.5.5"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
  xmlns="http://tcga.nci/bcr/xml/clinical/blca/shared/2.5"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/blca/shared/2.5">
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />
    
    <xs:element name="primary_therapy_outcome_success" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Complete Remission/Response" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:enumeration value="Partial Remission/Response" />
                    <xs:enumeration value="Persistent Disease" />
                    <xs:enumeration value="Progressive Disease" />
                    <xs:enumeration value="Stable Disease" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="2786727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="additional_treatment_completion_success_outcome" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Complete Response" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:enumeration value="Partial Response" />
                    <xs:enumeration value="Persistent Disease" />
                    <xs:enumeration value="Progressive Disease" />
                    <xs:enumeration value="Stable Disease" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3033278" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_neoplasm_event_occurrence_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Anus" />
                    <xs:enumeration value="Bladder" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Brain" />
                    <xs:enumeration value="Cervical Lymph Node" />
                    <xs:enumeration value="Cervix" />
                    <xs:enumeration value="Distant Metastasis" />
					<xs:enumeration value="Distant Metastasis " />
                    <xs:enumeration value="Head &amp; Neck" />
                    <xs:enumeration value="Hypopharynx" />
                    <xs:enumeration value="Larynx" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Lymph Node Only" />
                    <xs:enumeration value="Non-regional / Distant Lymph Nodes" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:enumeration value="Oral Cavity" />
                    <xs:enumeration value="Oropharynx" />
                    <xs:enumeration value="Other, specify" />
                    <xs:enumeration value="Peritoneal Surfaces" />
                    <xs:enumeration value="Renal Pelvis" />
                    <xs:enumeration value="Ureter" />
                    <xs:enumeration value="Urethra" />
                    <xs:enumeration value="Vulva" />
                    <xs:attribute name="cde" type="xs:string" default="3108271" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_neoplasm_occurrence_anatomic_site_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3128033" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="complete_response_observed" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3436262" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="hist_of_non_mibc" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3436253" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="induction_course_complete" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3436265" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="maint_therapy_course_complete" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3436266" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="resp_maint_from_bcg_admin_month_dur" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3436267" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="mibc_90day_post_resection_bcg" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3436260" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="non_mibc_tx" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Bacillus Calmette-Guerin (BCG)" />
                    <xs:enumeration value="No treatment" />
                    <xs:enumeration value="Transurethral resection alone" />
                    <xs:attribute name="cde" type="xs:string" default="3436357" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="history_non_muscle_invasive_blca">
		<xs:annotation>
            <xs:documentation xml:lang="en">
                History and treatment of non-muscle invasive bladder cancer
            </xs:documentation>
        </xs:annotation>
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="hist_of_non_mibc" />
			<xs:element ref="non_mibc_tx" />
			<xs:element ref="mibc_90day_post_resection_bcg" />
			<xs:element ref="complete_response_observed" />
			<xs:element ref="induction_course_complete" />
			<xs:element ref="maint_therapy_course_complete" />
			<xs:element ref="resp_maint_from_bcg_admin_month_dur" />
		  </xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>