trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.6_release/BCR/tcga.nci/bcr/xml/clinical/ov/2.5/TCGA_BCR.OV_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.OV_Clinical.xsd 850 2011-04-26 18:52:39Z nxv002 $ -->

<xs:schema elementFormDefault="qualified" version="2.5.6"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5"
  xmlns:follow_up_v1.0="http://tcga.nci/bcr/xml/clinical/ov/followup/2.5/1.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/ov/2.5"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/ov/2.5"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.ov"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define elements of the OV study.</xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/ov/followup/2.5/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/ov/followup/2.5/TCGA_BCR.OV_Clinical_FollowUp_v1.0.xsd" />

    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>

            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="shared:tumor_histologic_subtype" />
                <xs:element ref="histological_type" minOccurs="0"/>
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:vital_status" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                <xs:element ref="shared:race" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
                <xs:element ref="shared:ethnicity" />
                
                <xs:element ref="shared:gynecologic_figo_staging_system" />


                <xs:element ref="shared:karnofsky_performance_score" />
                <xs:element ref="shared:eastern_cancer_oncology_group" />
                <xs:element ref="shared:performance_status_scale_timing" />
                <xs:element ref="tumor_stage" />
                <xs:element ref="shared:neoplasm_histologic_grade" />
                <xs:element ref="shared:residual_tumor" />
                <xs:element ref="tumor_residual_disease" />
                <xs:element ref="jewish_origin" />
                <xs:element ref="shared:anatomic_organ_subdivision" />
                <xs:element ref="shared:initial_pathologic_diagnosis_method" />
                <xs:element ref="shared:venous_invasion" />
                <xs:element ref="shared:lymphatic_invasion" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
				<xs:element ref="follow_ups" />
                

            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="follow_ups">
	   <xs:annotation>
		  <xs:documentation>We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
	   </xs:annotation>
	   <xs:complexType>
		  <xs:sequence>
			 <xs:element ref="follow_up_v1.0:follow_up_v1.0" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	   </xs:complexType>
	</xs:element>

   <xs:element name="other_method_of_initial_pathological_diagnosis" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2757948" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_stage" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="I" />
                    <xs:enumeration value="IA" />
                    <xs:enumeration value="IB" />
                    <xs:enumeration value="IC" />
                    <xs:enumeration value="II" />
                    <xs:enumeration value="IIA" />
                    <xs:enumeration value="IIB" />
                    <xs:enumeration value="IIC" />
                    <xs:enumeration value="III" />
                    <xs:enumeration value="IIIA" />
                    <xs:enumeration value="IIIB" />
                    <xs:enumeration value="IIIC" />
                    <xs:enumeration value="IV" />
                    <xs:attribute name="cde" type="xs:string" default="62343" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="jewish_origin" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="ASHKENAZI" />
                    <xs:enumeration value="SEPHARDIC" />
                    <xs:attribute name="cde" type="xs:string" default="2200537" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="performance_status_scale_timing">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="PREOPERATIVE" />
                    <xs:enumeration value="PRE-ADJUVANT THERAPY" />
                    <xs:enumeration value="POST-ADJUVANT THERAPY" />
                    <xs:enumeration value="OTHER" />
                    <xs:attribute name="cde" type="xs:string" default="2792763" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_residual_disease" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="No Macroscopic disease" />
                    <xs:enumeration value="1-10 mm" />
                    <xs:enumeration value="11-20 mm" />
                    <xs:enumeration value="&gt;20 mm" />
                    <xs:attribute name="cde" type="xs:string" default="2785858" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="histological_type" nillable="true">
               <xs:complexType mixed="true">
                   <xs:simpleContent>
                       <xs:restriction base="utility:clinical_res_attributes">
                           <xs:attribute name="cde" type="xs:string" default="" />
                           <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                           <xs:attribute name="tier" type="xs:string" default="1" />
                       </xs:restriction>
                   </xs:simpleContent>
               </xs:complexType>
    </xs:element>
</xs:schema>
