trunk/qclive/qclive-core/src/test/resources/samples/qclive/clinicalXmlValidator/bad_GBM.bio.2.13.0/intgen.org_TCGA_ver1_8.xsd

<?xml version="1.0"?><!--
  ~ Software License, Version 1.0 Copyright 2010 SRA International, Inc.
  ~ Copyright Notice.  The software subject to this notice and license includes both human
  ~ readable source code form and machine readable, binary, object code form (the "caBIG
  ~ Software").
  ~
  ~ Please refer to the complete License text for full details at the root of the project.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="TCGA_BCR">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PATIENT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PATIENT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TUMORTISSUESITE"/>
                <xs:element ref="GENDER"/>
                <xs:element ref="VITALSTATUS"/>
                <xs:element ref="DATEOFBIRTH"/>
                <xs:element ref="DATEOFDEATH"/>
                <xs:element ref="DATEOFLASTFOLLOWUP"/>
                <xs:element ref="RACE"/>
                <xs:element ref="SMOKINGHISTORY"/>
                <xs:element ref="ALCOHOLCONSUMPTION"/>
                <xs:element ref="ENVIRONMENTALEXPOSURE"/>
                <xs:element ref="INFORMEDCONSENTACQUIRED"/>
                <xs:element ref="BCRSITEID"/>
                <xs:element ref="BCRPATIENTBARCODE"/>
                <xs:element ref="REVISION"/>
                <xs:element ref="PRETREATMENTHISTORY"/>
                <xs:element ref="RADIATIONTHERAPY"/>
                <xs:element ref="INFORMEDCONSENTRECEIVED"/>
                <xs:element ref="SAMPLES"/>
                <xs:element ref="DRUGS"/>
                <xs:element ref="RADIATIONS"/>
                <xs:element ref="EXAMINATIONS"/>
                <xs:element ref="SURGERIES"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BCRSITEID" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TUMORTISSUESITE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="GBM"/>
                    <xs:enumeration value="LUNG"/>
                    <xs:enumeration value="OVARIAN"/>
                    <xs:enumeration value="GLIOBLASTOMA"/>
                    <xs:enumeration value="UNKNOWN"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                    <xs:enumeration value="GMO6990"/>
                    <xs:enumeration value="U87"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="cdeattr">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="cde" type="xs:string" use="required"/>
                <xs:attribute name="procurement_status" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="GENDER">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="MALE"/>
                    <xs:enumeration value="FEMALE"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VITALSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="ALIVE"/>
                    <xs:enumeration value="DEAD"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATEOFBIRTH">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATEOFDEATH">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RACE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="NOT REPORTED"/>
                    <xs:enumeration value="WHITE"/>
                    <xs:enumeration value="AMERICAN INDIAN OR ALASKAN NATIVE"/>
                    <xs:enumeration value="BLACK OR AFRICAN AMERICAN"/>
                    <xs:enumeration value="ASIAN"/>
                    <xs:enumeration value="NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SMOKINGHISTORY">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ALCOHOLCONSUMPTION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ENVIRONMENTALEXPOSURE">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INFORMEDCONSENTACQUIRED">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMCLINICALSTAGEGROUPING">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="IA"/>
                    <xs:enumeration value="IB"/>
                    <xs:enumeration value="IC"/>
                    <xs:enumeration value="II"/>
                    <xs:enumeration value="IIA"/>
                    <xs:enumeration value="IIB"/>
                    <xs:enumeration value="IIC"/>
                    <xs:enumeration value="III"/>
                    <xs:enumeration value="IIIA"/>
                    <xs:enumeration value="IIIB"/>
                    <xs:enumeration value="IIIC"/>
                    <xs:enumeration value="IV"/>
                    <xs:enumeration value="UNKNOWN"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMCLINICALTUMORSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="T0"/>
                    <xs:enumeration value="T1"/>
                    <xs:enumeration value="T1a"/>
                    <xs:enumeration value="T1b"/>
                    <xs:enumeration value="T1c"/>
                    <xs:enumeration value="Tis"/>
                    <xs:enumeration value="T2"/>
                    <xs:enumeration value="T2a"/>
                    <xs:enumeration value="T2b"/>
                    <xs:enumeration value="T2c"/>
                    <xs:enumeration value="T3"/>
                    <xs:enumeration value="T3"/>
                    <xs:enumeration value="T3a"/>
                    <xs:enumeration value="T3b"/>
                    <xs:enumeration value="T3c"/>
                    <xs:enumeration value="T4"/>
                    <xs:enumeration value="TX"/>
                    <xs:enumeration value="UNKNOWN"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMCLINICALLYMPHNODESTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="N0"/>
                    <xs:enumeration value="N1"/>
                    <xs:enumeration value="N2"/>
                    <xs:enumeration value="N3"/>
                    <xs:enumeration value="NX"/>
                    <xs:enumeration value="UNKNOWN"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMCLINICALMETASTATICSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="M0"/>
                    <xs:enumeration value="M1"/>
                    <xs:enumeration value="MX"/>
                    <xs:enumeration value="UNKNOWN"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="BCRPATIENTBARCODE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="REVISION">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PRETREATMENTHISTORY">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value="Yes"/>
                    <xs:enumeration value="No"/>
                    <xs:enumeration value="Unknown"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RADIATIONTHERAPY">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value="Yes"/>
                    <xs:enumeration value="No"/>
                    <xs:enumeration value="Unknown"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="INFORMEDCONSENTRECEIVED">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value="Yes"/>
                    <xs:enumeration value="No"/>
                    <xs:enumeration value="Not Required"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SAMPLES">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="SAMPLE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SAMPLE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SAMPLETYPE"/>
                <xs:element ref="LONGESTDIMENSION"/>
                <xs:element ref="INTERMEDIATEDIMENSION"/>
                <xs:element ref="SHORTESTDIMENSION"/>
                <xs:element ref="INITIALWEIGHT"/>
                <xs:element ref="CURRENTWEIGHT"/>
                <xs:element ref="FREEZINGMETHOD"/>
                <xs:element ref="OCTEMBEDDED"/>
                <xs:element ref="DATEOFCOLLECTION"/>
                <xs:element ref="TIMEBETWEENCLAMPINGANDFREEZING"/>
                <xs:element ref="TIMEBETWEENEXCISIONANDFREEZING"/>
                <xs:element ref="BCRSAMPLEBARCODE"/>
                <xs:element ref="PORTIONS"/>
                <xs:element ref="TUMORPATHOLOGY"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SAMPLETYPE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="TUMOR"/>
                    <xs:enumeration value="TISSUE MATCHED NORMAL"/>
                    <xs:enumeration value="OTHER NORMAL"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LONGESTDIMENSION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INTERMEDIATEDIMENSION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SHORTESTDIMENSION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INITIALWEIGHT">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CURRENTWEIGHT">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="FREEZINGMETHOD">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="LIQUID N2 VAPOR"/>
                    <xs:enumeration value="DRY ICE"/>
                    <xs:enumeration value="-80 C"/>
                    <xs:enumeration value="-20 C"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OCTEMBEDDED">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATEOFCOLLECTION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TIMEBETWEENCLAMPINGANDFREEZING">
        <xs:complexType>
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TIMEBETWEENEXCISIONANDFREEZING">
        <xs:complexType>
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BCRSAMPLEBARCODE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PORTIONS">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="PORTION"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PORTION">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DATECREATED"/>
                <xs:element ref="WEIGHT"/>
                <xs:element ref="BCRPORTIONBARCODE"/>
                <xs:element ref="ANALYTES"/>
                <xs:element ref="SLIDES"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATECREATED">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="WEIGHT">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BCRPORTIONBARCODE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ANALYTES">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="ANALYTE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ANALYTE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TYPE"/>
                <xs:element ref="CONCENTRATION"/>
                <xs:element ref="AMOUNT"/>
                <xs:element ref="A260A280RATIO"/>
                <xs:element ref="GELIMAGEFILE"/>
                <xs:element ref="WELLNUMBER"/>
                <xs:element ref="BCRANALYTEBARCODE"/>
                <xs:element ref="ALIQUOTS"/>
                <xs:element ref="PROTOCOLS"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="DNA"/>
                    <xs:element ref="RNA"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="A260A280RATIO">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GELIMAGEFILE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:anyURI">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="WELLNUMBER">
        <xs:complexType>
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BCRANALYTEBARCODE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ALIQUOTS">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ALIQUOT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ALIQUOT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AMOUNT"/>
                <xs:element ref="SHIPPINGDATE"/>
                <xs:element ref="BCRALIQUOTBARCODE"/>
                <xs:element ref="CONCENTRATION"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SHIPPINGDATE">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BCRALIQUOTBARCODE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROTOCOLS">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="PROTOCOL"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROTOCOL" nillable="true">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="EXPERIMENTALPROTOCOLTYPE"/>
                <xs:element ref="PROTOCOLNAME"/>
                <xs:element ref="PROTOCOLFILENAME"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXPERIMENTALPROTOCOLTYPE" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROTOCOLNAME" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROTOCOLFILENAME" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DNA">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NORMALTUMORGENOTYPEMATCH"/>
                <xs:element ref="PCRAMPLIFICATIONSUCCESSFUL"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NORMALTUMORGENOTYPEMATCH">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PCRAMPLIFICATIONSUCCESSFUL">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RNA">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RATIO28S18S"/>
                <xs:element ref="RINVALUE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RATIO28S18S">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RINVALUE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SLIDES">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="SLIDE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SLIDE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SECTIONLOCATION"/>
                <xs:element ref="NUMBERPROLIFERATINGCELLS"/>
                <xs:element ref="PERCENTTUMORCELLS"/>
                <xs:element ref="PERCENTTUMORNUCLEI"/>
                <xs:element ref="PERCENTNORMALCELLS"/>
                <xs:element ref="PERCENTNECROSIS"/>
                <xs:element ref="PERCENTSTROMALCELLS"/>
                <xs:element ref="PERCENTINFLAMINFILTRATION"/>
                <xs:element ref="PERCENTLYMPHOCYTEINFILTRATION"/>
                <xs:element ref="PERCENTMONOCYTEINFILTRATION"/>
                <xs:element ref="PERCENTGRANULOCYTEINFILTRATION"/>
                <xs:element ref="PERCENTNEUTROPHILINFILTRATION"/>
                <xs:element ref="PERCENTEOSINOPHILINFILTRATION"/>
                <xs:element ref="BCRSLIDEBARCODE"/>
                <xs:element ref="TYPE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SECTIONLOCATION">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="TOP"/>
                    <xs:enumeration value="BOTTOM"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="NUMBERPROLIFERATINGCELLS">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTTUMORCELLS">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTTUMORNUCLEI">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTNORMALCELLS">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTNECROSIS">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTSTROMALCELLS">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTINFLAMINFILTRATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTLYMPHOCYTEINFILTRATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTMONOCYTEINFILTRATION" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTGRANULOCYTEINFILTRATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTNEUTROPHILINFILTRATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PERCENTEOSINOPHILINFILTRATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BCRSLIDEBARCODE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TUMORPATHOLOGY">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="PRIMARYORMETASTATICSTATUS"/>
                <xs:element minOccurs="0" ref="MARGINSINVOLVED"/>
                <xs:element minOccurs="0" ref="VENOUSINVASION"/>
                <xs:element minOccurs="0" ref="LYMPHATICINVASION"/>
                <xs:element minOccurs="0" ref="NUMBERREGIONALLYMPHNODESEXAM"/>
                <xs:element minOccurs="0" ref="NUMBERREGIONALLYMPHNODESPOS"/>
                <xs:element minOccurs="0" ref="VERIFICATIONBYBCR"/>
                <xs:element minOccurs="0" ref="TYPE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PRIMARYORMETASTATICSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="PRIMARY"/>
                    <xs:enumeration value="METASTATIC"/>
                    <xs:enumeration value="MALIGNANT"/>
                    <xs:enumeration value="NON-MALIGNANT"/>
                    <xs:enumeration value="NOT SPECIFIED"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="MARGINSINVOLVED">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VENOUSINVASION">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LYMPHATICINVASION">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="NUMBERREGIONALLYMPHNODESEXAM">
        <xs:complexType>
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NUMBERREGIONALLYMPHNODESPOS">
        <xs:complexType>
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="VERIFICATIONBYBCR">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DRUGS">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="DRUG"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DRUG">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DRUGCATEGORY"/>
                <xs:element ref="DRUGDOSAGE"/>
                <xs:element ref="DOSAGEUNITS"/>
                <xs:element ref="NUMBERCYCLES"/>
                <xs:element ref="STARTDATE"/>
                <xs:element ref="ENDDATE"/>
                <xs:element ref="INITIALCOURSE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DRUGDOSAGE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DOSAGEUNITS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="NUMBERCYCLES">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="STARTDATE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ENDDATE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DRUGNAME">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="cde" use="required"/>
                    <xs:attribute name="procurement_status" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DRUGCATEGORY">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="CHEMO"/>
                    <xs:enumeration value="HORMONAL"/>
                    <xs:enumeration value="IMMUNO"/>
                    <xs:enumeration value="TARGETED"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="INITIALCOURSE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RADIATIONS">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="RADIATION"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RADIATION">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DATEOFRADIATION"/>
                <xs:element ref="TYPE"/>
                <xs:element ref="RADIATIONDOSAGE"/>
                <xs:element ref="NUMFRACTIONS"/>
                <xs:element ref="ANATOMICTREATMENTSITE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ANATOMICTREATMENTSITE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="BRAIN"/>
                    <xs:enumeration value="LIVER"/>
                    <xs:enumeration value="LUNG"/>
                    <xs:enumeration value="BONE"/>
                    <xs:enumeration value="UNKNOWN"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXAMINATIONS">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="EXAMINATION"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXAMINATION">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DATEOFEXAMINATION"/>
                <xs:element ref="CANCERSTATUS"/>
                <xs:element ref="KARNOFSKYPERFORMANCESCORE"/>
                <xs:element ref="PROGRESSIONSTATUS"/>
                <xs:element ref="PROGRESSIONDETERMINEDBY"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATEOFEXAMINATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CANCERSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="9"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="KARNOFSKYPERFORMANCESCORE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="20"/>
                    <xs:enumeration value="30"/>
                    <xs:enumeration value="40"/>
                    <xs:enumeration value="50"/>
                    <xs:enumeration value="60"/>
                    <xs:enumeration value="70"/>
                    <xs:enumeration value="80"/>
                    <xs:enumeration value="90"/>
                    <xs:enumeration value="100"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROGRESSIONSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROGRESSIONDETERMINEDBY">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="LABORATORY"/>
                    <xs:enumeration value="PATHOLOGY"/>
                    <xs:enumeration value="RADIATION"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMRECURRENCESTAGEGROUPING">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="IA"/>
                    <xs:enumeration value="IB"/>
                    <xs:enumeration value="IC"/>
                    <xs:enumeration value="II"/>
                    <xs:enumeration value="IIA"/>
                    <xs:enumeration value="IIB"/>
                    <xs:enumeration value="IIC"/>
                    <xs:enumeration value="III"/>
                    <xs:enumeration value="IIIA"/>
                    <xs:enumeration value="IIIB"/>
                    <xs:enumeration value="IIIC"/>
                    <xs:enumeration value="IV"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMRECURRENCETUMORSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="T0"/>
                    <xs:enumeration value="T1"/>
                    <xs:enumeration value="Tis"/>
                    <xs:enumeration value="T1a"/>
                    <xs:enumeration value="T1b"/>
                    <xs:enumeration value="T1c"/>
                    <xs:enumeration value="T2"/>
                    <xs:enumeration value="T2a"/>
                    <xs:enumeration value="T2b"/>
                    <xs:enumeration value="T2c"/>
                    <xs:enumeration value="T3"/>
                    <xs:enumeration value="T3a"/>
                    <xs:enumeration value="T3b"/>
                    <xs:enumeration value="T3c"/>
                    <xs:enumeration value="T4"/>
                    <xs:enumeration value="TX"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMRECURRENCELYMPHNODESTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="N0"/>
                    <xs:enumeration value="N1"/>
                    <xs:enumeration value="N2"/>
                    <xs:enumeration value="N3"/>
                    <xs:enumeration value="NX"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMRECURRENCEMETASTATICSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="M0"/>
                    <xs:enumeration value="M1"/>
                    <xs:enumeration value="MX"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SURGERIES">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="SURGERY"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SURGERY">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DATEOFPROCEDURE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATEOFPROCEDURE">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATEOFRADIATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATEOFLASTFOLLOWUP">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RADIATIONDOSAGE" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NUMFRACTIONS" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PRIMARYPROCEDURE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="20"/>
                    <xs:enumeration value="27"/>
                    <xs:enumeration value="28"/>
                    <xs:enumeration value="30"/>
                    <xs:enumeration value="36"/>
                    <xs:enumeration value="37"/>
                    <xs:enumeration value="40"/>
                    <xs:enumeration value="45"/>
                    <xs:enumeration value="51"/>
                    <xs:enumeration value="52"/>
                    <xs:enumeration value="55"/>
                    <xs:enumeration value="56"/>
                    <xs:enumeration value="57"/>
                    <xs:enumeration value="61"/>
                    <xs:enumeration value="62"/>
                    <xs:enumeration value="63"/>
                    <xs:enumeration value="65"/>
                    <xs:enumeration value="70"/>
                    <xs:enumeration value="71"/>
                    <xs:enumeration value="72"/>
                    <xs:enumeration value="73"/>
                    <xs:enumeration value="80"/>
                    <xs:enumeration value="90"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LYMPHNODEPROCEDURE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="9"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="METASTATICPROCEDURE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="9"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TYPE">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="GBMPATHOLOGY"/>
                <xs:element ref="LUNGPATHOLOGY"/>
                <xs:element ref="OVARIANPATHOLOGY"/>
                <xs:element ref="GBMSLIDE"/>
                <xs:element ref="LUNGSLIDE"/>
                <xs:element ref="OVARIANSLIDE"/>
                <xs:element ref="RADIATIONTYPE"/>
                <xs:element ref="ANALYTETYPE"/>
            </xs:choice>
            <xs:attribute name="cde"/>
            <xs:attribute name="procurement_status"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GBMPATHOLOGY">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="HISTOLOGICTYPE"/>
                <xs:element ref="HISTOLOGICNUCLEARGRADE"/>
                <xs:element ref="TUMORSAMPLEANATOMICLOCATION"/>
                <xs:element ref="GEMISTOCYTESPRESENT"/>
                <xs:element ref="OLIGODENDROGLIALCOMPONENT"/>
                <xs:element ref="LEPTOMENINGEALINVOLEMENT"/>
                <xs:element ref="GFAP_POSITIVE"/>
                <xs:element ref="MIB1_POSITIVE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LUNGPATHOLOGY">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="HISTOLOGICNUCLEARGRADE"/>
                <xs:element ref="TUMORSAMPLEANATOMICLOCATION"/>
                <xs:element ref="TUMORSAMPLEANATOMICLOCATION"/>
                <xs:element ref="TNMPATHOLOGYSTAGEGROUPING"/>
                <xs:element ref="TNMPATHOLOGYTUMORSTATUS"/>
                <xs:element ref="TNMPATHOLOGYLYMPHNODESTATUS"/>
                <xs:element ref="TNMPATHOLOGYMETASTATICSTATUS"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OVARIANPATHOLOGY">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="HISTOLOGICNUCLEARGRADE"/>
                <xs:element ref="TUMORSAMPLEANATOMICLOCATION"/>
                <xs:element ref="TNMPATHOLOGYSTAGEGROUPING"/>
                <xs:element ref="TNMPATHOLOGYTUMORSTATUS"/>
                <xs:element ref="TNMPATHOLOGYLYMPHNODESTATUS"/>
                <xs:element ref="TNMPATHOLOGYMETASTATICSTATUS"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMPATHOLOGYSTAGEGROUPING">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="IA"/>
                    <xs:enumeration value="IB"/>
                    <xs:enumeration value="IC"/>
                    <xs:enumeration value="II"/>
                    <xs:enumeration value="IIA"/>
                    <xs:enumeration value="IIB"/>
                    <xs:enumeration value="IIC"/>
                    <xs:enumeration value="III"/>
                    <xs:enumeration value="IIIA"/>
                    <xs:enumeration value="IIIB"/>
                    <xs:enumeration value="IIIC"/>
                    <xs:enumeration value="IV"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMPATHOLOGYTUMORSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="T0"/>
                    <xs:enumeration value="T1"/>
                    <xs:enumeration value="T1A"/>
                    <xs:enumeration value="T1B"/>
                    <xs:enumeration value="T1C"/>
                    <xs:enumeration value="T2"/>
                    <xs:enumeration value="T2A"/>
                    <xs:enumeration value="T2B"/>
                    <xs:enumeration value="T2C"/>
                    <xs:enumeration value="T3"/>
                    <xs:enumeration value="T3A"/>
                    <xs:enumeration value="T3B"/>
                    <xs:enumeration value="T3C"/>
                    <xs:enumeration value="T4"/>
                    <xs:enumeration value="Tis"/>
                    <xs:enumeration value="TX"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMPATHOLOGYLYMPHNODESTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="N0"/>
                    <xs:enumeration value="N1"/>
                    <xs:enumeration value="N2"/>
                    <xs:enumeration value="N3"/>
                    <xs:enumeration value="NX"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TNMPATHOLOGYMETASTATICSTATUS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="M0"/>
                    <xs:enumeration value="M1"/>
                    <xs:enumeration value="MX"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LUNGSLIDE">
        <xs:complexType/>
    </xs:element>
    <xs:element name="OVARIANSLIDE">
        <xs:complexType/>
    </xs:element>
    <xs:element name="HISTOLOGICTYPE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="ANAPLASTIC ASTROCYTOMA"/>
                    <xs:enumeration value="GIANT CELL GLIOBLASTOMA"/>
                    <xs:enumeration value="GLIOBLASTOMA"/>
                    <xs:enumeration value="GLIOSARCOMA"/>
                    <xs:enumeration value="GLIOBLASTOMA MULTIFORME"/>
                    <xs:enumeration value="NO HISTOLOGY AVAILABLE"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HISTOLOGICNUCLEARGRADE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="LOW"/>
                    <xs:enumeration value="HIGH"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TUMORSAMPLEANATOMICLOCATION">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="C70.0"/>
                    <xs:enumeration value="C71.0"/>
                    <xs:enumeration value="C71.1"/>
                    <xs:enumeration value="C71.2"/>
                    <xs:enumeration value="C71.3"/>
                    <xs:enumeration value="C71.4"/>
                    <xs:enumeration value="C71.5"/>
                    <xs:enumeration value="C71.6"/>
                    <xs:enumeration value="C71.7"/>
                    <xs:enumeration value="C71.8"/>
                    <xs:enumeration value="C71.9"/>
                    <xs:enumeration value="C72.0"/>
                    <xs:enumeration value="C72.9"/>
                    <xs:enumeration value="C34.0"/>
                    <xs:enumeration value="C34.1"/>
                    <xs:enumeration value="C34.2"/>
                    <xs:enumeration value="C34.3"/>
                    <xs:enumeration value="C34.8"/>
                    <xs:enumeration value="C34.9"/>
                    <xs:enumeration value="BRAIN, NOS"/>
                    <xs:enumeration value="BLOOD"/>
                    <xs:enumeration value="CEREBRAL MENINGES"/>
                    <xs:enumeration value="CEREBRUM"/>
                    <xs:enumeration value="FRONTAL LOBE"/>
                    <xs:enumeration value="TEMPORAL LOBE"/>
                    <xs:enumeration value="PARIETAL LOBE"/>
                    <xs:enumeration value="OCCIPITAL LOBE"/>
                    <xs:enumeration value="VENTRICLE, NOS"/>
                    <xs:enumeration value="CEREBELLUM, NOS"/>
                    <xs:enumeration value="BRAIN STEM"/>
                    <xs:enumeration value="OVERLAPPING LESION OF BRAIN"/>
                    <xs:enumeration value="SPINAL CORD"/>
                    <xs:enumeration value="NERVOUS SYSTEM, NOS"/>
                    <xs:enumeration value="NOT SPECIFIED"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GEMISTOCYTESPRESENT">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OLIGODENDROGLIALCOMPONENT">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LEPTOMENINGEALINVOLEMENT">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GFAP_POSITIVE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="MIB1_POSITIVE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GBMSLIDE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ENDOTHELIALPROLIFERATION"/>
                <xs:element ref="NUCLEARPLEOMORPHISM"/>
                <xs:element ref="PALISADINGNECROSIS"/>
                <xs:element ref="CELLULARITY"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ENDOTHELIALPROLIFERATION">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="NUCLEARPLEOMORPHISM">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PALISADINGNECROSIS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="YES"/>
                    <xs:enumeration value="NO"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CELLULARITY">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="LOW"/>
                    <xs:enumeration value="MEDIUM"/>
                    <xs:enumeration value="HIGH"/>
                    <xs:enumeration value="UNKNOWN"/>
                    <xs:enumeration value="NOT APPLICABLE"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CONCENTRATION">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AMOUNT" nillable="true">
        <xs:complexType mixed="true">
            <xs:attribute name="cde" use="required"/>
            <xs:attribute name="procurement_status" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RADIATIONTYPE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="1-5"/>
                    <xs:enumeration value="9"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ANALYTETYPE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="cdeattr">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="DNA"/>
                    <xs:enumeration value="RNA"/>
                    <xs:enumeration value="WGA-DNA"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
