trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.3_release/BCR/tcga.nci/bcr/xml/clinical/brca/2.5/TCGA_BCR.BRCA_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.BRCA_Clinical.xsd 1774 2012-01-14 00:26:01Z jxd019 $ -->

<xs:schema elementFormDefault="qualified" version="2.5.3" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5"
  xmlns:brca_shared="http://tcga.nci/bcr/xml/clinical/brca/shared/2.5"  
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5"
  xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.5"
  xmlns:follow_up_v1.5="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5/1.5"
  xmlns:follow_up_v2.1="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5/2.1"
  xmlns="http://tcga.nci/bcr/xml/clinical/brca/2.5"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/brca/2.5"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
      
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.brca"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
  
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the BRCA study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.5/TCGA_BCR.CQCF.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/brca/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/brca/shared/2.5/TCGA_BCR.BRCA_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5/1.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/brca/followup/2.5/TCGA_BCR.BRCA_Clinical_FollowUp_v1.5.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/brca/followup/2.5/2.1" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/brca/followup/2.5/TCGA_BCR.BRCA_Clinical_FollowUp_v2.1.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:gender" />
                
                <xs:element ref="shared:vital_status">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The vital_status question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                
                <xs:choice>
					<xs:annotation>
                        <xs:documentation xml:lang="en"> 
							The date_of_last_known_alive question is asked in both the initial enrollment form and the follow-up form(s).
							
							DEPRECATED: 
							This question is no longer asked on the TCGA Clinical Data initial enrollment form or follow-up Forms (starting with v2.0) 
							within the BRCA study.
						</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" />
                        <xs:element ref="shared:month_of_last_known_alive" />
                        <xs:element ref="shared:year_of_last_known_alive" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_known_alive" />
                </xs:choice>
                
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The date_of_death question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" /> 
                        <xs:element ref="shared:month_of_death" /> 
                        <xs:element ref="shared:year_of_death" /> 
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
               
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The date_of_last_followup question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" /> 
                        <xs:element ref="shared:month_of_last_followup" /> 
                        <xs:element ref="shared:year_of_last_followup" /> 
                    </xs:sequence>
                    
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:element ref="shared:race" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" /> 
                <xs:element ref="shared:ethnicity" /> 
                <xs:element ref="shared:person_neoplasm_cancer_status">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The person_neoplasm_cancer_status question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element ref="shared:primary_lymph_node_presentation_assessment" />
                <xs:element ref="shared:lymph_node_examined_count" />
                <xs:element ref="brca_shared:er_detection_method_text" />
                <xs:element ref="brca_shared:pgr_detection_method_text" />
				<xs:element ref="shared:ajcc_cancer_staging_handbook_edition" minOccurs="0" maxOccurs="1" />
                <xs:element ref="shared:ajcc_tumor_stage_code" />
                <xs:element ref="shared:ajcc_neoplasm_disease_lymph_node_stage" />
                <xs:element ref="anatomic_organ_subdivisions" />
                <xs:element ref="brca_shared:her2_neu_chromosone_17_signal_ratio_value" />
                <xs:element ref="axillary_lymph_node_stage_method_type" />
                <xs:element ref="axillary_lymph_node_stage_other_method_descriptive_text" />
                <xs:element ref="primary_other_site_of_disease_name" />
                <xs:element ref="breast_carcinoma_surgical_procedure_name" />
                <xs:element ref="breast_neoplasm_other_surgical_procedure_descriptive_text" />
                <xs:element ref="breast_carcinoma_primary_surgical_procedure_name" />
                <xs:element ref="surgical_procedure_purpose_other_text" />
                <xs:element ref="breast_cancer_optical_measurement_histologic_type" />
                <xs:element ref="shared:tumor_other_histologic_subtype_descriptive_text" />
                <xs:element ref="menopause_status" />
                
                <xs:element ref="brca_shared:breast_carcinoma_progesterone_receptor_status" />
                <xs:element ref="cytokeratin_immunohistochemistry_staining_method_micrometastasis_indicator" />
				<xs:element ref="breast_carcinoma_immunohistochemistry_er_pos_finding_scale" />
                <xs:element ref="brca_shared:immunohistochemistry_positive_cell_score" />
                <xs:element ref="brca_shared:her2_immunohistochemistry_level_result" />
                <xs:element ref="breast_cancer_surgery_margin_status" />
                <xs:element ref="shared:margin_status" />
                <xs:element ref="shared:initial_pathologic_diagnosis_method" />
                <xs:element ref="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" />
                <xs:element ref="brca_shared:lab_procedure_her2_neu_in_situ_hybrid_outcome_type" />
                <xs:element ref="brca_shared:breast_carcinoma_estrogen_receptor_status" />
                <xs:element ref="brca_shared:lab_proc_her2_neu_immunohistochemistry_receptor_status" />
                <xs:element ref="shared:number_of_lymphnodes_positive_by_ihc" />
                <xs:element ref="shared:number_of_lymphnodes_positive_by_he" />
                <xs:element ref="brca_shared:pos_finding_progesterone_receptor_other_measurement_scale_text" />
                <xs:element ref="brca_shared:positive_finding_estrogen_receptor_other_measurement_scale_text" />
                <xs:element ref="brca_shared:her2_erbb_pos_finding_cell_percent_category" />
                <xs:element ref="brca_shared:pos_finding_her2_erbb2_other_measurement_scale_text" />
                <xs:element ref="brca_shared:her2_erbb_method_calculation_method_text" />
                <xs:element ref="brca_shared:her2_neu_and_centromere_17_copy_number_analysis_input_total_number_count" />
                <xs:element ref="brca_shared:her2_and_centromere_17_positive_finding_other_measurement_scale_text" />
                <xs:element ref="brca_shared:her2_erbb_pos_finding_fluorescence_in_situ_hybridization_calculation_method_text" />
                <xs:element ref="tissue_prospective_collection_indicator" />
                <xs:element ref="tissue_retrospective_collection_indicator" />
                <xs:element ref="brca_shared:fluorescence_in_situ_hybridization_diagnostic_procedure_chromosome_17_signal_result_range" />
                <xs:element ref="first_nonlymph_node_metastasis_anatomic_sites" />
                <xs:element ref="shared:ajcc_cancer_metastasis_stage_code" />
                <xs:element ref="brca_shared:er_level_cell_percentage_category" />
                <xs:element ref="brca_shared:progesterone_receptor_level_cell_percent_category" />
				<xs:element ref="distant_metastasis_present_ind2" />  
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_status" />               
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_level_cell_percent_category" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_immunohistochemistry_er_pos_cell_score" /> 
                <xs:element ref="brca_shared:pos_finding_metastatic_breast_carcinoma_estrogen_receptor_other_measuremenet_scale_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_detection_method_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_status" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_lab_proc_her2_neu_immunohistochemistry_receptor_status" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_level_cell_percent_category" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_immunohistochemistry_pr_pos_cell_score" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_progesterone_receptor_other_measure_scale_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_detection_method_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_pos_finding_cell_percent_category" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_erbb2_immunohistochemistry_level_result" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_her2_erbb2_other_measure_scale_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_method_calculation_method_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_lab_proc_her2_neu_in_situ_hybridization_outcome_type" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_fluorescence_in_situ_hybridization_diagnostic_proc_centromere_17_signal_result_range" /> 
                <xs:element ref="brca_shared:her2_neu_and_centromere_17_copy_number_metastatic_breast_carcinoma_analysis_input_total_number_count" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_neu_chromosone_17_signal_ratio_value" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_other_scale_measurement_text" /> 
                <xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_pos_finding_fluorescence_in_situ_hybridization_calculation_method_text" /> 
                <xs:element ref="brca_shared:her2_neu_metastatic_breast_carcinoma_copy_analysis_input_total_number" /> 
                <xs:element ref="brca_shared:her2_neu_breast_carcinoma_copy_analysis_input_total_number" />  
				<xs:element ref="breast_carcinoma_immunohistochemistry_progesterone_receptor_pos_finding_scale" />
                <xs:element ref="brca_shared:breast_carcinoma_immunohistochemistry_pos_cell_score" /> 
                <xs:element ref="shared:ajcc_neoplasm_disease_stage" />
                
                <xs:choice>
					<xs:annotation>
					<xs:documentation xml:lang="en">
						Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
						If modifications are made after the form is marked complete, this date should not change.
					</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
				
				<xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                <xs:element ref="clinical_cqcf" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="follow_up_v1.5:follow_up_v1.5" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="follow_up_v2.1:follow_up_v2.1" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="clinical_cqcf">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:anatomic_organ_subdivision"/>
                <xs:element ref="cqcf:consent_or_death_status"/>
                
                <xs:choice>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element ref="cqcf:day_of_consent"/>
                            <xs:element ref="cqcf:month_of_consent"/>
                            <xs:element ref="cqcf:year_of_consent"/>
                        </xs:sequence>
                        
                        <xs:element ref="cqcf:days_to_consent"/>
                    </xs:choice>
                    
                    <xs:choice>
                        <xs:sequence>
                            <xs:element ref="shared:day_of_death"/>
                            <xs:element ref="shared:month_of_death"/>
                            <xs:element ref="shared:year_of_death"/>
                        </xs:sequence>
                        
                        <xs:element ref="shared:days_to_death"/>
                    </xs:choice>
                </xs:choice>
                
                <xs:element ref="cqcf:diagnosis_subtype"/>
                <xs:element ref="shared:prior_diagnosis"/>
                <xs:element ref="cqcf:history_of_neoadjuvant_treatment"/>
                <xs:element ref="cqcf:normal_tissue_anatomic_site"/>
                <xs:element ref="cqcf:normal_tissue_proximity"/>
                <xs:element ref="cqcf:tumor_focality"/>
                <xs:element ref="cqcf:tumor_type"/>
				<xs:element ref="cqcf:other_diagnosis"/>
                <xs:element ref="cqcf:histological_subtype" minOccurs="0"/>
                <xs:element ref="cqcf:other_anatomic_site" minOccurs="0"/>
                <xs:element ref="cqcf:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
    <xs:element name="anatomic_organ_subdivisions">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="shared:anatomic_organ_subdivision" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="axillary_lymph_node_stage_method_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="No axillary staging" />
                    <xs:enumeration value="Sentinel node biopsy alone" />
                    <xs:enumeration value="Sentinel lymph node biopsy plus axillary dissection" />
                    <xs:enumeration value="Axillary lymph node dissection alone" />
                    <xs:enumeration value="Other (specify)" />
                    <xs:attribute name="cde" type="xs:string" default="2516112" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="primary_other_site_of_disease_name" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2584114" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_carcinoma_surgical_procedure_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Surgery not Performed" />
                    <xs:enumeration value="Lumpectomy" />
                    <xs:enumeration value="Simple Mastectomy" />
                    <xs:enumeration value="Modified Radical Mastectomy" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="2739580" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_carcinoma_primary_surgical_procedure_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Lumpectomy" />
                    <xs:enumeration value="Mastectomy NOS" />
                    <xs:enumeration value="Modified radical mastectomy" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="1218" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="surgical_procedure_purpose_other_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3020338" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_pathologic_diagnosis_biospecimen_acquisition_other_method_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2757948" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="breast_cancer_optical_measurement_histologic_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Infiltrating Ductal" />
                    <xs:enumeration value="Infiltrating Lobular" />
                    <xs:enumeration value="Mucinous" />
                    <xs:enumeration value="Medullary" />
                    <xs:enumeration value="Infiltrating Carcinoma, NOS" />
                    <xs:enumeration value="Mixed Histology" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="2549638" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="menopause_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Pre (&lt;6 months since LMP AND no prior bilateral ovariectomy AND not on estrogen replacement)" />
                    <xs:enumeration value="Peri (6-12 months since last menstrual period)" />
                    <xs:enumeration value="Post (prior bilateral ovariectomy OR &gt;12 mo since LMP with no prior hysterectomy)" />
                    <xs:enumeration value="Indeterminate (neither Pre or Postmenopausal)" />
                    <xs:attribute name="cde" type="xs:string" default="2957270" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="cytokeratin_immunohistochemistry_staining_method_micrometastasis_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3086152" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="breast_carcinoma_immunohistochemistry_er_pos_finding_scale" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="4 Point Scale" />
                    <xs:enumeration value="3 Point Scale" />
                    <xs:attribute name="cde" type="xs:string" default="3203081" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
    <xs:element name="breast_cancer_surgery_margin_status" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="brca_shared:posNegClose">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2241252" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_prospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_retrospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	
    <xs:element name="breast_neoplasm_other_surgical_procedure_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124493" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="axillary_lymph_node_stage_other_method_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124496" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_nonlymph_node_metastasis_anatomic_sites">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="first_nonlymph_node_metastasis_anatomic_site" minOccurs="1" maxOccurs="unbounded" />
            <xs:element ref="first_recurrent_non_nodal_metastatic_anatomic_site_descriptive_text" minOccurs="1" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_nonlymph_node_metastasis_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Brain" />
                    <xs:enumeration value="Other, specify" />
                    <xs:attribute name="cde" type="xs:string" default="3124499" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="first_recurrent_non_nodal_metastatic_anatomic_site_descriptive_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124503" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="distant_metastasis_present_ind2" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2194698" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="breast_carcinoma_immunohistochemistry_progesterone_receptor_pos_finding_scale" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="4 Point Scale" />
					<xs:enumeration value="3 Point Scale" />
                    <xs:attribute name="cde" type="xs:string" default="3203083" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="posNegStat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="" />
            <xs:enumeration value="Positive" />
            <xs:enumeration value="Negative" />
            <xs:enumeration value="Unknown" />
            <xs:enumeration value="Equivocal" />
            <xs:enumeration value="Indeterminate" />
            <xs:enumeration value="Performed but Not Available" />
            <xs:enumeration value="Not Performed" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="noneToGreaterThanTwenty">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Greater than 20" />
            <xs:enumeration value="16-20" />
            <xs:enumeration value="11-15" />
            <xs:enumeration value="6-10 Lymph nodes" />
            <xs:enumeration value="5" />
            <xs:enumeration value="4" />
            <xs:enumeration value="3" />
            <xs:enumeration value="2" />
            <xs:enumeration value="1" />
            <xs:enumeration value="" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
