trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd26/trunk/BCR/tcga.nci/bcr/xml/clinical/paad/2.6/TCGA_BCR.PAAD_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- $Id -->
<xs:schema elementFormDefault="qualified" version="2.6.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.6" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.6" 
	xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.6" 
	xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.6"
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.6" 
	xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.6" 
	xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.6" 
	xmlns:follow_up_v4.4="http://tcga.nci/bcr/xml/clinical/paad/followup/2.6/4.4" 
	xmlns:paad_nte="http://tcga.nci/bcr/xml/clinical/paad/shared/new_tumor_event/2.6/1.0" 
	xmlns="http://tcga.nci/bcr/xml/clinical/paad/2.6" 
	targetNamespace="http://tcga.nci/bcr/xml/clinical/paad/2.6">
	
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the paad study.</xs:documentation>
	
	</xs:annotation>
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.6/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.6/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.6/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.6/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.6/TCGA_BCR.CQCF.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/paad/shared/new_tumor_event/2.6/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/paad/shared/2.6/TCGA_BCR.PAAD_Clinical_NTEs_v1.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/paad/followup/2.6/4.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/paad/followup/2.6/TCGA_BCR.PAAD_Clinical_FollowUp_v4.4.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Stage_Clinical_Elements.xsd"/>
	
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.6"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="shared:informed_consent_verified"/>
				<xs:element ref="shared:icd_o_3_site"/>
				<xs:element ref="shared:icd_o_3_histology"/>
				<xs:element ref="shared:icd_10"/>
				<xs:element ref="shared:tumor_tissue_site"/>
				<xs:element ref="adenocarcinoma_invasion"/>
				<xs:element ref="shared:histological_type"/>
				<xs:element ref="shared:histological_type_other"/>
				<xs:element ref="tumor_type" maxOccurs="unbounded"/>
				<xs:element ref="shared:anatomic_neoplasm_subdivision"/>
				<xs:element ref="shared:anatomic_neoplasm_subdivision_other"/>
				<xs:element ref="shared:tissue_prospective_collection_indicator"/>
				<xs:element ref="shared:tissue_retrospective_collection_indicator"/>
				<xs:element ref="shared:gender"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_birth"/>
						<xs:element ref="shared:month_of_birth"/>
						<xs:element ref="shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_birth" />
				</xs:choice>
				<xs:element ref="shared:race"/>
				<xs:element ref="shared:ethnicity"/>
				<xs:element ref="shared:prior_dx"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
					</xs:sequence>
				</xs:choice>
				<xs:element ref="shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="shared:initial_pathologic_diagnosis_method"/>
				<xs:element ref="shared:init_pathology_dx_method_other"/>
				<xs:element ref="surgery_performed_type"/>
				<xs:element ref="surgery_performed_type_other"/>
				<xs:element ref="shared:primary_lymph_node_presentation_assessment"/>
				<xs:element ref="shared:lymph_node_examined_count"/>
				<xs:element ref="shared:number_of_lymphnodes_positive_by_he"/>
				<xs:element ref="shared:number_of_lymphnodes_positive_by_ihc"/>
				<xs:element ref="shared:neoplasm_histologic_grade"/>
				<xs:element ref="histologic_grading_tier_category"/>
				<xs:element ref="maximum_tumor_dimension"/>
				<xs:element ref="shared:residual_tumor"/>
				<xs:element ref="shared_stage:stage_event"/>
				<xs:element ref="shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_last_followup"/>
						<xs:element ref="shared:month_of_last_followup"/>
						<xs:element ref="shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_last_followup"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_death"/>
						<xs:element ref="shared:month_of_death"/>
						<xs:element ref="shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="shared:days_to_death"/>
				</xs:choice>
				<xs:element ref="shared:person_neoplasm_cancer_status"/>
				<xs:element ref="shared:patient_death_reason"/>
				<xs:element ref="source_of_patient_death_reason"/>
				<xs:element ref="shared:tobacco_smoking_history"/>
				<xs:element ref="shared:year_of_tobacco_smoking_onset"/>
				<xs:element ref="shared:stopped_smoking_year"/>
				<xs:element ref="shared:number_pack_years_smoked"/>
				<xs:element ref="alcohol_history_documented"/>
				<xs:element ref="alcoholic_exposure_category"/>
				<xs:element ref="frequency_of_alcohol_consumption"/>
				<xs:element ref="amt_alcohol_consumption_per_day"/>
				<xs:element ref="history_of_diabetes"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="month_of_diabetes_onset"/>
						<xs:element ref="day_of_diabetes_onset"/>
						<xs:element ref="year_of_diabetes_onset"/>
					</xs:sequence>
					<xs:element ref="days_to_diabetes_onset"/>
				</xs:choice>
				<xs:element ref="history_of_chronic_pancreatitis"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="month_of_pancreatitis_onset"/>
						<xs:element ref="day_of_pancreatitis_onset"/>
						<xs:element ref="year_of_pancreatitis_onset"/>
					</xs:sequence>
					<xs:element ref="days_to_pancreatitis_onset"/>
				</xs:choice>
				<xs:element ref="family_history_of_cancer"/>
				<xs:element ref="relative_cancer_types"/>
				<xs:element ref="shared:radiation_therapy" />
				<xs:element ref="shared:targeted_molecular_therapy"/>
				<xs:element ref="shared:primary_therapy_outcome_success" />
				<xs:element ref="paad_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
				<xs:choice>
					<xs:annotation>
					<xs:documentation xml:lang="en">
						Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
						If modifications are made after the form is marked complete, this date should not change.
					</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
				
				<xs:element ref="follow_ups"/>
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				<xs:element ref="clinical_cqcf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="follow_up_v4.4:follow_up" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="clinical_cqcf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shared:anatomic_neoplasm_subdivision"/>
				<xs:element ref="cqcf:history_of_prior_malignancy"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:element ref="cqcf:consent_or_death_status"/>
				<xs:choice>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="cqcf:day_of_consent"/>
							<xs:element ref="cqcf:month_of_consent"/>
							<xs:element ref="cqcf:year_of_consent"/>
						</xs:sequence>
						<xs:element ref="cqcf:days_to_consent"/>
					</xs:choice>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="shared:day_of_death"/>
							<xs:element ref="shared:month_of_death"/>
							<xs:element ref="shared:year_of_death"/>
						</xs:sequence>
						<xs:element ref="shared:days_to_death"/>
					</xs:choice>
				</xs:choice>
				<xs:element ref="cqcf:diagnosis_subtype"/>
				<xs:element ref="shared:prior_dx"/>
				<xs:element ref="cqcf:normal_tissue_anatomic_site" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:normal_tissue_proximity" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:tumor_type" maxOccurs="unbounded"/>
				<xs:element ref="shared:histological_type"/>
				<xs:element ref="cqcf:other_anatomic_site"/>
				<xs:element ref="cqcf:other_anatomic_site_normal_tissue" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="relative_cancer_types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relative_cancer_type" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="relative_cancer_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Breast"/>
					<xs:enumeration value="Lung Adenocarcinoma"/>
					<xs:enumeration value="Lung Squamous Cell Carcinoma"/>
					<xs:enumeration value="Melanoma"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Pancreas"/>
					<xs:attribute name="cde" type="xs:string" default="3457764"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="family_history_of_cancer">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2436860"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="days_to_pancreatitis_onset">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3457771"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="year_of_pancreatitis_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_year">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457763"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="day_of_pancreatitis_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_day">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457762"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="month_of_pancreatitis_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_month">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457761"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="history_of_chronic_pancreatitis" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457760"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="days_to_diabetes_onset">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3457768"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="year_of_diabetes_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_year">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457739"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="day_of_diabetes_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_day">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457738"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="month_of_diabetes_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_month">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457737"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="history_of_diabetes" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3197322"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="amt_alcohol_consumption_per_day" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3124961" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="frequency_of_alcohol_consumption" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3114013" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="alcoholic_exposure_category" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="None"/>
					<xs:enumeration value="Occasional Drinker"/>
					<xs:enumeration value="Social Drinker"/>
					<xs:enumeration value="Weekly Drinker"/>
					<xs:enumeration value="Daily Drinker"/>
					<xs:enumeration value="Not Evaluated"/>
					<xs:enumeration value="Unknown"/>
					<xs:attribute name="cde" type="xs:string" default="3457767"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="alcohol_history_documented" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2201918"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="adenocarcinoma_invasion">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3027106"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="4.6"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="tumor_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Primary"/>
					<xs:attribute name="cde" type="xs:string" default="3288124"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="surgery_performed_type" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Whipple"/>
					<xs:enumeration value="Total Pancreatectomy"/>
					<xs:enumeration value="Distal Pancreatectomy"/>
					<xs:enumeration value="Other Method (please specify)"/>
					<xs:attribute name="cde" type="xs:string" default="3121809"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="surgery_performed_type_other" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3121814"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="histologic_grading_tier_category" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Four Tier"/>
					<xs:enumeration value="Three Tier"/>
					<xs:attribute name="cde" type="xs:string" default="3385981"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="maximum_tumor_dimension" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="64215" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="source_of_patient_death_reason" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Death Certificate"/>
					<xs:enumeration value="Medical Record"/>
					<xs:enumeration value="Autopsy"/>
					<xs:attribute name="cde" type="xs:string" default="2390921"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
