trunk/common-jaxb/src/main/resources/schema/TCGA_BCR.Metadata.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.6"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:utility="http://tcga.nci/bcr/xml/utility/2.6"
           xmlns:admin="http://tcga.nci/bcr/xml/administration/2.6"
           xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.6"
           xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.6"
           xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.6"
           xmlns="http://tcga.nci/bcr/xml/metadata" targetNamespace="http://tcga.nci/bcr/xml/metadata"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="gov.nih.nci.ncicb.tcga.dcc.common.jaxb.generated"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of BCR XML metadata elements</xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.6"
               schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.6/TCGA_BCR.Utility.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.6"
               schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.6/TCGA_BCR.Administration.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.6"
               schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/biospecimen/shared/2.6"
               schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/biospecimen/2.6/TCGA_BCR.Shared_Bio_Elements.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.6"
               schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.6/TCGA_BCR.Radiation.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.6"
               schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.6/TCGA_BCR.Pharmaceutical.xsd"/>

    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:all>
                <xs:element ref="admin:admin"/>
                <xs:element ref="patient"/>
                <xs:element ref="controls" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.6"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="controls">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="control" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="control">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="control_element" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="aliquots_to_diseases" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="control_element_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cell_line_control"/>
            <xs:enumeration value="normal_normal_control"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="control_element" type="control_element_type"/>

    <xs:element name="aliquots_to_diseases">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="disease_code_list" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="bcr_aliquot_barcode" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="bcr_aliquot_uuid" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="disease_code_list" type="disease_code_list_type"/>

    <xs:simpleType name="disease_code_list_type">
        <xs:list itemType="disease_code_type"/>
    </xs:simpleType>

    <xs:simpleType name="disease_code_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="."/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="patient">
        <xs:complexType>
            <xs:all>
                <xs:element ref="bcr_patient_barcode"/>
                <xs:element ref="bcr_patient_uuid"/>
                <xs:element ref="shared:tissue_source_site"/>
                <xs:element ref="shared:patient_id"/>
                <xs:element ref="samples" minOccurs="0"/>
                <xs:element ref="drugs" minOccurs="0"/>
                <xs:element ref="radiations" minOccurs="0"/>
                <xs:element ref="examinations" minOccurs="0"/>
                <xs:element ref="surgeries" minOccurs="0"/>
                <xs:element ref="microsatellite_instability_test_results" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_patient_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="patient_barcode">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default="2673794"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="patient_barcode">
        <xs:restriction base="xs:string">
            <xs:pattern value="TCGA-[A-Z0-9]{2}-[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="bcr_patient_uuid" type="bcr_uuid"/>

    <xs:element name="samples">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="sample"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sample">
        <xs:complexType>
            <xs:all>
                <xs:element ref="bcr_sample_barcode"/>
                <xs:element ref="bcr_sample_uuid"/>
                <xs:element ref="sample_type_id"/>
                <xs:element ref="vial_number"/>
                <xs:element ref="sample_type"/>
                <xs:element ref="portions"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="sample_type_id" nillable="false">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:common_res_attributes">
                    <xs:enumeration value="01"/>
                    <xs:enumeration value="02"/>
                    <xs:enumeration value="03"/>
                    <xs:enumeration value="04"/>
                    <xs:enumeration value="05"/>
                    <xs:enumeration value="06"/>
                    <xs:enumeration value="07"/>
                    <xs:enumeration value="08"/>
                    <xs:enumeration value="09"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                    <xs:enumeration value="13"/>
                    <xs:enumeration value="14"/>
                    <xs:enumeration value="20"/>
                    <xs:enumeration value="50"/>
                    <xs:enumeration value="60"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="vial_number" nillable="false">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:common_res_attributes">
                    <xs:length value="1"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="sample_type">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:common_res_attributes">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="Blood Derived Normal"/>
                    <xs:enumeration value="Buccal Cell Normal"/>
                    <xs:enumeration value="Cell Line Control"/>
                    <xs:enumeration value="DNA"/>
                    <xs:enumeration value="EBV Immortalized Normal"/>
                    <xs:enumeration value="GenomePlex (Rubicon) Amplified DNA"/>
                    <xs:enumeration value="Primary Blood Derived Cancer - Peripheral Blood"/>
                    <xs:enumeration value="Primary Tumor"/>
                    <xs:enumeration value="Recurrent Blood Derived Cancer"/>
                    <xs:enumeration value="Recurrent Tumor"/>
                    <xs:enumeration value="Repli-G (Qiagen) DNA"/>
                    <xs:enumeration value="Repli-G X (Qiagen) DNA"/>
                    <xs:enumeration value="RNA"/>
                    <xs:enumeration value="Slides"/>
                    <xs:enumeration value="Solid Tissue Normal"/>
                    <xs:enumeration value="Total RNA"/>
                    <xs:enumeration value="Metastatic"/>
                    <xs:enumeration value="Additional - New Primary"/>
                    <xs:enumeration value="Additional Metastatic"/>
                    <xs:enumeration value="Human Tumor Original Cells"/>
                    <xs:enumeration value="Primary Blood Derived Cancer - Bone Marrow"/>
                    <xs:enumeration value="Cell Lines"/>
                    <xs:enumeration value="Xenograft Tissue"/>
                    <xs:enumeration value="Bone Marrow Normal"/>
                    <xs:attribute name="cde" type="xs:string" default="2673865"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_sample_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default="2673864"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_sample_uuid" type="bcr_uuid"/>

    <xs:element name="portions">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="shipment_portion"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="portion"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="shipment_portion">
        <xs:complexType>
            <xs:all>
                <xs:element ref="portion_number"/>
                <xs:element ref="plate_id"/>
                <xs:element ref="center_id"/>
                <xs:element ref="shipment_portion_bcr_aliquot_barcode"/>
                <xs:element ref="bcr_shipment_portion_uuid"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="shipment_portion_bcr_aliquot_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_shipment_portion_uuid" nillable="true"
                type="bcr_uuid"/>

    <xs:element name="portion">
        <xs:complexType>
            <xs:all>
                <xs:element ref="portion_number"/>
                <xs:element ref="bcr_portion_barcode"/>
                <xs:element ref="bcr_portion_uuid"/>
                <xs:element ref="analytes"/>
                <xs:element ref="slides"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="portion_number" nillable="false">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_portion_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_portion_uuid" type="bcr_uuid"/>

    <xs:element name="analytes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="analyte"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="analyte">
        <xs:complexType>
            <xs:all>
                <xs:element ref="analyte_type_id"/>
                <xs:element ref="analyte_type"/>
                <xs:element ref="bcr_analyte_barcode"/>
                <xs:element ref="bcr_analyte_uuid"/>
                <xs:element ref="aliquots"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="analyte_type_id" nillable="false">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:common_res_attributes">
                    <xs:enumeration value="D"/>
                    <xs:enumeration value="G"/>
                    <xs:enumeration value="H"/>
                    <xs:enumeration value="R"/>
                    <xs:enumeration value="T"/>
                    <xs:enumeration value="W"/>
                    <xs:enumeration value="X"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="analyte_type">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:common_res_attributes">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="DNA"/>
                    <xs:enumeration value="EBV Immortalized Normal"/>
                    <xs:enumeration value="GenomePlex (Rubicon) Amplified DNA"/>
                    <xs:enumeration value="Repli-G (Qiagen) DNA"/>
                    <xs:enumeration value="Repli-G X (Qiagen) DNA"/>
                    <xs:enumeration value="RNA"/>
                    <xs:enumeration value="Total RNA"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_analyte_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default="2673835"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_analyte_uuid" type="bcr_uuid"/>

    <xs:element name="aliquots">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="aliquot"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="aliquot">
        <xs:complexType>
            <xs:all>
                <xs:element ref="plate_id"/>
                <xs:element ref="center_id"/>
                <xs:element ref="bcr_aliquot_barcode"/>
                <xs:element ref="bcr_aliquot_uuid"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="plate_id" nillable="false">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:common_res_attributes">
                    <xs:length value="4"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="center_id" nillable="false">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_aliquot_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_aliquot_uuid" type="bcr_uuid"/>

    <xs:element name="slides">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="slide"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="slide">
        <xs:complexType>
            <xs:all>
                <xs:element ref="section_location"/>
                <xs:element ref="bcr_slide_barcode"/>
                <xs:element ref="bcr_slide_uuid"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="section_location">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:common_res_attributes">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="TOP"/>
                    <xs:enumeration value="BOTTOM"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_slide_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default=""/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_slide_uuid" type="bcr_uuid"/>

    <xs:element name="drugs">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="drug"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="drug">
        <xs:complexType>
            <xs:all>
                <xs:element ref="rx:bcr_drug_barcode"/>
                <xs:element ref="rx:bcr_drug_uuid"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="radiations">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="radiation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="radiation">
        <xs:complexType>
            <xs:all>
                <xs:element ref="rad:bcr_radiation_barcode"/>
                <xs:element ref="rad:bcr_radiation_uuid"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="examinations">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="examination"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="examination">
        <xs:complexType>
            <xs:all>
                <xs:element ref="bcr_examination_barcode"/>
                <xs:element ref="bcr_examination_uuid"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_examination_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_examination_uuid" type="bcr_uuid"/>

    <xs:element name="surgeries">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="surgery"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="surgery">
        <xs:complexType>
            <xs:all>
                <xs:element ref="bcr_surgery_barcode"/>
                <xs:element ref="bcr_surgery_uuid"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_surgery_barcode">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default="2003586"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bcr_surgery_uuid" type="bcr_uuid"/>

    <xs:element name="microsatellite_instability_test_results">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="microsatellite_instability_test_result"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="microsatellite_instability_test_result">
        <xs:complexType>
            <xs:all>
                <xs:element ref="bcr_aliquot_uuid"/>
                <xs:element ref="mononucleotide_and_dinucleotide_marker_panel_analysis_status"/>
                <xs:element ref="mononucleotide_marker_panel_analysis_status"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="mononucleotide_and_dinucleotide_marker_panel_analysis_status" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="Indeterminate"/>
                    <xs:enumeration value="MSI-H"/>
                    <xs:enumeration value="MSI-L"/>
                    <xs:enumeration value="MSS"/>
                    <xs:enumeration value="Not Tested"/>
                    <xs:attribute name="cde" type="xs:string" default="3226962"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="mononucleotide_marker_panel_analysis_status" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="Indeterminate"/>
                    <xs:enumeration value="MSI-H"/>
                    <xs:enumeration value="MSI-L"/>
                    <xs:enumeration value="MSS"/>
                    <xs:enumeration value="Not Tested"/>
                    <xs:attribute name="cde" type="xs:string" default="3226963"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="bcr_uuid">
        <xs:simpleContent>
            <xs:extension base="uuid">
                <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                <xs:attribute name="cde" type="xs:string" default=""/>
                <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>