trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/skcm/2.4/TCGA_BCR.SKCM_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.SKCM_Clinical.xsd 15087 2012-01-31 01:16:33Z jensenma $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/skcm/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/skcm/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
  
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.skcm"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the SKCM study.</xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />    
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
			
				<xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
				<xs:element ref="shared:bcr_patient_barcode" /> 
                <xs:element ref="shared:bcr_patient_uuid" />
				<xs:element ref="shared:informed_consent_verified" />  
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
				
                <xs:element ref="tissue_prospective_collection_indicator" />
                <xs:element ref="tissue_retrospective_collection_indicator" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" /> 
                        <xs:element ref="shared:month_of_birth" /> 
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                <xs:element ref="shared:gender" />
				<xs:element ref="shared:height" />
                <xs:element ref="shared:weight" />
                <xs:element ref="shared:race" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:vital_status" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
				<xs:element ref="shared:person_neoplasm_cancer_status" />
                
				<xs:element ref="shared:ajcc_cancer_staging_handbook_edition" />
                <xs:element ref="ajcc_tumor_stage_code" />
                <xs:element ref="ajcc_neoplasm_disease_lymph_node_stage" />
                <xs:element ref="ajcc_cancer_metastasis_stage_code" />
                <xs:element ref="ajcc_neoplasm_disease_stage" />
				
				<xs:element ref="primary_neoplasm_melanoma_diagnosis_indicator" />
				<xs:element ref="malignant_neoplasm_primary_site" />
				<xs:element ref="malignant_neoplasm_primary_site_specify" />
				<xs:element ref="radiation_therapy_primary_neoplasm_administered_indicator" />
				<xs:element ref="primary_tumor_multiple_present_ind" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
				
				<xs:element ref="breslow_depth_value" />
				<xs:element ref="shared:tumor_tissue_site" />
				<xs:element ref="melanoma_ulceration_indicator" />
				<xs:element ref="primary_other_site_of_disease_name" />
				<xs:element ref="melanoma_origin_skin_anatomic_site" />
				<xs:element ref="malignant_neoplasm_mitotic_count_rate_square_mm_value" />
				<xs:element ref="shared:pretreatment_history" />
				<xs:element ref="prior_systemic_therapy_type" />
				<xs:element ref="interferon_90_day_prior_excision_admin_indicator" />
				<xs:element ref="lab_procedure_lactate_dehydrogenase_summary" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="tissue_prospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088492" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tissue_retrospective_collection_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3088528" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="primary_neoplasm_melanoma_diagnosis_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3108462" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="malignant_neoplasm_primary_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Neck" />
                    <xs:enumeration value="Trunk" />
                    <xs:enumeration value="Upper extremity" />
                    <xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="64937" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="malignant_neoplasm_primary_site_specify" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="61390" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	<xs:element name="radiation_therapy_primary_neoplasm_administered_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3162807" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="primary_tumor_multiple_present_ind" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="64186" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="breslow_depth_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2593055" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	<xs:element name="melanoma_ulceration_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3108478" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	<xs:element name="primary_other_site_of_disease_name" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2584114" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="melanoma_origin_skin_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Non-glabrous skin" />
                    <xs:attribute name="cde" type="xs:string" default="3108474" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="malignant_neoplasm_mitotic_count_rate_square_mm_value" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3119292" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	<xs:element name="prior_systemic_therapy_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Interferon" />
					<xs:enumeration value="Chemotherapy" />
					<xs:enumeration value="Immunotherapy/Vaccine" />
					<xs:enumeration value="Radiation" />
					<xs:enumeration value="Other" />
                    <xs:attribute name="cde" type="xs:string" default="3119700" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="interferon_90_day_prior_excision_admin_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3162803" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>	
	
	<xs:element name="lab_procedure_lactate_dehydrogenase_summary" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Elevated" />
					<xs:enumeration value="Low" />
					<xs:enumeration value="Normal" />
                    <xs:attribute name="cde" type="xs:string" default="3113468" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="ajcc_tumor_stage_code" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value="" />
					<xs:enumeration value="T0" />
					<xs:enumeration value="Ta" />
					<xs:enumeration value="T1" />
					<xs:enumeration value="T1a" />
					<xs:enumeration value="T1a1" />
					<xs:enumeration value="T1a2" />
					<xs:enumeration value="T1b" />
					<xs:enumeration value="T1c" />
					<xs:enumeration value="T1mi" />
					<xs:enumeration value="T2" />
					<xs:enumeration value="T2a" />
					<xs:enumeration value="T2a1" />
					<xs:enumeration value="T2a2" />
					<xs:enumeration value="T2b" />
					<xs:enumeration value="T2c" />
					<xs:enumeration value="T3" />
					<xs:enumeration value="T3a" />
					<xs:enumeration value="T3b" />
					<xs:enumeration value="T3c" />
					<xs:enumeration value="T4" />
					<xs:enumeration value="T4a" />
					<xs:enumeration value="T4b" />
					<xs:enumeration value="T4c" />
					<xs:enumeration value="T4d" />
					<xs:enumeration value="Tis" />
					<xs:enumeration value="Tis (DCIS)" />
					<xs:enumeration value="Tis (LCIS)" />
					<xs:enumeration value="Tis (Paget's)" />
					<xs:enumeration value="TX" />
					<xs:attribute name="cde" type="xs:string" default="3045435" />
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
					<xs:attribute name="tier" type="xs:string" default="1" />
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ajcc_neoplasm_disease_lymph_node_stage" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value="" />
					<xs:enumeration value="NX" />
					<xs:enumeration value="N0" />
					<xs:enumeration value="N0 (i-)" />
					<xs:enumeration value="N0 (i+)" />
					<xs:enumeration value="N0 (mol-)" />
					<xs:enumeration value="N0 (mol+)" />
					<xs:enumeration value="N1" />
					<xs:enumeration value="N1mi" />
					<xs:enumeration value="N1a" />
					<xs:enumeration value="N1b" />
					<xs:enumeration value="N1bI" />
					<xs:enumeration value="N1bII" />
					<xs:enumeration value="N1bIII" />
					<xs:enumeration value="N1bIV" />
					<xs:enumeration value="N1c" />
					<xs:enumeration value="N2" />
					<xs:enumeration value="N2a" />
					<xs:enumeration value="N2b" />
					<xs:enumeration value="N3" />
					<xs:enumeration value="N3a" />
					<xs:enumeration value="N3b" />
					<xs:enumeration value="N3c" />
					<xs:enumeration value="N4" />
					<xs:attribute name="cde" type="xs:string" default="3203106" />
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
					<xs:attribute name="tier" type="xs:string" default="1" />
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		
	<xs:element name="ajcc_cancer_metastasis_stage_code" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value="" />
					<xs:enumeration value="cM0 (i+)" />
					<xs:enumeration value="M0" />
					<xs:enumeration value="M1" />
					<xs:enumeration value="M1a" />
					<xs:enumeration value="M1b" />
					<xs:enumeration value="M1c" />
					<xs:enumeration value="MX" />
					<xs:attribute name="cde" type="xs:string" default="3045439" />
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
					<xs:attribute name="tier" type="xs:string" default="1" />
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ajcc_neoplasm_disease_stage" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value="" />
					<xs:enumeration value="Stage X" />
					<xs:enumeration value="Stage Tis" />
					<xs:enumeration value="Stage 0" />
					<xs:enumeration value="Stage I" />
					<xs:enumeration value="Stage IA" />
					<xs:enumeration value="Stage IB" />
					<xs:enumeration value="Stage II" />
					<xs:enumeration value="Stage IIA" />
					<xs:enumeration value="Stage IIB" />
					<xs:enumeration value="Stage IIC" />
					<xs:enumeration value="Stage III" />
					<xs:enumeration value="Stage IIIA" />
					<xs:enumeration value="Stage IIIB" />
					<xs:enumeration value="Stage IIIC" />
					<xs:enumeration value="Stage IV" />
					<xs:enumeration value="Stage IVA" />
					<xs:enumeration value="Stage IVB" />
					<xs:enumeration value="Stage IIA Cervix" />
					<xs:enumeration value="Stage II Cervix" />
					<xs:enumeration value="Stage IB2" />
					<xs:enumeration value="Stage IB1" />
					<xs:enumeration value="Stage IB Cervix" />
					<xs:enumeration value="Stage IA2" />
					<xs:enumeration value="Stage IA1" />
					<xs:enumeration value="Stage IVC" />
					<xs:enumeration value="Stage 0is" /> 
					<xs:enumeration value="Stage 0a" />
					<xs:attribute name="cde" type="xs:string" default="3203222" />
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
					<xs:attribute name="tier" type="xs:string" default="2" />
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
</xs:schema>