trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd24/trunk/BCR/tcga.nci/bcr/xml/clinical/kirp/2.4/TCGA_BCR.KIRP_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.KIRP_Clinical.xsd 15086 2012-01-31 00:51:24Z jensenma $ -->

<xs:schema elementFormDefault="qualified" version="2.4.5"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.4"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.4"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.4"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.4"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4"
  xmlns="http://tcga.nci/bcr/xml/clinical/kirp/2.4"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/kirp/2.4"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.kirp"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
  
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the KIRP study.</xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.4/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.4/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.4/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.4/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.4" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.4/TCGA_BCR.Pharmaceutical.xsd" />

    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
      
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.4"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="histological_type" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:vital_status" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" />
                        <xs:element ref="shared:month_of_last_known_alive" />
                        <xs:element ref="shared:year_of_last_known_alive" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_last_known_alive" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
        
                <xs:element ref="shared:race" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="shared:performance_status_scale_timing" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
          
                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                
                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
        
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>
          
                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="shared:ajcc_cancer_staging_handbook_edition" minOccurs="0" maxOccurs="1" />
        
                <!-- Disease specific elements. -->
                <xs:element ref="laterality" />
                <xs:element ref="lactate_dehydrogenase_result" />
                <xs:element ref="serum_calcium_result" />
                <xs:element ref="hemoglobin_result" />
                <xs:element ref="platelet_qualitative_result" />
                <xs:element ref="white_cell_count_result" />
                <xs:element ref="erythrocyte_sedimentation_rate_result" />
                <xs:element ref="number_of_lymphnodes_examined" />
                <xs:element ref="number_of_lymphnodes_positive" />
                <xs:element ref="primary_tumor_pathologic_spread" />
                <xs:element ref="lymphnode_pathologic_spread" />
                <xs:element ref="distant_metastasis_pathologic_spread" />
                <xs:element ref="karnofsky_performance_score" />
                <xs:element ref="eastern_cancer_oncology_group" />
                <xs:element ref="lymphnodes_examined_prior_presentation" />
                <xs:element ref="tumor_type" />
                <xs:element ref="tumor_stage" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="histological_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3081934" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="primary_therapy_outcome_success" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="PROGRESSIVE DISEASE" />
                    <xs:enumeration value="STABLE DISEASE" />
                    <xs:enumeration value="PARTIAL RESPONSE" />
                    <xs:enumeration value="COMPLETE RESPONSE" />
                    <xs:attribute name="cde" type="xs:string" default="2786727" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="karnofsky_performance_score" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="10" />
                    <xs:enumeration value="20" />
                    <xs:enumeration value="30" />
                    <xs:enumeration value="40" />
                    <xs:enumeration value="50" />
                    <xs:enumeration value="60" />
                    <xs:enumeration value="70" />
                    <xs:enumeration value="80" />
                    <xs:enumeration value="90" />
                    <xs:enumeration value="100" />
                    <xs:attribute name="cde" type="xs:string" default="2003853" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.8" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="eastern_cancer_oncology_group">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:attribute name="cde" type="xs:string" default="88" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="primary_tumor_pathologic_spread" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="TX" />
                    <xs:enumeration value="T0" />
                    <xs:enumeration value="T1" />
                    <xs:enumeration value="T1a" />
                    <xs:enumeration value="T1b" />
                    <xs:enumeration value="T2" />
                    <xs:enumeration value="T2a" />
                    <xs:enumeration value="T2b" />
                    <xs:enumeration value="T3" />
                    <xs:enumeration value="T3a" />
                    <xs:enumeration value="T3b" />
                    <xs:enumeration value="T3c" />
                    <xs:enumeration value="T4" />
                    <xs:enumeration value="T4a" />
                    <xs:enumeration value="T4b" />
                    <xs:attribute name="cde" type="xs:string" default="3045435" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lymphnode_pathologic_spread" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="NX" />
                    <xs:enumeration value="N0" />
                    <xs:enumeration value="N1" />
                    <xs:attribute name="cde" type="xs:string" default="3065858" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="distant_metastasis_pathologic_spread" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="M0" />
                    <xs:enumeration value="M1" />
                    <xs:enumeration value="MX" />
                    <xs:attribute name="cde" type="xs:string" default="3045439" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lymphnodes_examined_prior_presentation">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2200396" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="number_of_lymphnodes_examined" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="number_of_lymphnodes_positive" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="89" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="erythrocyte_sedimentation_rate_result" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Elevated" />
                    <xs:enumeration value="Normal" />
                    <xs:attribute name="cde" type="xs:string" default="3104952" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="white_cell_count_result" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Elevated" />
                    <xs:enumeration value="Normal" />
                    <xs:enumeration value="Low" />
                    <xs:attribute name="cde" type="xs:string" default="3104948" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="platelet_qualitative_result" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Elevated" />
                    <xs:enumeration value="Normal" />
                    <xs:enumeration value="Low" />
                    <xs:attribute name="cde" type="xs:string" default="3104944" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="hemoglobin_result" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Elevated" />
                    <xs:enumeration value="Normal" />
                    <xs:enumeration value="Low" />
                    <xs:attribute name="cde" type="xs:string" default="3113466" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="serum_calcium_result" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Elevated" />
                    <xs:enumeration value="Normal" />
                    <xs:enumeration value="Low" />
                    <xs:attribute name="cde" type="xs:string" default="3113470" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="lactate_dehydrogenase_result" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Elevated" />
                    <xs:enumeration value="Normal" />
                    <xs:attribute name="cde" type="xs:string" default="3113468" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="laterality" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Right" />
                    <xs:enumeration value="Left" />
                    <xs:enumeration value="Bilateral" />
                    <xs:attribute name="cde" type="xs:string" default="827" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.1" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_type" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Type 1" />
                    <xs:enumeration value="Type 2" />
                    <xs:attribute name="cde" type="xs:string" default="3104937" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tumor_stage" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Stage I" />
                    <xs:enumeration value="Stage II" />
                    <xs:enumeration value="Stage III" />
                    <xs:enumeration value="Stage IV" />
                    <xs:attribute name="cde" type="xs:string" default="3065862" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.11" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
