trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/trunk/BCR/tcga.nci/bcr/xml/clinical/sarc/2.5/TCGA_BCR.SARC_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id -->

<xs:schema elementFormDefault="qualified" version="2.5.6" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5"
  xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.5"
  xmlns:sarc_shared="http://tcga.nci/bcr/xml/clinical/sarc/shared/2.5"  
  xmlns:sarc_nte="http://tcga.nci/bcr/xml/clinical/sarc/shared/new_tumor_event/2.5/1.0"
  xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/sarc/followup/2.5/4.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/sarc/2.5"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/sarc/2.5"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the sarc study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.5/TCGA_BCR.CQCF.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/sarc/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/sarc/shared/2.5/TCGA_BCR.SARC_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/sarc/shared/new_tumor_event/2.5/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/sarc/shared/2.5/TCGA_BCR.SARC_Clinical_NTEs.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/sarc/followup/2.5/4.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/sarc/followup/2.5/TCGA_BCR.SARC_Clinical_FollowUp_v4.0.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />
                  
                <xs:element ref="shared:tissue_prospective_collection_indicator" /> <!-- 1 : ProspectiveCollection -->
                <xs:element ref="shared:tissue_retrospective_collection_indicator" /> <!-- 2 : RetrospectiveCollection -->
				
				<!-- Start of the Patient tab on the Enrollment form -->
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" /> <!-- 2 : DayOfBirth -->
                        <xs:element ref="shared:month_of_birth" /> <!-- 1 : MonthOfBirth -->
                        <xs:element ref="shared:year_of_birth" /> <!-- 3 : YearOfBirth -->
                    </xs:sequence>
                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" /> <!-- 4 : Gender -->
                <xs:element ref="shared:race" /> <!-- 5 : Race -->
                <xs:element ref="shared:ethnicity" /> <!-- 6 : Ethnicity -->
                <xs:element ref="shared:prior_dx" /> <!-- 7 : PriorTumor -->
                <xs:element ref="shared:history_of_neoadjuvant_treatment" /> <!-- 8 : NeoAdjuvantTherapy -->
                <xs:element ref="shared:vital_status" /> <!-- 9 : VitalStatus -->
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" /> <!-- 11 : DayOfLastContact -->
                        <xs:element ref="shared:month_of_last_followup" /> <!-- 10 : MonthOfLastContact -->
                        <xs:element ref="shared:year_of_last_followup" /> <!-- 11 : YearOfLastContact -->
                    </xs:sequence>
                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>
				
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" /> <!-- 13 : DayOfDeath -->
                        <xs:element ref="shared:month_of_death" /> <!-- 12 : MonthOfDeath -->
                        <xs:element ref="shared:year_of_death" /> <!-- 14 :  YearOfDeath -->
                    </xs:sequence>
                    <xs:element ref="shared:days_to_death" />
                </xs:choice>
				
				<xs:element ref="shared:radiation_therapy" />
				<xs:element ref="shared:postoperative_rx_tx" />
				<xs:element ref="shared:person_neoplasm_cancer_status" />
				<xs:element ref="primary_pathology" />
				<xs:element ref="sarc_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
				<xs:choice>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
							If modifications are made after the form is marked complete, this date should not change.
						</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />  
                        <xs:element ref="shared:month_of_form_completion" />  
                        <xs:element ref="shared:year_of_form_completion" />  
                    </xs:sequence>
                    <xs:element ref="shared:days_to_form_completion" />   
                </xs:choice> 
				
                <xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                <xs:element ref="clinical_cqcf" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="tumor_anatomic_sites" nillable="true">
		<xs:complexType>
          <xs:sequence >
            <xs:element ref="shared:tumor_anatomic_site" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
	</xs:element>
	
	<!-- Start of the Path tab on the Enrollment form  -->
	<xs:element name="primary_pathology" nillable="true">
		<xs:complexType>
			<xs:sequence >
				<xs:element ref="sarc_shared:histological_type" /><!-- 1 : HistologicalSubtype -->
				<xs:element ref="sarc_shared:leiomyosarcoma_histologic_subtype"> <!-- 2 : LMSHistologicalSubtype -->
				<xs:annotation>
					<xs:documentation>
						This field is conditional on whether 'histological_type' has the value 'Leiomyosarcoma (LMS)'
						This field will only be applicable when 'histological_type' has the value 'Leiomyosarcoma (LMS)'
					</xs:documentation>
				</xs:annotation>
				</xs:element>
				<xs:element ref="sarc_shared:primary_tumor_lower_uterus_segment"> <!-- 3 : LMSUterineInvolvement -->
					<xs:annotation>
						<xs:documentation>
							This field is conditional on whether 'histological_type' has the value 'Leiomyosarcoma (LMS)'
							This field will only be applicable when 'histological_type' has the value 'Leiomyosarcoma (LMS)'
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="sarc_shared:leiomyosarcoma_major_vessel_involvement"><!-- 4 : LMSMajorVesselInvolvement -->
					<xs:annotation>
						<xs:documentation>
							This field is conditional on whether 'histological_type' has the value 'Leiomyosarcoma (LMS)'
							This field will only be applicable when 'histological_type' has the value 'Leiomyosarcoma (LMS)'
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="sarc_shared:tumor_depth" /><!-- 5 : TumorDepth -->
				<xs:element ref="tumor_anatomic_sites" /><!-- 6 : PrimarySiteOfDisease -->
				<xs:element ref="shared:primary_other_site_of_disease_name" /><!-- 7 : OPSOD -->
				<xs:choice>
					<xs:sequence>
						<xs:element ref="shared:day_of_initial_pathologic_diagnosis" /> <!-- 9 : DayOfInitialPathologicalDiagnosis -->
						<xs:element ref="shared:month_of_initial_pathologic_diagnosis" /> <!-- 8 : MonthOfInitialPathologicalDiagnosis -->
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
						<xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
					</xs:sequence>
				</xs:choice>
				<xs:element ref="shared:year_of_initial_pathologic_diagnosis" /> <!-- 10 : YearOfInitialPathologicalDiagnosis -->	
				<xs:element ref="shared:margin_status" /> <!-- 11 : Marg_Stat -->
				<xs:element ref="shared:residual_tumor" /> <!-- 12 : ResidualTumor -->
				<xs:element ref="sarc_shared:tumor_total_necrosis_percent" /> <!-- 13 : NecrosisOfTotalTumor -->
				<xs:element ref="sarc_shared:specific_tumor_total_necrosis_percent" /> <!-- 14 : PercentNecrosisOfTotalTumor -->
				<xs:element ref="sarc_shared:mitotic_count" /><!-- 15 : MitoticCount --> 
				<xs:element ref="sarc_shared:tumor_multifocal" /><!-- 16 : IsDiseaseMultifocal -->
				<xs:element ref="sarc_shared:discontiguous_lesion_count" /><!-- 17 : NumberOfDiscontiguousLesions -->
				<xs:element ref="sarc_shared:tumor_sizes" /><!-- 18 thought 41 : NumberOfDiscontiguousLesions -->
				<xs:element ref="sarc_shared:radiologic_tumor_burden" /><!-- 42 : RadiologicTumorBurden -->
				<xs:element ref="sarc_shared:pathologic_tumor_burden" /><!-- 43 : PathologicTumorBurden -->
				<xs:element ref="sarc_shared:local_disease_recurrence" /><!-- 44 : LocoregionalRecurrence -->
				<xs:element ref="sarc_shared:metastatic_neoplasm_confirmed" /><!-- 45 : MetastasisRadiologicEvidence -->
				<xs:element ref="shared:metastatic_site_at_diagnosis" /><!-- 46 : LocationOfMetastasis -->
				<xs:element ref="shared:metastatic_site_at_diagnosis_other" /><!-- 47 : OtherLocationOfMetastasis -->
				<xs:element ref="sarc_shared:contiguous_organ_resection_site" /><!-- 48 : ContinuousOrganResection -->
				<xs:element ref="sarc_shared:other_contiguous_organ_resection_site" /><!-- 49 : OtherContinuousOrganResection -->
				<xs:element ref="sarc_shared:contiguous_organ_invaded" /><!-- 50 : ContinuousOrganInvaded -->
				<xs:element ref="sarc_shared:well_differentiated_liposarcoma_primary_dx" /><!-- 51 : PrimaryDiagWellDifferentiatedLiposarcoma -->
				<xs:choice>
					<xs:sequence>
						<xs:element ref="sarc_shared:day_of_well_differentiated_liposarcoma_primary_dx" /> 
						<xs:element ref="sarc_shared:month_of_well_differentiated_liposarcoma_primary_dx" /> 
						<xs:element ref="sarc_shared:year_of_well_differentiated_liposarcoma_primary_dx" />
					</xs:sequence>
					<xs:element ref="sarc_shared:days_to_well_differentiated_liposarcoma_primary_dx" />
				</xs:choice>
				
				<xs:choice>
					<xs:sequence>
						<xs:element ref="sarc_shared:day_of_well_differentiated_liposarcoma_resection" /> 
						<xs:element ref="sarc_shared:month_of_well_differentiated_liposarcoma_resection" /> 
						<xs:element ref="sarc_shared:year_of_well_differentiated_liposarcoma_resection" />
					</xs:sequence>
					<xs:element ref="sarc_shared:days_to_well_differentiated_liposarcoma_resection" />
				</xs:choice>
		
			</xs:sequence >		
        </xs:complexType>
	</xs:element>
	
	
	<xs:element name="follow_ups">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="follow_up_v4.0:follow_up_v4.0" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="clinical_cqcf">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:anatomic_organ_subdivision"/>
                <xs:element ref="cqcf:consent_or_death_status"/>
                
                <xs:choice>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element ref="cqcf:day_of_consent"/>
                            <xs:element ref="cqcf:month_of_consent"/>
                            <xs:element ref="cqcf:year_of_consent"/>
                        </xs:sequence>
                        <xs:element ref="cqcf:days_to_consent"/>
                    </xs:choice>
                    
                    <xs:choice>
                        <xs:sequence>
                            <xs:element ref="shared:day_of_death"/>
                            <xs:element ref="shared:month_of_death"/>
                            <xs:element ref="shared:year_of_death"/>
                        </xs:sequence>
                        <xs:element ref="shared:days_to_death"/>
                    </xs:choice>
                </xs:choice>
                
                <xs:element ref="cqcf:diagnosis_subtype"/>
                <xs:element ref="shared:prior_diagnosis"/>
                <xs:element ref="cqcf:history_of_neoadjuvant_treatment"/>
                <xs:element ref="cqcf:normal_tissue_anatomic_site"/>
                <xs:element ref="cqcf:normal_tissue_proximity"/>
                <xs:element ref="cqcf:tumor_focality"/>
                <xs:element ref="cqcf:tumor_type"/>
				<xs:element ref="cqcf:other_diagnosis"/>
                <xs:element ref="cqcf:histological_subtype" minOccurs="0"/>
                <xs:element ref="cqcf:other_anatomic_site" minOccurs="0"/>
                <xs:element ref="cqcf:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
