trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd26/tags/xsd26-release-031413/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_LUSC_LUAD_Elements.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Ken Burnett (IGC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:utility="http://tcga.nci/bcr/xml/utility/2.6" 
 xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.6" 
 xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.6" 
 xmlns="http://tcga.nci/bcr/xml/clinical/shared/lusc_luad/2.6" 
 targetNamespace="http://tcga.nci/bcr/xml/clinical/shared/lusc_luad/2.6" 
 elementFormDefault="qualified" 
 version="2.6.0">
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.6/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.6/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.6" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.6/TCGA_BCR.CQCF.xsd"/>
	<xs:element name="egfr_mutation_result" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="G719X"/>
					<xs:enumeration value="Exon 19 Deletion"/>
					<xs:enumeration value="Exon 20 Insertion"/>
					<xs:enumeration value="T790M"/>
					<xs:enumeration value="L858R"/>
					<xs:enumeration value="L861Q"/>
					<xs:enumeration value="Other"/>
					<xs:attribute name="cde" type="xs:string" default="3147627"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="eml4_alk_translocation_result" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Variant 1"/>
					<xs:enumeration value="Variant 2"/>
					<xs:enumeration value="Variant 3"/>
					<xs:enumeration value="Variant 4"/>
					<xs:enumeration value="Variant 5"/>
					<xs:attribute name="cde" type="xs:string" default="3139445"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="eml4_alk_translocation_method" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="IHC"/>
					<xs:enumeration value="FISH"/>
					<xs:enumeration value="RT-PCR"/>
					<xs:enumeration value="Other"/>
					<xs:attribute name="cde" type="xs:string" default="3139449"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="egfr_mutation_performed" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3139429"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="eml4_alk_translocation_performed" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3139437"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="diagnosis" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3081932"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="location_in_lung_parenchyma" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Peripheral Lung"/>
					<xs:enumeration value="Central Lung"/>
					<xs:attribute name="cde" type="xs:string" default="3139453"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kras_mutation_result" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="G12A"/>
					<xs:enumeration value="G12C"/>
					<xs:enumeration value="G12D"/>
					<xs:enumeration value="G12R"/>
					<xs:enumeration value="G12S"/>
					<xs:enumeration value="G12V"/>
					<xs:enumeration value="G13D"/>
					<xs:enumeration value="Other"/>
					<xs:attribute name="cde" type="xs:string" default="3147614"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kras_mutation_found" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2932340"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kras_gene_analysis_performed" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3123147"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pulmonary_function_test_performed" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2556486"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pre_bronchodilator_fev1_percent" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3302947"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="post_bronchodilator_fev1_percent" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3302948"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pre_bronchodilator_fev1_fvc_percent" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3302955"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="post_bronchodilator_fev1_fvc_percent" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3302956"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="dlco_predictive_percent" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="2180255"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
<xs:element name="clinical_cqcf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shared:anatomic_neoplasm_subdivision"/>
				<xs:element ref="cqcf:history_of_prior_malignancy"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:element ref="cqcf:consent_or_death_status"/>
				<xs:choice>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="cqcf:day_of_consent"/>
							<xs:element ref="cqcf:month_of_consent"/>
							<xs:element ref="cqcf:year_of_consent"/>
						</xs:sequence>
						<xs:element ref="cqcf:days_to_consent"/>
					</xs:choice>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="shared:day_of_death"/>
							<xs:element ref="shared:month_of_death"/>
							<xs:element ref="shared:year_of_death"/>
						</xs:sequence>
						<xs:element ref="shared:days_to_death"/>
					</xs:choice>
				</xs:choice>
				<xs:element ref="cqcf:diagnosis_subtype"/>
				<xs:element ref="shared:prior_dx"/>
				<xs:element ref="cqcf:normal_tissue_anatomic_site" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:normal_tissue_proximity" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:tumor_type" maxOccurs="unbounded"/>
				<xs:element ref="shared:histological_type" />
				<xs:element ref="cqcf:other_anatomic_site" />
				<xs:element ref="cqcf:other_anatomic_site_normal_tissue" maxOccurs="unbounded"/>
				<xs:element ref="cqcf:country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
