trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.5_release/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_New_Tumor_Event_Elements.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.5.5"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
  xmlns="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.5"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.5">

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />

	<xs:element name="new_neoplasm_event_occurrence_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Anus" />
                    <xs:enumeration value="Bladder" />
                    <xs:enumeration value="Bone" />
                    <xs:enumeration value="Brain" />
                    <xs:enumeration value="Cervical Lymph Node" />
                    <xs:enumeration value="Cervix" />
					<xs:enumeration value="Colon" />
                    <xs:enumeration value="Distant Metastasis" />
					<xs:enumeration value="Distant Metastasis " />
					<xs:enumeration value="Extremities" />
                    <xs:enumeration value="Head &amp; Neck" />
                    <xs:enumeration value="Hypopharynx" />
                    <xs:enumeration value="Larynx" />
                    <xs:enumeration value="Liver" />
                    <xs:enumeration value="Lung" />
                    <xs:enumeration value="Lymph Node Only" />
                    <xs:enumeration value="Non-regional / Distant Lymph Nodes" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:enumeration value="Oral Cavity" />
                    <xs:enumeration value="Oropharynx" />
                    <xs:enumeration value="Other, specify" />
                    <xs:enumeration value="Peritoneal Surfaces" />
					<xs:enumeration value="Prostate" />
                    <xs:enumeration value="Renal Pelvis" />
					<xs:enumeration value="Tumor Bed" />
                    <xs:enumeration value="Ureter" />
                    <xs:enumeration value="Urethra" />
                    <xs:enumeration value="Vulva" />
					<xs:enumeration value="Soft Tissue" />
                    <xs:attribute name="cde" type="xs:string" default="3108271" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_neoplasm_occurrence_anatomic_site_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3128033" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_pharmaceutical_therapy" nillable="true">
		<xs:annotation>
			<xs:documentation>
				The CDE has been changed form 2650646 to 3427616
			</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427616" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_radiation_therapy" nillable="true">
		<xs:annotation>
			<xs:documentation>
				The CDE has been changed FROM 3008761 to 3427615.
			</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427615" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="progression_determined_by">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Laboratory" />
                    <xs:enumeration value="Pathology" />
                    <xs:enumeration value="Radiation" />
                    <xs:enumeration value="Physical Examination" />
                    <xs:enumeration value="Imaging Study" />
                    <xs:enumeration value="Molecular Marker(S)" />
                    <xs:enumeration value="First Seen At Further Surgery" />
                    <xs:enumeration value="Biopsy with Histologic Confirmation" />
                    <xs:enumeration value="Convincing Imaging" />
                    <xs:enumeration value="Positive Biomarker (s)" />
                    <xs:enumeration value="Other Method: Specify In Notes" />
                    <xs:attribute name="cde" type="xs:string" default="2786205" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="month_of_additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897032" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897034" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="year_of_additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897036" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_additional_surgery_locoregional_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3408572" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="month_of_additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897038" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897040" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="year_of_additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897042" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_additional_surgery_metastatic_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3408682" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3008755" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3008757" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104042" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="month_of_new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104044" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="year_of_new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104046" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_new_tumor_event_after_initial_treatment">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3392464" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_neoplasm_event_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Biochemical evidence of disease" />
                    <xs:enumeration value="Both Locoregional and Distant Metastasis" />
                    <xs:enumeration value="Distant Metastasis" />
                    <xs:enumeration value="Extrahepatic Recurrence" />
                    <xs:enumeration value="Intrahepatic Recurrence" />
                    <xs:enumeration value="Locoregional (Urothelial tumor event)" />
                    <xs:enumeration value="Locoregional Disease" />
                    <xs:enumeration value="Locoregional Recurrence" />
                    <xs:enumeration value="Metastatic" />
					<xs:enumeration value="New primary melanoma" />
                    <xs:enumeration value="New Primary Tumor" />
                    <xs:enumeration value="No New Tumor Event" />
                    <xs:enumeration value="Not Applicable" />
                    <xs:enumeration value="Recurrence" />
					<xs:enumeration value="Regional lymph node" />
                    <xs:attribute name="cde" type="xs:string" default="3119721" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3121376" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	
	<xs:element name="new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427611" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427613" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="month_of_new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427612" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="year_of_new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427614" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_new_tumor_event_additional_surgery_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="3008335" />
                    <xs:attribute name="tier" type="xs:string" default="1" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="residual_disease_post_new_tumor_event_margin_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="R0" />
                    <xs:enumeration value="R1" />
                    <xs:enumeration value="R2" />
                    <xs:enumeration value="RX" />
                    <xs:attribute name="cde" type="xs:string" default="3104061" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	
</xs:schema>
