trunk/tcga-qc/TCGA-Core/binfs/bcr/xsd25/tags/xsd_2.5.5_release/BCR/tcga.nci/bcr/xml/clinical/coad/2.5/TCGA_BCR.COAD_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id: TCGA_BCR.COAD_Clinical.xsd 1259 2011-09-26 21:49:51Z kburnett $ -->

<xs:schema elementFormDefault="qualified" version="2.5.5"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.5"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.5"
  xmlns:shared="http://tcga.nci/bcr/xml/clinical/shared/2.5"
  xmlns:coad_read_shared="http://tcga.nci/bcr/xml/clinical/shared/coad_read/2.5"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.5"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5"
  xmlns:cqcf="http://tcga.nci/bcr/xml/clinical/cqcf/2.5"
  xmlns:follow_up_v1.0="http://tcga.nci/bcr/xml/clinical/coad/followup/2.5/1.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/coad/2.5"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/coad/2.5"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" >

    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="nci.tcga.bcr.xml.jaxb.clinical.coad"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the COAD study.</xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.5/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.5/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.5/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.5/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/cqcf/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/cqcf/2.5/TCGA_BCR.CQCF.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/coad/followup/2.5/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/coad/followup/2.5/TCGA_BCR.COAD_Clinical_FollowUp_v1.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/coad_read/2.5" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.5/TCGA_BCR.Shared_Clinical_COAD_READ_Elements.xsd" />


    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>

            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.5"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:tumor_tissue_site" />
                <xs:element ref="coad_read_shared:histological_type" />
                <xs:element ref="shared:prior_diagnosis" />
                <xs:element ref="shared:gender" />
                <xs:element ref="shared:vital_status" />

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_birth" />
                        <xs:element ref="shared:month_of_birth" />
                        <xs:element ref="shared:year_of_birth" />
                    </xs:sequence>

                    <xs:element ref="shared:days_to_birth" />
                </xs:choice>

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_known_alive" />
                        <xs:element ref="shared:month_of_last_known_alive" />
                        <xs:element ref="shared:year_of_last_known_alive" />
                    </xs:sequence>

                    <xs:element ref="shared:days_to_last_known_alive" />
                </xs:choice>

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_death" />
                        <xs:element ref="shared:month_of_death" />
                        <xs:element ref="shared:year_of_death" />
                    </xs:sequence>

                    <xs:element ref="shared:days_to_death" />
                </xs:choice>

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_last_followup" />
                        <xs:element ref="shared:month_of_last_followup" />
                        <xs:element ref="shared:year_of_last_followup" />
                    </xs:sequence>

                    <xs:element ref="shared:days_to_last_followup" />
                </xs:choice>

                <xs:element ref="shared:race" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="shared:pretreatment_history" />
                <xs:element ref="shared:informed_consent_verified" />
                <xs:element ref="shared:icd_o_3_site" />
                <xs:element ref="shared:icd_o_3_histology" />
                <xs:element ref="shared:icd_10" />

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>

                    <xs:sequence>
                        <xs:element ref="shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>

                <xs:element ref="shared:year_of_initial_pathologic_diagnosis" />
                <xs:element ref="shared:person_neoplasm_cancer_status" />
                <xs:element ref="shared:ethnicity" />
                <xs:element ref="shared:weight" />
                <xs:element ref="shared:height" />

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_form_completion" />
                        <xs:element ref="shared:month_of_form_completion" />
                        <xs:element ref="shared:year_of_form_completion" />
                    </xs:sequence>

                    <xs:element ref="shared:days_to_form_completion" />
                </xs:choice>

                <xs:element ref="shared:residual_tumor" />
                <xs:element ref="shared:anatomic_organ_subdivision" minOccurs="0"/>
				<xs:element ref="coad_read_shared:anatomic_site_colorectal" minOccurs="0"/>
                <xs:element ref="shared:primary_lymph_node_presentation_assessment" />
                <xs:element ref="shared:lymph_node_examined_count" />
                <xs:element ref="shared:number_of_lymphnodes_positive_by_he" />
                <xs:element ref="shared:number_of_lymphnodes_positive_by_ihc" />
                
                <xs:element ref="shared:ajcc_cancer_staging_handbook_edition" minOccurs="0" maxOccurs="1" />      
                
                <xs:element ref="coad_read_shared:tumor_stage" />
                <xs:element ref="coad_read_shared:primary_tumor_pathologic_spread" />
                <xs:element ref="coad_read_shared:lymphnode_pathologic_spread" />
                <xs:element ref="coad_read_shared:distant_metastasis_pathologic_spread" />
                <xs:element ref="coad_read_shared:preoperative_pretreatment_cea_level" />
                <xs:element ref="coad_read_shared:non_nodal_tumor_deposits" />
                <xs:element ref="coad_read_shared:circumferential_resection_margin" />
                <xs:element ref="shared:venous_invasion" />
                <xs:element ref="shared:lymphatic_invasion" />
                <xs:element ref="coad_read_shared:perineural_invasion_present" />
                <xs:element ref="coad_read_shared:microsatellite_instability" />
                <xs:element ref="coad_read_shared:number_of_loci_tested" />
                <xs:element ref="coad_read_shared:number_of_abnormal_loci" />
                <xs:element ref="coad_read_shared:kras_gene_analysis_performed" />
                <xs:element ref="coad_read_shared:kras_mutation_found" />
                <xs:element ref="coad_read_shared:kras_mutation_codon" />
                <xs:element ref="coad_read_shared:braf_gene_analysis_performed" />
                <xs:element ref="coad_read_shared:braf_gene_analysis_result" />
                <xs:element ref="coad_read_shared:synchronous_colon_cancer_present" />
                <xs:element ref="coad_read_shared:history_of_colon_polyps" />
                <xs:element ref="coad_read_shared:colon_polyps_present" />
                <xs:element ref="coad_read_shared:loss_expression_of_mismatch_repair_proteins_by_ihc" />
                <xs:element ref="coad_read_shared:loss_expression_of_mismatch_repair_proteins_by_ihc_results" />
                <xs:element ref="coad_read_shared:number_of_first_degree_relatives_with_cancer_diagnosis" />
                
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                <xs:element ref="coad_read_shared:clinical_cqcf" />
                <xs:element ref="follow_ups" />
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="follow_ups">
	   <xs:annotation>
		  <xs:documentation>We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
	   </xs:annotation>
	   <xs:complexType>
		  <xs:sequence>
			 <xs:element ref="follow_up_v1.0:follow_up_v1.0" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	   </xs:complexType>
	</xs:element>
</xs:schema>
